 /* ==UserStyle==
@name Gmail Tighter + Wider Label Menus
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Gmail-Tighter-+-Wider-Label-Menus.user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
/*
/*  Super-compresses the label menu and makes it wider too
/*  If you have many-nested labels and/or long-named labels, more of them will show!  
/*
/*
*/

/* tighter, smaller text */

.J-M {
    font-size: .65rem;
    line-height: .8rem;
}

.agd.aYO.jQjAxd.aX1 {
     Width: 30rem;
}

/* minimum width  J-M-Jz.aXjCH {} */


/*  the 20rem pad widens the dropdown */

.J-N, J-LC, .J-JK {
    padding: 2px 20rem 6px 30px;
}


/* makes check boxes smaller and closer to label names */

.J-LC-Jo {
    height: 15px;
    margin-left: -20px;
    width: 15px;
}

