 /* ==UserStyle==
@name Gmail Tighter than More Compact
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Gmail-Tighter-than-More-Compact.user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
/*
/*  Modified version of 
/*   “Gmail 2018 Skin Tight” by Kelly “STrRedWolf” Price
/*   (from Userstyles.org)
/*	— from her description: “When "Compact" is too damn fat. Trims padding and adjusts fonts to be even tighter. See more mail.”
/* 	MJAshburne made things a bit tighter and more compact 
*/



body, td, input, textarea, select {
	font-family: Arial,Helvetica,sans-serif;
}

.nM {
	font-size: .65rem;
}

.z0 > .L3 {
    font-family: Arial, Helvetica, sans-serif;
	border-radius: 8px;
	height: 21px;
	
}

.z0 > .L3::before {
    height: 21px;
	background-size: 21px;
}

.TK .TO, .n6 .ah9, .CL {
    -moz-border-radius: 0;
    border-radius: 0;
    box-sizing: border-box;
    width: 100%;
}

.TO .nU > .n0, .TO.NQ .nU > .n0, .TO.nZ .nU > .n0, .ah9 > .CJ, .n3 > .CL > .CK {
   font-family: Arial,Helvetica,sans-serif;
    font-size: .65rem;
    letter-spacing: .2px;
    color: rgba(255,255,255,1);
    text-shadow: 0 1px 2px rgba(0,0,0,.65);

}

.TN {
	height: 17px;
}

.z0 {
	height: 21px;
	margin: 4px;
}

.zA {
	padding-bottom: 2px;
	padding-top: 2px;
}

.xY {
	font-size: .8rem;
}

.yW {
	font-family: Arial,Helvetica,sans-serif;
	font-size: .65rem;
}

.ar {
	font-family: Arial,Helvetica,sans-serif;	
	border-radius: 0;
	font-size: .55rem;
}

.zA > .a4W {
    font-family: Arial,Helvetica,sans-serif;
    font-size: .65rem;
    letter-spacing: .2px;

}

