 /* ==UserStyle==
@name Gmail notification popup shrinker
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Gmail-notification-popup-shrinker.user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
/* Make that temporary pop up in the lower left corner smaller so it doesn't cover up Inbox content on smaller or lower-resolution displays  */
/* This code isn't very tidy but it shrinks the pop up -- it's a work in progress by n00b Michael Ashburne */

/* bAp  */

.ag,
.a8k, .ag .a8k,
.aT
.b8,
.a8k,
.bAo,
.bAq,
.bBe,
.bBf, bBf,
.UB,
.UC,
.UD,
.vh
.ZB {
    font-family: Arial Narrow, Helvetica, Arial, sans-serif;
    font-size: .65rem !important;
}

.vh,
.bAq {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 1px 2px 1px rgba(60, 64, 67, 0.149);
    letter-spacing: .2px;
    background-color: #202124;
    border: none;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    bottom: 0;
    left: 0;
    margin: 2px;
    max-width: 500px;
    padding: 1px 3px;
    padding-right: 2px;
}

b8 .bAo > .ad {
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 1px;
    font-weight: 500;
    height: 16px;
    margin-left: 1px;
    min-width: auto;
    padding: 0 1px;
}



bAo {
    height: 12px;
    margin-left: 1px;
    margin-right: auto;
}

b8 {
    height: 12px;
    width: 12px;
    background-size: 14px;
}


element.style {
}
<style>
.bAp.b8.UC .vh {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 2px 4px 2px rgba(60,64,67,0.149);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .2px;
    -webkit-align-items: center;
    align-items: center;
    background-color: #999;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    bottom: 0;
    color: #5f6368;
    margin: 12px;
    max-width: 500px;
    padding: 4px 12px;
    padding-right: 26px;
}



