 /* ==UserStyle==
@name Gmail more Compact than Compact (from Userstyles)
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Gmail-more-Compact-than-Compact-(from-Userstyles).user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
/*
/*   “Gmail 2018 Skin Tight” by Kelly “STrRedWolf” Price
/*   (from Userstyles.org)
/*    — from her description: “When "Compact" is too damn fat. Trims padding and adjusts fonts to be even tighter. See more mail.”
/*     ...except for these initial comments, code is unchanged from original, just added to collection simplify access and use by other Aspiritechnicians. ;-)
/*
*/

@-moz-document domain("mail.google.com")
{
  body, td, input, textarea, select
  {
    font-family: Arial,Helvetica,sans-serif;
  }

  .nM
  {
    font-size: .75rem;
  }

  .z0 > .L3
  {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    height: 24px;
  }

  .z0 > .L3::before
  {
    height: 24px;
    background-size: 24px;
  }

  .TK .TO, .n6 .ah9, .CL
  {
    -moz-border-radius: 0;
    border-radius: 0;
    box-sizing: border-box;
    width: 100%;
  }

  .TO .nU > .n0, .TO.NQ .nU > .n0, .TO.nZ .nU > .n0, .ah9 > .CJ, .n3 > .CL > .CK
  {
    font-family: Arial,Helvetica,sans-serif;
    font-size: .75rem;
    letter-spacing: .2px;
    color: rgba(255,255,255,1);
    text-shadow: 0 1px 2px rgba(0,0,0,.65);
  }

  .TN
  {
    height: 20px;
  }

  .z0
  {
    height: 24px;
    margin: 4px;
  }

  .zA
  {
    padding-bottom: 2px;
    padding-top: 2px;
  }

  .xY
  {
    font-size: .875rem;
  }

  .yW
  {
    font-family: Arial,Helvetica,sans-serif;
    font-size: .75rem;
  }

  .ar
  {
    font-family: Arial,Helvetica,sans-serif;
    border-radius: 0;
    font-size: .7rem;
  }

  .zA > .a4W
  {
    font-family: Arial,Helvetica,sans-serif;
    font-size: .75rem;
    letter-spacing: .2px;
  }
}
