/* ==UserStyle==
@name       	Google Drive Dark
@version    	1.0.0
@description	Google Drive Dark theme for Stylish
@namespace  	http://www.w3.org/1999/xhtml
@homepageURL	https://github.com/SicariusNoctis/Stylish-Google-Drive-Dark
@supportURL 	https://github.com/SicariusNoctis/Stylish-Google-Drive-Dark/issues
@author     	Mateen Ulhaq
@license    	GPL
==/UserStyle== */


@-moz-document /*[[theme_drive]]*/, /*[[theme_docs]]*/, /*[[theme_sheets]]*/, /*[[theme_sheets_canvas]]*/
{
  :root
  {
	--page-bgrnd-color: /*[[page_bgrnd_color]]*/;
	--normal-text-color:  /*[[normal_text_color]]*/;
	--caret-border-color: /*[[caret_border_color]]*/;
	--caret-glow-color:   /*[[caret_glow_color]]*/;
	--home-sidebar-color: /*[[home_sidebar_color]]*/;
	--home-list-color:	/*[[home_list_color]]*/;
  }
}

@-moz-document /*[[theme_drive]]*/
{

  html, body, .drive_main_page
  {
	background: #333 !important;
  }

  input
  {
	background: #444 !important;
	color: #aaa !important;
  }

/* Header bar */
  .gb_ad,
  .gb_ce, .gb_de, .gb_ge, .gb_he, .gb_je, .gb_re, .gb_se, .gb_ue, .gb_we,
  .docs-material-appbar #docs-header .docs-titlebar-buttons
  {
	background: var(--home-sidebar-color) !important;
  }

  /* +<Google+ Username> */
  #gb#gb a.gb_P, #gb#gb span.gb_P
  {
	color: #aaa !important;
  }

  /* Search bar whole panel default background */
  #gb *
  {
	background: #333;
  }

  /* Search bar outer box */
  .gbqfqw
  {
	background: #444 !important;
  }

  /* Search bar inner search items */
  .a-s-yd-Zj
  {
	background-color: #333 !important;
	color: #aaa !important;
  }

  /* Search bar dropdown button */
  .gb_2d.a-nb-Va-d-Gk-M
  {
	filter: invert(1);
  }

  /* Logo, icons */
  .gb_ga.gb_2
  {
	filter: invert(1);
  }

/* Toolbar */
  .a-D-B-x
  {
	filter: invert(89%);
	background: #fdfdfd !important;
	box-shadow: none !important;
	border-bottom: 1px solid #F0F0F0 !important;
  }

/* Files */
/* List view */
  .a-t,
  .a-t-cb span, /* + */
  .a-gd-Oa-Tl /* + */
  {
	background: var(--home-list-color) !important;
	color: #ccc !important;
  }

  /* List view folder background */
  .a-t-j.a-t-gc-xl
  {
	background: var(--home-list-color) !important;
  }

  /* List view sort bar */
  .a-t-D
  {
	filter: invert(85%);
	background: #fcfcfc !important;
  }

  /* Grid view */
  /* Grid view background */
  .a-u-j
  {
	background-color: #333333 !important;
  }

  /* Grid view. Item background */
  .l-u-Ab-zb
  {
	background: #555 !important;
  }

  .l-u-xb
  {
	background: #444 !important;
  }

  /* Grid view folder tab */
  .l-u-o-V-j
  {
	background-color: #272727 !important;
  }

  /* Grid view folder tab icon */
  .l-u-o-c-j
  {
	background-color: #222222 !important;
  }

  /* Grid view selected folder tab */
  .l-u-ha .l-u-o-V-j
  {
	background-color: #4285F4 !important;
  }

  /* Grid view selected folder tab icon */
  .l-u-ha .l-u-o-c-j
  {
	background-color: #4285F4 !important;
  }

  /* Grid view document names */
  .l-u-V
  {
	color: #ddd !important;
  }

  /* Left Sidebar */
  .a-qc-La,
  .a-da-Mf-B-ji-j,
  [class^=a-U-J], /* list items */
  .xd-cr-lv   	/* storage used label */
  {
	background: var(--home-sidebar-color) !important;
	color: #ccc !important;
	font-family: Arial !important;
  }

  /* Hovered item */
  :not(.a-U-ye-ha) > .a-U-J:hover
  {
	background: none !important;
  }

  /* Selected item */
  .a-U-ag-da > .a-U-H
  {
	background-color: #4285F4 !important;
  }

  /* Selected item text */
  .a-U-ag-da > .a-U-H > .a-U-H-s
  {
	color: #E9E5D4 !important;
  }

  /* Right sidebar */
  /* Sidebar Background */
  .a-ub-j,
  .a-ub-Gd div
  {
	background: var(--home-sidebar-color) !important;
  }

  /* Document Title */
  .a-Mg-V-T
  {
	color: #ddd !important;
  }

  /* Selected Tab */
  .a-ub-ra-B > .h-ra-B > .h-ra-ha
  {
	color: #aaa !important;
  }

  /* Unselected Tab */
  .a-ub-ra-B > .h-ra-B > .h-ra
  {
	color: #888 !important;
  }

  /* Details Tab */

  /* Details Text */
  .a-q-Jc-bj,
  [class^=a-q-Ed-] *
  {
	color: #ccc !important;
  }

  /* Activity Tab */

  /* Activity Content Background */
  .y-E-j
  {
	background: #202020 !important;
  }

  /* Activity Content Headings ("Earlier this week") */
  .y-C-Ed-V
  {
	color: #aaa !important;
  }

  /* Activity Content Heading - Scrolled up*/
  .y-E-gh-D .y-C-Ed-V
  {
	background: #202020 !important;
	opacity: 0.9 !important;
  }

  /* Activity Content */
  .y-C
  {
	background-color: #333 !important;
  }

  /* Activity Content Document Names */
  .y-C-q-j,
  .y-C-H-Sb,
  .y-E-Xc-Ma-hi-r /* No recorded activity... label */
  {
	color: #ccc !important;
  }

  /* Activity Content Dates */
  .y-C-at
  {
	color: #888 !important;
  }

  /* Activity Content Action ("You created an item in") */
  .y-C-q-D
  {
	color: #aaa !important;
  }

  /* Popup messages */
  /* Google Photos message */
  .a-fa-vg-Q
  {
	background-color: #444 !important;
  }

  /* Storage usage */
  .ml-pp *
  {
	background-color: #333 !important;
	color: #ccc !important;
  }
}

@-moz-document /*[[theme_docs]]*/
{

  /* PAGE */

  .kix-page,
  .kix-page-content-wrapper
  {
	background: var(--page-bgrnd-color) !important;
  }

  .kix-page-paginated,
  .kix-paginateddocumentplugin-compact-mode
  {
	box-shadow: none !important;
  }

  .kix-page span,
  .kix-wordhtmlgenerator-word-node
  {
	filter: invert(1) hue-rotate(180deg);
  }

  .navigation-widget,
  .navigation-item-content
  {
	color: var(--normal-text-color) !important;
  }

  .kix-cursor-caret
  {
	display: block !important;
	border-color: var(--caret-border-color) !important;
	box-shadow: 0 0 0px  var(--caret-glow-color),
            	0 0 15px var(--caret-glow-color),
            	0 0 50px var(--caret-glow-color);
  }

  /* Print Layout disabled fixes */

  .kix-paginateddocumentplugin-compact-mode
  {
	border: 1px solid #111 !important;
  }

	/* Unique selector for .docs-ui-unprintable */
  .kix-paginateddocumentplugin > div:nth-child(3)
  {
	background: var(--page-bgrnd-color) !important;
  }

  /* Background */

  #docs-editor
  {
	background: #111 !important;
  }

  /* Ruler */
  #kix-ruler
  {
	border-bottom: none !important;
  }

  .kix-ruler-background-inner
  {
	background: #444 !important;
  }

  .kix-ruler-face-number
  {
	color: #aaa !important;
  }

  .kix-ruler-face-minor-division, .kix-ruler-face-major-division
  {
	border-left: 1px solid #aaa !important;
  }

  /* Embedded tables */
  td.kix-tablerenderer-td
  {
	border-color: #757575 !important;
  }

  /* Navigation and Menu */

  /* Equation toolbar */
  .kix-equation-toolbar-icon, .kix-equation-toolbar-palette
  {
	filter: invert(1);
  }

  .kix-equation-toolbar-palette-item
  {
	border: 1px solid #444 !important;
  }

  /* Toolbar Menu Search */
  .goog-toolbar
  {
	background: #444 !important;
  }

  .docs-omnibox-input
  {
	background: #333 !important;
	color: #aaa !important;
  }

  .jfk-textinput
  {
	border-color: #555 !important;
  }

  .docs-omnibox-autocomplete .ac-renderer
  {
	background: #555 !important;
	box-shadow: 0 0 1px #444,
            	0 0 2px #444,
            	0 0 4px #444;
	border: 1px solid #666 !important;
  }

  .docs-omnibox-autocomplete .ac-active
  {
	background: #333 !important;
  }
}

@-moz-document /*[[theme_sheets]]*/
{

  /* Formula bar */
  #formula-bar
  {
	background: #333 !important;
  }

  #t-formula-bar-input
  {
	background: #333 !important;
	color: #ddd !important;
  }

	/* Input box */
  .cell-input
  {
	filter: brightness(60%) saturate(250%) contrast(500%) invert(100%) hue-rotate(180deg);
  }

	/* Input box: text only (pre-input box filter) */
  .formula-content
  {
	filter: contrast(80%);
	color: #DA64FF !important;
  }

  .formula-content > .insert-range-indicator
  {
	background: #6D6F00 !important;
  }

  .default-formula-text-color
  {
	color: #4ECFE4 !important;
  }

  .formula-content > .number
  {
	color: #FF93F6 !important;
  }

  .formula-content > .match-paren
  {
	background-color: #666 !important;
	font-weight: 900 !important;
	letter-spacing: 2px !important;
  }

  .formula-content > .inactive
  {
	opacity: 0.7 !important;
  }

  /* Formula -> function autocomplete */
  .waffle-ac-active
  {
	background-color: #441020 !important;
	border-top: 1px solid #333 !important;
	border-bottom: 1px solid #333 !important;
  }

  .waffle-ac-renderer
  {
	background-color: #333 !important;
  }

  .waffle-function-autocomplete-row-name
  {
	color: #FF8888 !important;
  }

  .waffle-arguments-help-body
  {
	border-top: 1px solid #4D353C !important;
  }

  .waffle-function-autocomplete-row-description
  {
	color: #b7b7b7 !important;
  }

  /* Formula -> function help */
  .waffle-arguments-help-title
  {
	background-color: #220710 !important;
	color: #FF8888 !important;
  }

  .waffle-arguments-help-popup
  {
	background-color: #441020 !important;
	color: #b7b7b7 !important;
  }

  .waffle-arguments-help-section-title
  {
	color: #777 !important;
  }

  .waffle-arguments-help-parameter-active
  {
	background-color: #3E3F00 !important;
  }

  /* Random white elements */
  .grid-shim-bottom
  {
	background-color: #636363 !important;
  }

  /* Sheets bar */
  .grid-bottom-bar
  {
	background-color: #1A1A1A !important;
	border-top: 1px solid #777 !important;
  }

  .docs-sheet-tab
  {
	background-color: #222 !important;
	color: #bbb !important;
	border-color: #777 #373737 #333 #373737 !important;
  }

  .docs-sheet-tab-hover
  {
	background-color: #444 !important;
	color: #bbb !important;
	border-color: #777 #373737 #333 #373737 !important;
  }

  .docs-sheet-active-tab
  {
	background-color: #444 !important;
	color: #bbb !important;
	border-color: #777 #373737 #333 #373737 !important;
  }

  .docs-sheet-button-inner-box:hover, .docs-sheet-button-outer-box:hover
  {
	background-color: #444 !important;
	border-color: #444 !important;
  }

  .docs-sheet-button-icon:hover
  {
	filter: invert(1);
  }

  /* Tour button */
  .docs-sheet-message-container-button
  {
	background: #222 !important;
  }

  #docs-sheet-message-container,
  .docs-sheet-status-container
  {
	border-left: 1px solid #333 !important;
  }
}

@-moz-document /*[[theme_sheets_canvas]]*/
{

  /* Canvas */
  /* See http://www.w3.org/TR/selectors/#lex */
  div[id*='grid-table-container'] > canvas
  {
	filter: invert(90%) hue-rotate(180deg);
  }

  .grid-container
  {
	background-color: #111 !important;
  }

  .input-box
  {
	background-color: #333 !important;
	/* color: #eee !important; */;
  }
}


/* COMMON */

@-moz-document /*[[theme_docs]]*/, /*[[theme_sheets]]*/
{

  /* Navigation and Menu */

  #docs-chrome
  {
	background: #333 !important;
	color: #999 !important;
  }

  input
  {
	background: var(--page-bgrnd-color) !important;
	color: #777 !important;
  }

  .docs-title-input,
  .docs-title-input:focus
  {
	color: #777 !important;
  }

  .docs-title-inner
  {
	color: #777 !important;
  }

  .docs-material #docs-header .docs-titlebar-buttons
  {
	background-color: var(--page-bgrnd-color) !important;
  }

  /* Toolbar strip */

  .goog-toolbar-separator.goog-inline-block
  {
	border-left: 1px solid #666 !important;
  }

  #docs-toolbar-wrapper
  {
	background-color: #444 !important;
	background-image: none !important;
	border-color: #777 !important;
	box-shadow: 0px 1px 0px 0px #808080 inset !important;
  }

  .goog-toolbar-button,
  .goog-toolbar-combo-button,
  .goog-toolbar-combo-button-input,
  .goog-toolbar-menu-button
  {
	color: #aaa !important;
	background-color: #444 !important;
  }

  .goog-menu
  {
	background: #555 !important;
	box-shadow: 0 0 1px #444,
            	0 0 2px #444,
            	0 0 4px #444;
	border: 1px solid #666 !important;
  }

  .goog-menuitem, .goog-tristatemenuitem, .goog-filterobsmenuitem
  {
	color: #ddd !important;
  }

  .docs-icon-img:before
  {
	/* invert icon colors */
	filter: invert(1);
  }

  .goog-toolbar-button-selected, .goog-toolbar-button-checked, .goog-toolbar-menu-button-open
  {
	background-image: -moz-linear-gradient(center top , #888, #8F8F8F);
  }

  .goog-toolbar-button-hover, .goog-toolbar-menu-button-hover
  {
	background-image: -moz-linear-gradient(center top , #999, #9F9F9F);
  }
}


