 /* ==UserStyle==
@name Google Clean Dark (from Userstyles)
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Google-Clean-Dark-(from-Userstyles).user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
/*** Main page ***/
body {
    background: #252525!important;
    color: #e8e8e8!important;
}
.footerInner  {
	background: #1b1b1b!important;
	border-color: #333!important;
}
/* Buttons */
.jhp input[type="submit"], .sbdd_a input, .gbqfba, .gb_Fa, .ab_button, #smb, #gbw > div > div > div.gb_yc.gb_xg.gb_R > div.gb_hb.gb_3c.gb_xg.gb_R.gb_g > div.gb_rb.gb_fa.gb_g > div.gb_Eb > div:nth-child(1) > a, #gb_71, .gb_Fa, #gb a.gb_Fa.gb_Fa, .gb_Ha {
    background-image: -moz-linear-gradient(top,#3a3a3a,#313131)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#3a3a3a,#313131)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#3a3a3a,#313131)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#3a3a3a,#313131)!important; /* IE10+ */
	background-image: linear-gradient(top,#3a3a3a,#313131)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1b1b1b',GradientType=0 ); IE6-9 */
	background-color: transparent!important;
    border: none!important;
    color: #8a8a8a!important;
    cursor: pointer!important;
}
.jhp input[type="submit"]:hover, .sbdd_a input:hover, .gbqfba:hover, .gb_Fa:hover, .ab_button:hover, #smb:hover, #gbw > div > div > div.gb_yc.gb_xg.gb_R > div.gb_hb.gb_3c.gb_xg.gb_R.gb_g > div.gb_rb.gb_fa.gb_g > div.gb_Eb > div:nth-child(1) > a:hover, #gb_71:hover, .gb_Fa:hover, #gb a.gb_Fa.gb_Fa:hover, .gb_Ha:hover {
    background-image: -moz-linear-gradient(top,#313131,#3a3a3a)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#313131,#3a3a3a)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#313131,#3a3a3a)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#313131,#3a3a3a)!important; /* IE10+ */
	background-image: linear-gradient(top,#313131,#3a3a3a)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#3a3a3a',GradientType=0 )!important; IE6-9 */
    cursor: pointer!important;
}
/* Doodles */
.ddl-melies-b, .ddl-melies-c {
	background: transparent!important;
}
/* Topbar */
#gb#gb a.gb_P, #gb#gb span.gb_P {
    color: #e8e8e8!important;
}
/* Search */
.sbib_a, .sbsb_a, .RNNXgb, .aajZCb {
    background: #1b1b1b!important;
}
.ac-renderer {
    background-color: #1b1b1b!important;
    border-color: #1b1b1b!important;
}
.ac-active {
    background-color: #333!important;
}
.sbibod {
    background-color: #1b1b1b!important;
}
.gsfi, .lst {
    color: #e8e8e8!important;
    background: #1b1b1b!important;
}
.sbdd_b, .sben_a, .sbl1 {
    color: #adadad!important;
}
.minidiv .sfbg {
	background: #252525!important;
}
.sbsb_d, .sbhl {
    background: #292929!important;
}
.sbpqs_a {
    color: #7547a5;
}
#qbi {
    filter: invert(0.8)!important;
}
._Fnc {
    filter: invert(0.9)!important;
}
#qbdp, #qbup {
    background: #252525!important;
    border-color: #333!important;
    color: #e8e8e8!important;
}
.w8qArf .fl {
	color: #e8e8e8!important;
}
.RNNXgb {
	border-color: transparent!important;
	border-radius: 2px!important;
}
.aajZCb {
	border-radius: 2px;
}
.sbct:first-child .sbtc {
	border-color: #151515!important;
}
#tsf > div:nth-child(2) > div > div.UUbT9 > div.aajZCb > a, .vdLsw span {
	visibility: hidden!important;
	display: none!important;
}
.sbct:first-child .suggestions-inner-container {
	border-color: #171717!important;
}
.spell-diff-red {
    color: #ff2b44!important;
}
/* Account info & settings */
.gb_ga, .gb_Mb {
    background: #252525!important;
    color: #e8e8e8!important;
}
.gb_Ea {
    background: #333;
    border-color: #333;
}
.gb_Eb .gb_Db:hover {
    background: #444;
    border-color: #444;
	cursor: pointer!important;
}
#gb .gb_xb a.gb_Db.gb_Db {
	color: #fff!important;
}
.gb_yb, .gb_ia {
    background: #252525!important;
}
.gb_jb, .gb_qb {
    border-bottom-color: #252525!important;
}
.gb_kb, .gb_rb {
    border-bottom-color: #333!important;
}
.gb_ja, .RAYh1e {
    background: #252525!important;
}
.gb_ka, .gb_Fb, .VmOpGe {
    background: #1b1b1b!important;
}
.gb_Z:hover .gb_3, .gb_Nb:hover {
    background: #333!important;
}
.gb_Z:hover a {
    border: 1px solid #333!important;
}
.gb_3 {
    color: #3296c8!important;
}
.gb_la {
    border-bottom: 1px solid #3a3a3a!important;
}
.gb_4b.gb_b, .gb_4b.gb_Fc.gb_Ec, .gb_Pc .gb_Sc {
    filter: invert(1)!important;
}
.gb_ga, .dU0W2d, .FPFGmf>.znIWoc:only-child:before, .FPFGmf>.znIWoc:after {
    border-color: #333!important;
}
.gb_lb {
    border-bottom-color: #333!important;
}
.gb_ka, .b5sWd {
    border-color: #333!important;
}
.gb_ka {
    background: #333!important;
}
.gb_fa, .gb_Lb {
    background: #252525!important;
    border-color: #333!important;
    color: #8e8e8e!important;
}
.gb_Eb {
    background: transparent!important;
    border-color: #333!important;
    color: #8e8e8e!important;
}
.gb_Mb:hover, .vR13fe[role="button"]:hover, .vR13fe[role="link"]:hover {
    background: #333!important;
}
.gb_Ab, .gb_Wb, .gb_Xb {
    color: #e8e8e8!important;
}
.zW5vrf .to0cd {
	color: #aaa!important;
}
.gb_pb {
    border-bottom-color: #333!important;
}
#gbwa > div.gb_Kc > div.gb_pb, #gbw > div > div > div.gb_yc.gb_xg.gb_R > div.gb_Hc.gb_3c.gb_R.gb_Ic.gb_g > div.gb_Kc > div.gb_pb, #gbw > div > div > div.gb_yc.gb_xg.gb_R > div.gb_hb.gb_3c.gb_xg.gb_R.gb_g > div.gb_Kc.gb_jb.gb_xg.gb_R > div.gb_pb {
    border-bottom-color: #252525!important;
}
#gbwa > div.gb_Kc > div.gb_qb, #gbw > div > div > div.gb_yc.gb_xg.gb_R > div.gb_Hc.gb_3c.gb_R.gb_Ic.gb_g > div.gb_Kc > div.gb_qb, #gbw > div > div > div.gb_yc.gb_xg.gb_R > div.gb_hb.gb_3c.gb_xg.gb_R.gb_g > div.gb_Kc.gb_jb.gb_xg.gb_R > div.gb_qb {
    border-bottom-color: #333!important;
}
/*** Notifications ***/
.gb_fa {
    background: #252525!important;
    border-color: #333!important;
    color: #8e8e8e!important;
}
#gbsfw.gb_Ic {
    background: #333!important;
    border-color: #333!important;
}
.gb_da .gb_b, .gb_Ic .gb_Lc {
    filter: invert(0.9)!important;
}
/*** Search page ***/
.sfbgg {
    background: #252525!important;
    border-color: #333!important
}
.sfbgx {
    background-color: #252525!important;
    border-bottom: 1px solid #1b1b1b!important;
}
.flyr-o, .flyr-w {
    background-color: transparent!important;
}
/* Search tools */
#hdtb, #hdtb.hdtba #hdtbMenus {
    background: #252525!important;
    border-bottom: 1px solid #252525!important;
}
#hdtbSum {
    background: #252525!important;
}
#appbar {
    background: #1b1b1b!important;
}
#hdtb .hdtb-mitem a {
    color: #777!important;
}
#hdtb-more-mn a:hover, #hdtb .hdtb-mitem a:hover, .hdtb-mn-hd:hover, #hdtb-more:hover, #hdtb-tls:hover {
    color: #eaeaea!important;
}
#hdtb-msb .hdtb-tl-sel, #hdtb-msb .hdtb-tl-sel:hover, #hdtb-tls:hover {
    background: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
}
._dMq, .hdtb-mn-o, .hdtb-mn-c, .hdtbItm {
    background: #1b1b1b!important;
}
#hdtb-more-mn a:hover, #cdrlnk:hover, .hdtbItm a:hover, .hdtbItm a:hover {
    background-color: #292929!important;
}
.hdtb-mn-o {
    border: none!important;
}
.mn-dwn-arw {
    border-color: #909090 transparent!important;
}
.cdr_sep {
    border-top: 1px solid #3a3a3a!important;
}
/* Results */
a:link, ._Iqg, ._Fqg, .rtng, .lr_dct_more_btn, .TbwUpd a.fl, .jMtmC, a:hover h3.LC20lb {
    color: #3296c8!important;
}
.a, cite, cite a:link, cite a:visited, .cite, .cite:link, #_bGc>i, .bc a:link {
    color: #dedede!important;
}
.s {
    color: #757575!important;
}
.s .st em, .st.s.std em {
    color: #afafaf!important;
}
._Rm {
    padding-right: 8px!important;
}
#brs .med {
    color: #e8e8e8!important;
}
.mblink:visited, a:visited {
    color: #9558d6;
}
#foot #navcnt .cur, .ktf {
    color: rgba(234, 234, 234, 0.87)!important;
}
._ayg span, ._Jxg span, .fYWO0d, .lr_dct_spkr_off {
    filter: invert(1);
}
.th {
    border-color: #333!important;
}
._zMk, ._zMk._BZt:visited {
    color: rgba(108, 108, 108, 0.87);
}
.klic {
	background-color: transparent!important;
}
.m7VU0c {
	background-color: #252525!important;
	border-color: #333!important;
}
.ab_button, .ab_button:hover {
	background: transparent!important;
}
.ab_dropdown {
	background-color: #252525!important;
}
.action-menu-item:hover {
    background-color: #333;
}
/*** Image search ***/
.irc_rimask.irc_rist {
    outline: 2px solid #3296c8!important;
}
#gsr a._ZR[href]:active, ._ZR[href]:hover, ._ZR[href]:hover span, .irc_but:hover {
    color: #3296c8!important;
}
#sl0:hover {
    background: #c00!important;
}
#sl1:hover {
    background: #fb940b!important;
}
#sl2:hover {
    background: #ff0!important;
}
#sl3:hover {
    background: #0c0!important;
}
#sl4:hover {
    background: #03c0c6!important;
}
#sl5:hover {
    background: #00f!important;
}
#sl6:hover {
    background: #762ca7!important;
}
#sl7:hover {
    background: #ff98bf!important;
}
#sl8:hover {
    background: #fff!important;
}
#sl9:hover {
    background: #999!important;
}
#sl10:hover {
    background: #000!important;
}
#sl11:hover {
    background: #885418!important;
}
#qbp, #qbut .qbctnt, #qbft .qbctnt {
    background: #1b1b1b!important;
}
.qbtbp, .qbtbha.sl {
    background: #252525!important;
    border-color: #333!important;
    color: #8e8e8e!important;
}
.qbtbha .qbtbtxt.qbclr, #qbp {
    color: #8e8e8e!important;
}
.qbh, #qbx {
    filter: invert(0.8)!important;
}
._OQi, #gsr > div:nth-child(n), .EPLo7b {
	border-color: #333!important;
}
#qbut .qbptr, #qbft .qbptr {
	border-bottom-color: #1b1b1b!important;
}
#qbut .qbptr-back, #qbft .qbptr-back {
	border-bottom-color: #161616!important;
}
#gsr > div:nth-child(n) > div > div {
	border-top-color: #333!important;
}
#gsr > div:nth-child(n) > div {
	border-bottom-color: #333!important;
}
.irc_bg {
	background-color: #252525!important;
}
.irc_c, #irc_bgl {
	background-color: #333!important;
}
.ll0QOb {
	background-color: #333!important;
	border-color: #333!important;
}
.THL2l {
    background-color: transparent!important;
}
.eg084e .NDcgDe, .SOS87c {
	background-color: #444!important;
	border-color: #555!important;
}
#irc-cl {
	border-color: #333!important;
}
.eg084e .NDcgDe:hover, .SOS87c:hover, .irc_land .irc_sep {
	background-color: #555!important;
}
#irc_ccbc > svg > circle {
	stroke: #333!important;
	fill: #333!important;
}
#irc-pc .RAEeCc {
	fill: #333!important;
}
#irc-pc .byznQ {
    stroke: #333!important;
}
#irc_ccbc > svg > polygon {
	fill: #ccc!important;
	stroke: #ccc!important;
}
.mVDMnf, .irc_hd, .eg084e .NDcgDe span, .irc_bimg, .yJbeqd {
	color: #aaa!important;
}
.nJGrxf.FnqxG, .irc_bimg .Af3fH {
	color: #777!important;
}
.rg_anbg, .rg_ilmbg {
	background-color: #000000e6!important;
	color: #fff!important;
}
/* Search tools */
.hdtb-mn-o, .hdtb-mn-c {
    border-color: transparent!important;
}
.exybg, .cdr_bg {
    background: rgba(0, 0, 0, 0.8)!important;
}
.exydlg, .cF4V5c {
    background: #252525!important;
    border: none!important;
}
.exyttl, .exymml, .exypx, .ktf.mini {
    color: #e8e8e8 !important;
}
#hdtb.notl div {
    color: #777 !important;
}
.ktf {
    background-color: #1b1b1b!important;
    border: 1px solid #1b1b1b!important;
    border-top: 1px solid #1b1b1b!important;
}
.exyhlt {
    background-color: #383838!important;
}
#exygo {
    color: #ababab!important;
}
.ksb {
    background-color: #383838!important;
	background-image: -moz-linear-gradient(top,#444444,#383838)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#444444,#383838)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#444444,#383838)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#444444,#383838)!important; /* IE10+ */
    background-image: linear-gradient(top,#444444,#383838)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#383838',GradientType=0 )!important; IE6-9 */
    cursor: pointer!important;
	border: none!important;
	border: 1px solid #333!important;
}
.sc {
    background: #1b1b1b!important;
}
.hdtbItm .sc:hover {
    background: #f00!important;
}
.cdr_dlg {
    background: #252525!important;
    border: none!important;
}
.cdr_mml {
    color: #e8e8e8!important;
}
.cdr_highl {
        background-color: #383838!important;
}
.cdr_dlg .goog-date-picker {
    background-color: #383838!important;
}
.rg_fbl {
    border: 1px solid #333!important;
}
.rg_fbl:hover {
    background:rgba(0,0,0,0.2)!important;
}
.rg_bb_layout {
    background: transparent!important;
}
.rg_bb_label {
    color: #bbb!important;
}
.rg_fbl:hover {
    box-shadow: none!Important;
}
#ifbd {
    background: #333!important;
}
.prp, .Qi9Fd, .u7UD5c {
    background: #000!important;
}
.rg_bb_i:after {
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 7px!important;
}
._ado {
    border-top-color: #333!important;
}
div.EETcFd {
	background-color: #1b1b1b!important;
}
.Hrg3ab {
    background: #252525!important;
    border-color: #333!important;
}
.tG5i7d {
    filter: invert(0.85)!important;
}
.WbxHpf, .af7Ejf {
	color: #ccc!important;
}
/*** News search ***/
._PHs, .e8fRJf, .cJzOGc, .cJzOGc.Fuybue:visited, .wqg8ad {
    color: #30b35a!important;
}
._hJs {
    color: #757575!important;
}
.gG0TJc {
	color: #8e8e8e!important;
}
/*** Side information ***/
._pk, ._F1k, .r-iDg_0RU_KyPQ > ._xdb > .fl, ._aMb, ._Zlr, ._bCn ._Tcr, ._Fpi ._uii, ._pfi, ._N2n, ._e9n, ._gee .fl, .y8Jpof .LrzXr, .Eegi6c, .jyC4xe, .EUjJDc, .i29hTd .kR7nSc, .i29hTd .qLLird, .C9iYEe, .H1ccWd, .IZACzd, .Qynugf, .CAaTrb, .aXUuyd, .LWyAN, .u2sJ0e .lA0GG, .Y28wmf, .eJ7tvc, .IKQu9e, .o5Wcxb, .JGV0Y {
    color: #8e8e8e!important;
}
._tmr, ._bCn ._Ucr, ._Sxr {
    color: rgba(138, 138, 138, 0.54)!important;
}
._vri {
    border-color: #333!important;
    color: rgba(138, 138, 138, 0.54)!important;
}
.XOKJuc {
    background-color: #000!important;
}
._Adb {
    color: #8e8e8e;
}
.P4cfIb {
    background-color: #333!important;
    border-color: #333!important;
    color: #ccc;
}
.BTP3Ac {
	border-color: #3296c8 transparent!important;
}
._tX,._O8i > .rhsvw._wD > ._Z3 > .ellip._tX._Qqb, .mod._tN:nth-of-type(2) > div > ._O8i > .rhsvw._wD > ._Z3 > .ellip._tX._Qqb, ._PXi, ._Mft, ._CSo, .xXEKkb, .SDZsVb, .SW5pqf, .wUrVib, .EZRelc, div.nnbOwe a, .DTgFX {
    color: #3296c8!important;
}
.xTXVLb.ugc-sel .WKrsIc {
    color: #3eb05e!important;
}
.dfOive.ugc-sel .WKrsIc {
    color: #e31b33!important;
}
._wD:hover {
    background: #383838!important;
}
.kp-blk, .EDOqlf, .AYBNrd td, .AYBNrd, .yyjhs {
    background: #1b1b1b!important;
}
.HIf9ae {
	background-color: transparent!important;
}
.kno-ecr-pt, .garHBe, .Ss2Faf, .Z0LcW, .rreh .BbbuR, .webanswers-webanswers_table__webanswers-table th, .KMdzJ, .HXw9bb {
    color: rgba(206, 206, 206, 0.87)!important;
}
._W5e, .tuHUkb, .KJXbRb {
    color: #8e8e8e!important;
}
.kp-blk .xpdclose ._wle, .kp-blk .xpdopen ._xle, .scrt tr td, ._G4n td, .kp-blk .xpdclose .farUxc, .kp-blk .xpdopen .mJ2Mod, .Id2KGe, .j9AJ5d li, .EDOqlf, .AYBNrd td, .AYBNrd, .ccBEnf, .ksSzJd .TZahnb, .ksSzJd .NY3LVe, .tGgE5d, .wlqJjf.gws-local-riddler__banner-shown, .XQvBOc, .jktSrf td, .ytJVH, .IKKnpb, .r3tGed, .tsp-tlc, .tsp-tz, .oRYXbe, .u80vZ, .webanswers-webanswers_table__webanswers-table tr, .iT3aZd+div, .cRXWJb, .i4J0ge > div > div > div, .cv2VAd, .vk_c, .vk_cxp, #rhs .fIcnad, .cbphWd {
    border-color: #333!important;
}
.mlo-c {
	border-radius: 0px!important;
}
.juTIF .tb_l {
	border-left-color: #333!important;
}
.xTick line {
	stroke: #333!important;
}
._Rsi {
    color: #757575!important;
}
.rhstc3 ._cgc, #rhs .kp-blk, ._Jw {
    color: #8e8e8e!important;
}
._xdb, ._xdb .fl, .kno-fb-ctx._mr > ._xdb > .fl {
    color: #8e8e8e!important;
}
.cwUqwd, .tsp-tz {
    color: #8e8e8e!important;
}
.y8Jpof:hover, .pVFdhc {
    background: #333!important;
}
.rl_item {
    background-color: transparent!important;
    border-color: #333333!important;
}
.rl_item .title {
    color: #bfbfbf!important;
}
._Ejf, ._Kjg, .r-i96jUJVHUvrI.kno-rdesc {
    color: #757575!important;
}
.vk_arc, .xpdclose .a84NUc:not(:empty), .xpdopen .CQKTwc:not(:empty), #rhs .cVqrTe {
    border-color: #333333!important;
}
._xdb .fl, .w3RMhb .zFsEvf {
    color: #8e8e8e!important;
}
._xk, .w3RMhb:hover, .E6Cqjb, .DHcWmd {
    background-color: #333!important;
}
.lr_dct_trns_sel {
    background-color: #252525!important;
    border-color: #252525!important;
    color: #8e8e8e!important;
}
.czHJJ {
	background-color: #252525!important;
	border-color: #252525!important;
	box-shadow: 0 1.5px 1px 0 rgba(0, 0, 0, 0.5)!important;
}
.w3RMhb.rlf__ami {
	filter: invert(.9)!important;
	color: #000;
}
#tl_select, .cU5Wo {
    color: #8e8e8e!important;
}
._Uoj {
    background: #252525!important;
}
.lubh-sel {
    background: transparent!important;
}
._ndv .lubh-sel {
    background: #4285f4!important;
}
._Uoj li:hover {
    background: rgba(0,0,0,0.1)!important;
}
._Toj, ._kjk {
    border: none!important;
}
._pnn, ._Adb {
    color: #8e8e8e!important;
}
._bXm {
    border-color: #333!Important;
}
._zUj {
    color: #757575!important;
}
.gws-local-map__map-expando {
    background-color: rgba(51, 51, 51, 0.87)!important;
}
.xpdclose ._T1i:not(:empty), .xpdopen ._U1i:not(:empty), ._UIf ._SIf, ._UIf ._hvg, ._Vxn, .x6smaf {
    border-color: #333!important;
}
._tvg {
    color: rgba(199, 199, 199, 0.87)!important;
}
.price, .N74d8e {
    color: #bdbdbd!important;
}
._cXm, ._wtf svg {
    filter: invert(0.5)!important;
}
._M9b, .Kw7SHd, .tPhRLe span, .JOmIqc, .i8Msie, .XCKyNd, .JP8rKe {
    filter: invert(.9)!important;
}
.xpdxpnd > div:nth-of-type(2) > g-img, #lr_dct_img_use, [id^='lr_dct_img_origin_'] {
    filter: invert(.895)hue-rotate(190deg)!important;
}
.s8pPhe {
	background-color: #252525!important;
}
.QkBmNb {
	color: #3296c8!important;
}
.r31AP {
	color: #ccc!important;
}
.APpJqf {
	color: #999!important;
}
._che {
	background-color: #333!important;
    border-color: #333!important;
}
._wD ._Xbe {
    color: #878787!important;
}
._uUs ._h2g, ._uUs ._i2g {
    color: #757575!important;
}
._j2g {
    background-color: #333!important;
}
.lr_dct_lbl_box {
    background-color: #252525!important;
    color: #bdbdbd!important;
}
.knowledge-webanswers_table__webanswers-table th, .xrIqbe, .K7Ltle, .DRolee, .gXgTfd, .DubFFd {
    color: #e8e8e8!important;
}
.knowledge-webanswers_table__webanswers-table tr {
    border-bottom: 1px solid #333!important;
}
._Y0c td {
    color: #8e8e8e!important;
}
._VBr span, ._VBr, ._ahs, ._ahs:visited, .nRfCwb, .ubF8Rd, .GtMhHe {
    color: #3296c8!important;
}
._vap {
    border-color: #3296c8 transparent!important;
}
._yhs {
    color: rgba(189, 189, 189, 0.87)!important;
}
._Oqt, ._Y8r {
    color: rgba(158, 158, 158, 0.54)!important;
}
._XWk {
    color: #a7a7a7!important;
}/*
.lubh-sel {
    background: #333!important;
}*/
._T5r, ._cvd, ._OJ li, .uUgsp {
    border-color: #333!important;
}
.lcht-hldr text.outline {
    stroke: #1b1b1b!important;
}
.fac-ch .pclose rect {
    fill: #252525!important;
}
.yTick line {
    stroke: #333!important;
}
.fac-hc {
    border-color: #333!important;
    background: #252525!important;
}
.lcht-hldr .line-c98 {
    stroke: #484848!important;
}
.fac-nb {
    border-top: 7px solid #333!important;
}
.fac-nt {
    border-top: 6px solid #252525!important;
}
.highlight-line {
    border-color: #8c8c8c!important;
}
._yX {
    background-color: #1b1b1b!important;
}
._she {
    background-color: #252525!important;
    padding: 3px 2px 2px 3px!important;
}
._yX td, ._RXc, ._yX {
    border-color: #333!important;
}
._Mqe, ._Gzg, .FfKHB .KbpByd {
    color: #3296c8!important;
}
._KJf, .i3YBTb {
    color: rgba(193, 193, 193, 0.87);
}
._R6g._Obq g-fab, ._S6g._Obq g-fab, ._jer, .vzRMeAg4Oi8__kltc, .lhpr__unified-partner-reviews-div, .pla-hovercard-container {
    background-color: #1b1b1b!important;
}
#rcnt [role=button]:hover {
    stroke: #fff!important;
}
._nzt .gws-local-riddler__banner-shown, ._qS, ._xrb, #_IAg, ._nzt.gws-local-riddler__banner-shown, ._Owu, ._Z8p {
    border-color: #333!important;
}
.NYcQFd {
	border-color: #252525!important;
}
._DSo {
    color: #8e8e8e!important;
}
._Rtn div {
    color: rgba(255, 255, 255, 0.54)!important;
}
.wob_ds {
    background-color: #333!important;
    border-color: #333!important;
}
.ksb.ksbs, ._cYm, ._NLn, ._EHq, ._oJt, ._sdl, .date-picker-button span.lxhdrtxt, ._FQr, ._a9p, ._Uaj, ._Saj {
	color: #e8e8e8!important;
}
.ksb, ._lnn, ._bSq, ._PXm, ._cun, ._Tnk, .double-date-picker-container, ._OYh, ._E8p, ._pbj {
	color: #8e8e8e!important;
}
._FHq {
	border-color: #e8e8e8 transparent!important;
}
._BMn, ._sBg, ._l0o {
    background-color: #252525!important;
    border-color: #252525!important;
	color: #e8e8e8!important;
}
._aSq {
    background-color: #2879ff!important;
    border-color: #1b1b1b!important;
}
._Rf._ALu, ._wTg, ._pUv, .date-picker-button, ._ECh, ._Fzg, ._Cvm, .kpd-ex, .kpd-mt, .kpd-mt td {
	border-color: #333!important;
}
._Rf._ALu.rlf__applied, ._Rf._ALu.rlf__open, ._xYl, ._b5m, a._dkf .luhcb__click-to-open-new-tab-icon {
    background-color: #333!important;
}
._DLu:focus {
    box-shadow: none!important;
}
._Czg, ._jug, ._Ixg, .vzRMeAg4Oi8__kl-review-stars, ._n7t {
	filter: invert(1)!important;
}
.hrfEoc {
    color: #2d8bd0!important;
}
._mB {
    background-color: #000!important;
    color: #47c770!important;
    border-color: #000!important;
}
._Zel, ._G8p {
	background-color: #252525!important;
}
._Zel {
	border-color: #252525!important;
}
._pUv {
	color: #fff!important;
}
span.double-date-picker-cal, ._v4r {
	filter: invert(0.5);
}
.lcht-hldr.lcht-pw .bandaid {
	fill: transparent!important;
	stroke: transparent!important;
}
.lcht-hldr .highlight-line {
    stroke: #333!important;
}
._Fij, ._Fij a, ._TJu {
    color: rgba(255, 255, 255, 0.87);
}
.w {
    color: #7a6eff;
}
._tdv {
	background: transparent!important;
}
._ndv {
    background-image: linear-gradient(#333 1px,rgba(255,255,255,0) 0)!important;
    border-color: #333!important;
}
._ndv>div {
	border-color: #333!important;
}
._tdv::before, ._odv>div::before, ._odv>div::after {
    background: #333!important;
}
._vdv, ._udv, .kN9UDnqLeMg__dismiss-button {
    filter: invert(.9);
}
._pdv {
	background: #252525!important;
}
._pdv li:hover {
    background: #333!important;
}
.kN9UDnqLeMg__carousel-caption {
    color: rgba(255, 255, 255, 0.57)!important;
}
.BlOseb.Oom88b g-fab, .k2Oeod.Oom88b g-fab, .BlOseb.eSq3C g-fab, .k2Oeod.eSq3C g-fab, g-more-button > g-fab, .k2Oeod.SkGIjd, .BlOseb.SkGIjd {
	background-color: rgba(0,0,0,.9)!important;
}
.BlOseb.Oom88b g-fab:hover, .k2Oeod.Oom88b g-fab:hover, .Z98Wse, .Lu0opc.eSq3C:hover g-fab, .YsiKr:hover {
	background-color: rgba(0,0,0,1)!important;
	color: #fff!important;
}
.yOo6xe, .g-bbl-container {
	background-color: #1b1b1b!important;
}
.NWO1Pd, .u2tuje .xjT6He, .dbg0pd, .Ndq8Rb {
	color: #e8e8e8!important;
}
.Z3DVab, .u2tuje .iGBaJe, .LmREXd, .KpG9if, .sSf5xf, .rllt__details>div, .piVJ4d {
	color: #8e8e8e!important;
}
.KpG9if, .GEIdOb, .sCXuv, .wYWDAd, .zkIadb, .yPHXsc>div {
	border-color: #333!important;
}
.FjdPod, .EBe2gf span, .BTtC6e, .QeuQGc, .Lrszfb, .A9x0mb {
	filter: invert(.9)!important;
}
.g-bbl-triangle-fg {
	border-bottom-color: #1b1b1b!important;
}
.g-bbl-triangle-bg {
	border-bottom-color: #161616!important;
}
.uMdZh:hover {
    background-color: #333!important;
}
.WKrsIc {
    color: rgba(255, 255, 255, 0.4)!important;
}
.WKrsIc:hover {
    color: rgba(255, 255, 255, 0.9)!important;
}
.LNn04b, .vXQmIe {
    background-color: #252525!important;
    border-color: #333!important;
    color: #ccc!important;
}
.orgdxf {
	background-color: transparent!important;
}
.yPHXsc {
    background-image: linear-gradient(#333 1px,rgba(255,255,255,0) 0);
    border-color: #333!important;
}
.orgdxf::before, .ChZgtd>div::before, .ChZgtd>div::after {
	background: #333!important;
}
.yPHXsc .lubh-sel {
    background: #4285f4!important;
}
.LXtP0 .ZXb90b {
    background: transparent!important;
	color: #ccc!important;
}
.ZXb90b {
    border-bottom: 1px solid rgba(150, 150, 150, 0.1)!important;
}
.QhOZ7e {
    background: #252525!important;
    border-color: #333!important;
}
.ed-sug, .hxpXRb {
	border-color: #333!important;
}
.lFfDUb {
    background: rgba(0, 0, 0, 0.9)!important;
}
.gws-plugins-local-jslayout-mode_selector__selector {
	background-color: #1b1b1b!important;
}
.hxpXRb img, .aCBg7 {
    filter: invert(0.89)!important;
}
.hxpXRb.gws-plugins-local-jslayout-mode_selector__selected a img {
    background-color: #3fd1e4!important;
}
.u80vZ, .cu-container .mnr-c {
	background-color: #1b1b1b!important;
}
.IxBI8c, .R9zNe, .uWmgv, .J8cLR, .Hg3mWc {
    border-color: #333!important;
    background: #252525!important;
}
#knowledge-currency__chart {
    filter: invert(0.899)!important;
}
.NIUoNb, .Hg3mWc, .Hg3mWc:focus {
	color: #8e8e8e!important;
}
.lyLwlc{
	color: #e8e8e8!important;
}
.fw-ch-sel .KWk7r.qUjgX {
	color: #3296c8!important;
	background-color: #444!important;
}
.exp-button, g-fab {
    background: rgba(0,0,0,0.6)!important;
}
.exp-button:hover, g-fab:hover {
    background: rgba(0,0,0,1)!important;
}
.daicon, .CNf3nf .PUDfGe, g-fab > span > svg {
	filter: invert(1)!important;
}
.sxIvj, .ecRggb {
	background-color: #1b1b1b!important;
}
.fa1VEe, .jA1nid, .KjyTCd, .qmv19b {
	border-color: #333!important;
}
.tb_l {
	border-left-color: #333!important;
}
.ecRggb {
	box-shadow: none!important;
}
.WZ8Tjf, .HF3S5b, .MBoHTc, .RJ3lSb, .dAb3Zd {
	color: #ccc!important;
}
.H0Ytud, .xpLNBf {
	fill: #777!important;
	stroke: none!important;
}
.H0Ytud:hover, .xpLNBf:hover {
	fill: #ccc!important;
}
.eaoWNe, .mFI2Qb, .lr_c_stnl, .std-li-a, .gkToze, .vf0Wf {
	color: #8e8e8e!important;;
}
.wcluHf {
	color: #3296c8!important;
}
.lr_c_tf, .yQ8gDb {
    background-color: #333!important;
}
.GVLnMb, .zSDfmd {
    filter: invert(.895)!important;
}
.WZBD7d, .Xz5tfb.fAwjXaCTMo5__visible {
	background-color: #000!important;
}
.fAwjXaCTMo5__content.mr5vfb {
	border-color: #333!important;
	box-shadow: none!important;
}
/* Stock */
.QcYZxe {
	border-color: #333!important;
}
.fw-ch-sel, .NprOob {
	color: #fff!important;
}
.NDTw3e, .OiIFo, .knFDje, .TgMHGc, .CVIh4c, .JgXcPd, .knowledge-finance-wholepage-chart__hover-card-value, .qFiidc {
	color: #ccc!important;
}
.iyjjgb, .knowledge-finance-wholepage-chart__hover-card-time {
	color: #8e8e8e!important;
}
.fw-ch-svg {
	color: #ccc!important;
	fill: #ccc!important;
}
.msyb7, .z1asCe, .qa__svg-icon {
    fill: #ccc!important;
    stroke: transparent!important;
}
.knowledge-finance-wholepage-chart__highlight-line {
    background-image: linear-gradient(rgb(98, 98, 98) 50%,rgba(255,255,255,0) 0%);
}
.CedBdc {
	background: #252525!important;
}
.knowledge-finance-wholepage-chart__hover-card {
	background: #333!important;
}
.fw-ch-sel {
    box-shadow: 0px 18px 0px -16px #ccc!important;
}
.xf5BMb {
    border-color: #333!important;
    background-color: #252525!important;
    color: #ccc!important;
}
/* Answers */
.ZINbbc {
	background-color: transparent!important;
}
.mRUW9b, .gFL1Fb>div {
	background-color: #1b1b1b!important;
}
.qWfpFe, .qWfpFe svg {
	color: #3296c8!important;
}
.pIpgAc.KZCcaf, .aRH6Qe, .XO51F {
	color: #ccc!important;
}
.eUrIee, .ATPAKc {
	color: #8e8e8e!important;
}
.QHTnWc {
	color: #47c770!important;
}
hr {
	border-color: #333!important;
}
.EDUkIb:hover {
	background-color: #333!important;
}
.c8dxme {
	background-color: #000!important;
}
/* Explore */
._U5o {
    color: rgba(255, 255, 255, 0.54)!important;
}
._A2o, ._S5o {
    background-color: #1b1b1b!important;
}
._S5o {
    border-color: #333!important;
}
._W6g._Dbj, g-inner-card {
    background: #1b1b1b!important;
}
#rhs_block > div.g.rhsvw.kno-kp.mnr-c.g-blk > div.kp-blk.knowledge-panel.Wnoohf.OJXvsb > div > div.ifM9O > div:nth-child(n) > div:nth-child(n) > div > div > div {
	stroke: none!important;
}
.fmZxJd {
	background-color: #1a1a1a!important;
}
/* Listings */
.kxbcl .kxbc:hover {
    color: #8e8e8e!important;
}
._Lbe {
    color: #757575!important;
}
.kappbar {
    background: #1b1b1b!important;
}
.klbar {
    border-bottom: 1px solid #333333!important;
}
.lx_ctl .ksb.ab_button {
    color: #c7c7c7!important;
    border: 1px solid transparent;
}
.o2ji6GoAIDp__menu, .kxctl-dd {
    background-color: #252525!important;
    color: #8e8e8e!important;
    box-shadow: 0 1.5px 1px 0 rgba(29, 29, 29, 0.5)!important;
}
.mlo-c {
    background-color: #252525!important;
}
.klitem:hover {
    background: #252525!important;
}
.klitem.selected {
    background: #252525!important;
}
._GCg:hover, .rlc__slider-page ._Iho:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3), 0 0 10px 4px rgba(0, 0, 0, 0.15)!important;
}
.kltat, .klfact {
    color: #e8e8e8!important;
}
.rlc__slider, .rlc__slider-page, div.rl_feature {
    background: #1b1b1b!important;
}
.rl_center {
    border-color: #333333!important;
}
._uqh._jAg {
    background: #0c0c0c!important;
}
._cNr {
    color: rgba(169, 169, 169, 0.87)!important;
}
._lhs {
    color: rgba(128, 128, 128, 0.54)!important;
}
._Nar {
    color: rgba(160, 160, 160, 0.54)!important;
}
#rhs ._mbr {
    border-color: #333!important;
}
.LhCR5d {
    color: rgba(255, 255, 255, 1)!important;
    background: rgba(0,0,0,0.6)!important;
}
.LhCR5d:hover {
    color: rgba(255, 255, 255, 1)!important;
    background: rgba(0,0,0,1)!important;
}
.tsp-wi {
    border-right-color: #555!important;
}
/* Arrow */
.vk_ard, .vk_aru, .cd-exp-ar {
    opacity: 0.2!important;
}
/*** Translate ***/
#gt-text-c, .gb_ke {
    background: #252525!important;
}
.gb_hf, .gb_jf, .gb_kf, .gb_lf, .gb_mf, .gb_of, .gb_pf, .gb_T .gb_og, .gb_uf, .gb_yf, .gb_zf, .gb_T .gb_lb, .gb_R, .gb_Bf, .gb_Ef, .file-selected-section .file-holder, .gb_oc {
    background: #252525!important;
}
.gb_wc:not(:last-child) {
	border-color: #333!important;
}
#gt-appbar, #gt-apb-main {
    background: #1b1b1b!important;
    border-color: #333!important;
}
.gt-hl-layer {
    background-color: transparent!important;
    border: none!important;
}
#gt-src-wrap, #gt-res-wrap.full-edit, #newu, #gt-pb-sb, .pb-tgt-td textarea {
    border-color: #333!important;
    background: #2f2f2f!important;
}
#source.short_text, #source, .main-header.long-text .results-container:not(.empty) .placeholder, .main-header.long-text .result-dict-wrapper .translation, .main-header.long-text .contribute-target, .main-header.long-text #st-buttons .jfk-button, .file-selected-section .file-label, .loading-or-translating-file-section .translating-file-caption {
    color: #e8e8e8!important;
}
.trans-listen-button .jfk-button-img, .speech-button .jfk-button-img, .clear-button .jfk-button-img, .copy-button .jfk-button-img, .trans-swap-button .jfk-button-img, .trans-verified-button .jfk-button-img, .prev-button .jfk-button-img, .next-button .jfk-button-img, .big-clear-button .jfk-button-img, .share-button .jfk-button-img {
    filter: invert(1)!important;
}
.gt-src-cc-normal {
    color: rgba(199, 199, 199, 0.54)!important;
}
.goog-toolbar-button-hover, .goog-toolbar-menu-button-hover, .goog-toolbar-button-selected, .goog-toolbar-button-checked, .goog-toolbar-menu-button-open {
    background: #2f2f2f!important;
    border-color: transparent!important;
    box-shadow: none!important
}
.jfk-tooltip {
    border: 1px solid #333!important;
}
.jfk-tooltip-arrowdown .jfk-tooltip-arrowimplbefore, .jfk-tooltip-arrowup .jfk-tooltip-arrowimplbefore, .gt-cc-t {
    border-color: #333 transparent!important;
}
#gt-res-wrap {
    border: 1px solid #2f2f2f!important;
    background: #2f2f2f!important;
}
#result_box {
    color: #e8e8e8!important;
}
.gt-baf-word-clickable, .gt-ct-text, #trans-onebar-feedback > a > span {
    color: #c1c1c1!important;
}
.gt-syn-span, .gt-ex-text {
    color: #757575!important;
}
.gt-rw-span, .gt-card-ttl-txt, .gt-def-row {
    color: #b5b5b5!important;
}
.gt-baf-hl {
    color: #e8e8e8!important;
}
.jfk-button-standard.jfk-button-checked, .jfk-button-standard.jfk-button-clear-outline.jfk-button-checked, .jfk-button-mini, .stt__tool ._ahq {
    /*background-color: #252525!important;*/
    background-image: -moz-linear-gradient(top,#313131,#3a3a3a)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#313131,#3a3a3a)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#313131,#3a3a3a)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#313131,#3a3a3a)!important; /* IE10+ */
	background-image: linear-gradient(top,#313131,#3a3a3a)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1b1b1b',GradientType=0 ); IE6-9 */
	background-color: transparent!important;
    border: none!important;
    color: #8a8a8a!important;
    cursor: pointer!important;
}
.jfk-button-standard, .goog-flat-menu-button {
    background-image: -moz-linear-gradient(top,#3a3a3a,#313131)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#3a3a3a,#313131)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#3a3a3a,#313131)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#3a3a3a,#313131)!important; /* IE10+ */
	background-image: linear-gradient(top,#3a3a3a,#313131)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1b1b1b',GradientType=0 ); IE6-9 */
	background-color: transparent!important;
    border: none!important;
    color: #8a8a8a!important;
    cursor: pointer!important;
}
.jfk-button-standard.jfk-button-hover, .jfk-button-standard.jfk-button-clear-outline.jfk-button-hover {
    /*background-color: #252525!important;*/
    background-image: -moz-linear-gradient(top,#313131,#3a3a3a)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#313131,#3a3a3a)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#313131,#3a3a3a)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#313131,#3a3a3a)!important; /* IE10+ */
	background-image: linear-gradient(top,#313131,#3a3a3a)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#3a3a3a',GradientType=0 )!important; IE6-9 */
	background-color: transparent!important;
    cursor: pointer!important;
}
.jfk-button-standard.jfk-button-disabled {
	background-color: transparent!important;
}
.goog-flat-menu-button-hover .goog-flat-menu-button-dropdown {
    border-color: #fff transparent!important;
}
div.gt-baf-sep, .goog-menuseparator, .sh-sr__shop-result-group {
    border-color: #333!important;
}
.goog-menu, #gt-sl-gms-menu .goog-menuitem-group .goog-option-selected, #gt-tl-gms-menu .goog-menuitem-group .goog-option-selected, .goog-menuitem-emphasize-highlight {
    background: #1a1a1a!important;
}
#gt-sl-gms-menu .goog-menuitem-group .goog-option-selected, #gt-tl-gms-menu .goog-menuitem-group .goog-option-selected, .goog-menuitem-emphasize-highlight {
    color: #e0e0e0!important;
}
.goog-menuitem, .goog-tristatemenuitem, .goog-filterobsmenuitem {
    color: #8e8e8e!important;
}
.goog-menuitem-highlight {
    background: rgba(0,0,0,0.2)!important;
}
.goog-menuitem-highlight .goog-menuitem-content, .goog-option-selected .goog-menuitem-content {
    color: #e0e0e0!important;
}
#pb-tb-c, #pb-tool, .goog-toolbar-separator {
    border-color: #333!important;
}
#pb-tool {
    background-color: #1b1b1b!important;
}
.goog-toolbar-menu-button {
    color: #8e8e8e!important;
}
.goog-menuitem-highlight {
    border: none!important;
}
#pb-empty {
    color: #8e8e8e!important;
}
.gt-is {
    background-color: #252525!important;
}
.gt-is-tr-on {
    border: 1px solid #333!important;
}
.gt-is-tr-on .gt-is-ld, .gt-is-tr-on .gt-is-ld-top {
    border-color: #333!important;
}
.gt-is-tr-on .gt-is-sg {
    color: whitesmoke!important;
}
.gt-is-tr {
    color: rgba(224, 224, 224, 0.54)!important;
}
.gt-is-itm-hover {
    background-color: rgba(0,0,0,0.2)!important;
    border-color: #333!important;
}
.gt-related-suggest-message, .gt-revert-correct-message {
    color: #757575!important;
}
.tw-data-text, #tw-source-text-ta, #tw-target-text > span {
    color: #b1b1b1!important;
}
._wYb {
    background-color: #333!important;
}
.tw-lang-selector {
    color: #757575!important;
    background: #1b1b1b!important;
}
.tw-menu-btn {
    color: rgba(224, 224, 224, 0.54)!important;
}
.tw-menu-btn:hover .tw-menu-btn-image:first-child {
    background-color: #1b1b1b!important;
    border-color: #1b1b1b!important;
}
#rcnt [role=button]:hover {
    color: rgba(255, 255, 255, 0.7);
}
.tw-lang-selector-wrapper {
    border-color: #333!important;
    padding-left: 3px!important;
}
.tw-lang-selector-wrapper:after {
    border-color: #a2a2a2 transparent!important;
}
.tw-bilingual-translation, .tw-bilingual-entry {
    color: #757575!important;
}
.tw-bilingual-pos, .gt-rw-div {
    color: #8e8e8e!important;
}
.gb_6b.gb_b, .gb_6b.gb_Ic.gb_Hc, .main-header.long-text .result .unstarred>.jfk-button-img, .gb_Qe.gb_Uc svg, .main-header.long-text .copybutton .jfk-button-img, .main-header.long-text .ttsbutton-res .jfk-button-img, .main-header.long-text .trans-verified-button {
    filter: invert(.9)!important;
}
.gt-baf-word-selected {
	background-color: transparent!important;
}
.gt-baf-word-selected > span {
	color: #4285f4!important
}
.ita-kd-inputtools-div {
	background-color: transparent!important;
}
#itamenu > span > div > a.ita-kd-icon-button.ita-kd-inputtool-icon.ita-kd-small.ita-kd-left > span, .ita-kd-menuitem-inputtool-icon {
	filter: brightness(2)!important;
}
.ita-kd-inputtools-div:hover .ita-kd-icon-button, .ita-kd-icon-button.ita-kd-selected.ita-kd-dropdown, .ita-kd-icon-button.ita-kd-selected.ita-kd-inputtool-icon {
	background: #333!important;
}
.ita-kd-dropdown-menu, .vk-btn {
	background: #252525!important;
}
.ita-kd-menuitem, .vk-btn {
	color: #ccc!important;
}
.ita-kd-menuitem-hover {
	background-color: #333!important;
	color: #ccc!important;
}
.vk-box {
	background-color: #1b1b1b!important;
}
.ita-kd-separator {
	border-color: #333!important;
}
.vk-t-btn, .vk-cap.vk-sf-b, body > div.ita-kd-inputtools-div.ita-kd-statusbar > table > tbody > tr > td:nth-child(1) > a > span {
	filter: invert(1)!important;
}
.vk-btn.vk-sf-h, .vk-btn.vk-sf-s {
	background: #555!important;
	border-color: #555!important;
}
.vk-btn.vk-sf-a {
	background: #777!important;
	border-color: #777!important;
	color: #fff!important;
}
.ita-hwt-ime, .ita-hwt-buttons {
	background-color: #1b1b1b!important;
	border-color: #333!important;
}
.ita-hwt-candidates {
    border-color: #333!important;
    background-color: #252525!important;
}
.ita-hwt-candidate {
	border-color: #333!important;
	color: #ccc!important;
}
.ita-hwt-candidate-hover {
	background-color: #333!important;
}
.ita-hwt-jfk-standard {
	background: #252525!important;
	border-color: #333!important;
	color: #ccc!important;
	cursor: pointer!important;
}
.ita-hwt-jfk-standard:hover {
	background-color: #333!important;
}
.ita-hwt-close, .ita-hwt-ltr .ita-hwt-grip, .ita-hwt-enter-img-dark, .ita-hwt-backspace-img, .pbexp-button .jfk-button-img, .pbdel-button .jfk-button-img, .pbback-button .jfk-button-img, .pb-sw .jfk-button-img {
    filter: invert(.895)!important;
}
canvas.ita-hwt-canvas {
	cursor: url('https://i.imgur.com/sjZV2eI.png') 0 10,auto!important;
 }
#gt-pb-tb {
	border-color: transparent!important;
	color: #ccc!important;
}
#gt-pb-tb tr {
	background-color: #252525!important;
	border-color: #333!important;
}
#gt-pb-tb tr.checked {
	background-color: #333!important;
}
.e_md #gt-pb-sb {
	color: #ccc!important;
}
.alt-menu .gt-edit-menuitem {
    background: #4d90fe;
    color: #000!important;
}
.trans-edit {
    background-color: #555!important;
    border-color: #555!important;
	color: #fff!important;
	border-radius: 5px!important;
}
#contribute-target.short_text {
	color: #e8e8e8!important;
}
.trans-pb-button .jfk-button-img {
    filter: invert(.5)brightness(2)!important;
}
/* Translate update */
.epu-dt .frame, .gt-lc.gt-lc-mobile .gt-cc-r-i, .language-list-toolbar, .language-list-search-box, #sl_list-search-box, #tl_list-search-box, .language-list-toolbar .searchbutton-image {
	background-color: #1b1b1b!important;
}
.language-list, .language_list_item_wrapper, .language_list_sl_list, .language_list_tl_list, .language_list_section, .phrasebook-container .search-box, .phrasebook-delete-all-dialog, .gb_qe, .gb_vc {
	background-color: #252525!important;
}
.source-input, .orig, .source-wrap, .results-container, .result, .gt-edit, .gt-lc.gt-lc-mobile .gt-cd, .select-file-page, .epu-dt .history-top-header, .epu-dt .history-container .info-bar, .epu-dt .history-container, .epu-dt.displaying-history-page .history-page, .phrasebook-container, .phrasebook-top-header, .phrasebook-container .nav-bar, .displaying-saved-page .phrasebook-page, .phrasebook-container .search-bar, .phrasebook-container:not(.empty-search-query) .phrasebook-entry.browsed, .phrasebook-entry.focus-within, .phrasebook-entry:focus-within, .epu-dt .history-entry.browsed, .epu-dt .history-entry:focus-within, .gt-related-suggest-message, .gt-spell-correct-message, .results-container, .result, .gt-edit, .contribute-target, .epu-dt .st-stp1-epu-text {
    background-color: #2f2f2f!important;
}
.phrasebook-container .phrasebook-features .goog-option-selected {
	background-color: #333!important;
}
.main-header.long-text .contribute-target {
	background-color: transparent!important;
}
.trans-edit, .trans-target-highlight {
    background-color: #3c5071!important;
}
.epu-dt .main-header.long-text .st-stp1-epu-text {
    background-color: #444!important;
    color: #ccc!important;
}
.src-tts .jfk-button-img, .gt-lc.gt-lc-mobile .gt-ex-quote, .clear .jfk-button-img, .swap>.jfk-button-img, .epu-dt .language_list_item_wrapper.item-emphasized:not(.item-selected) .language_list_item_icon, .gt-is-mobile .gt-is-ca, .epu-dt .history-top-header .close-button, .phrasebook-top-header .close-button, .result .unstarred>.jfk-button-img, .epu-dt .copybutton .jfk-button-img, .ttsbutton-res .jfk-button-img {
	filter: invert(.9)!important;
}
.input {
    border-right: 1px solid #222!important;
}
.epu-dt .gt-lc.gt-lc-mobile .gt-cd, .homepage.translate-text .input-button.text-icon, .homepage.translate-docs .input-button.documents-icon, .header-button, #gb > div.gb_Sd.gb_qe.gb_1d.gb_0d > div.gb_wb.gb_ba.gb_g, .gb_Dc:not(:last-child) {
	border-color: #333!important;
}
.phrasebook-top-header .phrasebook-top-bar, .phrasebook-top-header, .phrasebook-container .phrasebook-features .export-button-container, .epu-dt .history-top-header .history-top-bar, .epu-dt .history-top-header, .epu-dt .history-entry, .phrasebook-entry {
	border-color: #444!important;
}
.gt-lc.gt-lc-mobile .gt-def-num {
	color: #999!important;
	border-color: #999!important;
}
.gt-lc.gt-lc-mobile .gt-def-example, .epu-dt .gt-lc.gt-lc-mobile .gt-def-synonym-title, .gt-lc.gt-lc-mobile .cd-expand-label, .select-file-section .choose-document-prompt, .ft-icon-txt, .language-list-toolbar .language-list-label, #sl_list-search-box, #tl_list-search-box, .detect_language .language_list_item, .gt-is-mobile .gt-is-sg, .goog-menu.round-trip-content, .epu-dt .history-top-header .title, .epu-dt .history-entry .tl-input, .epu-dt .history-container .empty-placeholder .placeholder-title, .phrasebook-container .empty-placeholder .placeholder-title, .phrasebook-top-header .title, .phrasebook-container .search-box, .phrasebook-entry .tl-input, .phrasebook-delete-all-dialog-title-text, .gt-baf-previous-word-mobile, .results-container:not(.empty) .placeholder, .result-dict-wrapper .translation, .contribute-target, #st-buttons .jfk-button, .gb_Wa svg, .gb_vc svg, .gb_Z {
	color: #ccc!important;
}
.gt-syn-span, .gt-ex-text, .select-file-section .upload-filetypes-prompt, .language_list_item_language_name, .epu-dt .gt-cd-pos-pop, .gt-lc-mobile div.gt-baf-translations, .epu-dt .history-container .info-bar, .epu-dt .history-container .history-features .delete-all-button, .epu-dt .history-entry .tl-output, .phrasebook-container .nav-bar, .phrasebook-entry .tl-output, .source-transliteration-container .transliteration-content, .gt-spell-correct-message {
	color: #aaa!important;
}
.phrasebook-container .nav-bar .page-nav-button {
	opacity: 1!important;
	filter: brightness(1.25)!important;
}
.epu-dt .gt-lc.gt-lc-mobile .gt-cd-cl, .epu-dt .gt-lc.gt-lc-mobile .gt-cd-ncl, .ft-icon-oval, .phrasebook-container .language-chip {
	background-color: #444!important;
	border-color: #333!important;
	color: #ccc!important;
}
.gt-lc.gt-lc-mobile .cd-expand-button {
	border-color: #222!important;
}
.header-button {
	background-color: #333;
}
.ls-wrap {
    background-image: -moz-linear-gradient(top,#3a3a3a,#313131)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#3a3a3a,#313131)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#3a3a3a,#313131)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#3a3a3a,#313131)!important; /* IE10+ */
	background-image: linear-gradient(top,#3a3a3a,#313131)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1b1b1b',GradientType=0 ); IE6-9 */
	background-color: transparent!important;
}
.select-file-page .select-file-section .button, .swap-wrap, .ls-wrap .sugg-fade {
    background-image: -moz-linear-gradient(top,#3a3a3a,#313131)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#3a3a3a,#313131)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#3a3a3a,#313131)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#3a3a3a,#313131)!important; /* IE10+ */
	background-image: linear-gradient(top,#3a3a3a,#313131)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1b1b1b',GradientType=0 ); IE6-9 */
	background-color: transparent!important;
    border: none!important;
    color: #8a8a8a!important;
    cursor: pointer!important;
}
.select-file-page .select-file-section .button:hover, .swap-wrap:hover {
    /*background-color: #252525!important;*/
    background-image: -moz-linear-gradient(top,#313131,#3a3a3a)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#313131,#3a3a3a)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#313131,#3a3a3a)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#313131,#3a3a3a)!important; /* IE10+ */
	background-image: linear-gradient(top,#313131,#3a3a3a)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#3a3a3a',GradientType=0 )!important; IE6-9 */
	background-color: transparent!important;
    cursor: pointer!important;
}
.sl-more, .tl-more {
	cursor: pointer!important;
}
.sl-more:hover, .tl-more:hover, .epu-dt .language_list_item_wrapper:hover {
	filter: brightness(2)!important;
}
.ls-wrap .sl-sugg .goog-inline-block.jfk-button:focus, .ls-wrap .tl-sugg .goog-inline-block.jfk-button:focus, .ls-wrap .sl-more:focus, .ls-wrap .tl-more:focus, .ls-wrap .lang-btn:focus-within, .ls-wrap .swap:focus {
	filter: brightness(1.5)!important;
	background-color: #333!important;
}
.gt-is-itm-hover {
	background-color: #333!important;
}
.gt-is-mobile .gt-is-ld, .gt-is-mobile {
	border-color: #333!important;
}
.epu-dt .gt-lc-mobile .gt-baf-hl, .epu-dt .gt-lc-mobile .gt-baf-word-clickable:hover {
	background: #444!important;
	color: #ccc!important;
}
.epu-dt .empty.gt-score-dot {
	background-color: #666!important;
}
/* Calculator */
.vk_c, .vk_cxp, .cwtlwm {
    background-color: #1b1b1b!important;
}
.vk_bk {
    color: #8e8e8e!important;
}
._Ohf {
    background-color: #252525!important;
    border: 1px solid #333!important;
    color: #8e8e8e!important
}
._eif {
    border: 1px solid #333!important;
    border-top: 1px solid #333!important;
    color: #e6e6e6!important;
    background: #2b2b2b!important;
}
.cwcot {
    color: #e8e8e8!important;
}
.cwtlb {
    border-color: #333!important;
    color: #e8e8e8!important;
}
.cwdrsba {
    filter: invert(0.9)!important;
}
.cwrb-tpl, .cwdb-tpl {
    background: #383838!important;
    color: #8a8a8a!important;
    border: none!important;
}
.cwdgb-tpl {
    background-image: -moz-linear-gradient(top,#3a3a3a,#313131)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#3a3a3a,#313131)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#3a3a3a,#313131)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#3a3a3a,#313131)!important; /* IE10+ */
	background-image: linear-gradient(top,#3a3a3a,#313131)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1b1b1b',GradientType=0 ); IE6-9 */
    border: none!important;
    color: #8a8a8a!important;
    cursor: pointer!important;
}
.cwdgb-tpl:hover {
    background-image: -moz-linear-gradient(top,#313131,#3a3a3a)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#313131,#3a3a3a)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#313131,#3a3a3a)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#313131,#3a3a3a)!important; /* IE10+ */
	background-image: linear-gradient(top,#313131,#3a3a3a)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#3a3a3a',GradientType=0 )!important; IE6-9 */
    cursor: pointer!important;
}
.cwlgb-tpl {
    background-image: -moz-linear-gradient(top,#3a3a3a,#313131)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#3a3a3a,#313131)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#3a3a3a,#313131)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#3a3a3a,#313131)!important; /* IE10+ */
	background-image: linear-gradient(top,#3a3a3a,#313131)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1b1b1b',GradientType=0 ); IE6-9 */
    border: none!important;
    color: #8a8a8a!important;
    cursor: pointer!important;
}
.cwlgb-tpl:hover {
    background-image: -moz-linear-gradient(top,#313131,#3a3a3a)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#313131,#3a3a3a)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#313131,#3a3a3a)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#313131,#3a3a3a)!important; /* IE10+ */
	background-image: linear-gradient(top,#313131,#3a3a3a)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#3a3a3a',GradientType=0 )!important; IE6-9 */
    cursor: pointer!important;
}
.lr-fy-eq-elem {
    color: #ccc!important;
    border-color: #ccc!important;
}
.lr-fy-i-w {
    fill: #1b1b1b!important;
}
.lr-fy-tb, .lr-fy-ub.lr-fy-in {
    border-color: #333!important;
    color: #ccc!important;
    background: #252525!important;
}
.lr-fy-ol .lr-fy-dd {
    border-color: #999 transparent;
}
.lr-fy-eq-add {
	background-color: #ccc!important;
}
.lr-fy-eq-elem {
	background: transparent!important;
}
#lr-fy-ofl > div > div.eiuJYe.lr-fy-eq-elem > div.lr-fy-eq-elem.lr-fy-eq-add {
	background-color: transparent!important;
}
/* Questions */
._qgo {
    background-color: #252525!important;
    border-top: 1px solid #333!important;
}
/* Feed */
g-inner-card {
    background-color: #282828!important;
}
/* Places */
._xe {
    background: #1b1b1b!important;
}
._Db:hover, ._Db:active, .rllt__action-button:active, .rllt__link:active, .cMjHbjVt9AZ__button:active {
    background-color: #2b2b2b!important;
}
._rl {
    color: #e8e8e8!important;
}
._Db {
    color: rgba(255, 255, 255, 0.54)!important;
}
._qJg, ._P4k, ._M4k, ._wx {
    border-color: #333!important;
}
._Rf.rlf__open:not(.rlf__applied), ._Rf:not(.rlf__applied):hover {
    color: #e8e8e8!important;
}
._Rf.rlf__open:not(.rlf__applied) ._mx, ._Rf:not(.rlf__applied):hover ._mx {
    border-color: #b7b7b7 transparent!important;
}
._vx {
    background-color: #252525!important;
    border-color: #333!important;
    box-shadow: 0 1.5px 1px 0 rgba(19, 19, 19, 0.5)!important;
}
._ae:hover {
    background: #1d1d1d!important;
}
._ae ._SDf {
    color: #757575!important;
}
/* Dictionary */
._zft {
    color: #e8e8e8!important;
}
.dw-sb-cont .dw-sbi {
    color: #8e8e8e!important;
    border-color: #252525!important;
    background: #252525!important;
}
.dw-sb-cont .dw-sb-btn {
    border: none!important;
    background: #252525!important;
}
#dw-siw, .dw-sb-cont {
    background: #252525!important;
}
.sbdd_b {
    border-color: #333!important;
}
.dw-sb-cont .dw-sbs {
    color: #8e8e8e!important;
}
.dw-sb-cont .dw-sb-btn, #rcnt [role=button]:hover {
    color: #4285f4;
}
/* Maps */
#rllhd__fldhc {
    border-bottom: none!important;
    background-color: #1b1b1b!important;
}
._o2o {
    background-color: #2b2b2b!important;
}
._MKp {
    color: rgba(255, 255, 255, 0.54)!important;
}
._lTo {
    color: rgba(255, 255, 255, 0.87)!important;
}
._S6g._aeh, ._R6g._aeh {
    background: black!important;
}
._T5o {
    border-top: 1px solid #333!important;
}
._Db:active, .rllt__local-item-selected {
    background-color: #3c3c3c!important;
}
._FOl, .stt-uf {
    filter: invert(1)!important;
}
/* Settings */
.sect {
    color: #bdbdbd!important;
}
.subsect, .UVgjof {
    color: #8e8e8e!important;
}
.sllabel, .goog-slider li {
    color: #c5c5c5!important;
}
.sect, .appbar, .UVgjof {
    border-color: #333!important;
}
.goog-slider-horizontal .goog-slider-scale, .slmarker {
	border-color: #555!important;
}
.goog-slider-thumb {
	background: #444!important;
	border-color: #444!important;
}
.mitem:hover {
	background-color: #333!important;
}
/* Gmail */
.LJtPoc {
    color: #e8e8e8!important;
    background: #252525!important;
}
.TnvOCe:hover {
    background: #333333!important;
}
.VYMape {
    background: #252525!important;
    visibility: hidden;
}
.Ulgu9 .MocG8c.KKjvXb {
    color: #cacaca!important;
}
.ncFHed {
    background: #333333!important;
}
.ncFHed .MocG8c.KKjvXb {
    background-color: #4a4a4a!important;
}
.vRMGwf {
    color: #cacaca!important;
}
/*** Videos ***/
.gssb_m {
    color: #e8e8e8!important;
    background: #1b1b1b!important;
}
.gssb_i {
    background: #333!important;
}
/*** Shopping ***/
.kcb, #gko-sp.gko-open, .gko-itms-e .gko-i, #rso .psgi, ._FEt, .sh-dtt__sort-by, ._wed, .sh-sp__line, .d23fMb, ._-dN, ._-d0, .IxCT4b {
    border-color: #333!important;
}
.kcb:active, .sr__filled {
    background: #adadad!important;
}
.kcb.checked::after {
    filter: invert(1)!important;
}
._-J {
    background-color: #1a1a1a!important;
    border: 1px solid rgba(0,0,0,0.2)!important;
}
._-I, .CV7Lzb {
    color: #8e8e8e!important;
}
.sh-gs__rs-sl:hover, ._-I:hover {
    background: rgba(0,0,0,0.2)!important;
}
.goog-modalpopup-bg, .modal-dialog-bg {
    background: #000!important;
}
.goog-modalpopup, .modal-dialog, .modal-dialog-content {
    background: #252525!important;
}
.modal-dialog-title {
    background-color: #252525!important;
    color: #e8e8e8!important;
}
.jfk-textinput {
    border: none!important;
    background: #1b1b1b!important;
    color: #e8e8e8
}
.gko-cl.gko-sn-d.modal-dialog > .modal-dialog-buttons > button:nth-of-type(2) {
    background: #1b1b1b!important;
    color: #8e8e8e!important;
}
.LfUe1b {
	padding: 3px!important;
	background: #1b1b1b!important;
	border: 1px solid #333!important;
	color: #e8e8e8!important;
}
.LfUe1b:hover {
	background: #333!important;
}
.modal-dialog-buttons button:hover, .modal-dialog-buttons button:active {
    border: 1px solid #333!important;
}
.sh-dp__cont, ._-du, .sh-gs__rs-sep, .HUZACb, ._-g6, ._-hg, ._-j9, ._-b9 a {
    border-color: #333!important;
}
._-do, .jfk-bubble-closebtn, .gko-rs-current .gko-rs-sl-cm, ._-O, .gko-add ._-bi {
    filter: invert(1)!important;
}
span._Ezj {
    filter: invert(0.85)!important;
}
.pspo-popout .gko-add .gko-a-lbl, ._-j, .sh-gc__c-st , ._Fet, .sh-sr__shop-result-header, .gbqfif, .gbqfsf, .ELcVZ, ._-g9 {
    color: #b1b1b1!important;
}
.jfk-bubble {
    background-color: #1b1b1b!important;
    border-color: #333!important;
}
.sh-gc__c-sa {
    color: #3296c8!important;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter, .jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
    border-color: #1b1b1b transparent!important;
}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore, .jfk-bubble-arrowup .jfk-bubble-arrowimplbefore {
    border-color: #333 transparent!important;
}
._jvs, ._ivs, .plRs9b {
	background-color: transparent!important;
}
._ivs, ._-dU {
	color: #8e8e8e;
}
._avs, .plRs9b, .O8U6h, ._-bN, ._-dQ, ._-cm, ._-c-, ._-fU, ._-fV b, ._-dX {
	color: #e8e8e8;
}
.sh-dp__arrow::before {
	border-bottom-color: #252525!important;
}
.sh-dp__arrow {
	border-bottom-color: #333!important;
}
.sh-mo__more {
	background-color: #1b1b1b!important;
	border-color: #333!important;
}
.sg-m__zoom-fab {
    background-color: #111!important;
}
.U3NcLd {
	border-color: transparent!important;
}
.sh-rso__modal {
	background-color: #000!important;
}
.sh-rso__header, .sh-rso__content, .sh-mv__media {
    background-color: #1b1b1b!important;
	border-color: #333!important;
}
._-ex, ._-ey b, .pp-content input, .pp-content td {
	color: #ccc!important;
}
.sh-rso__overlay-inner {
    box-shadow: 0 0 15px #000;
}
._-j3 {
	filter: invert(.9)!important;
}
.sh-rso__close {
	filter: invert(1)!important;
}
.sg-m__media-item {
	border-color: #333!important;
}
.sg-m__selected {
    border-color: #999!important;
}
#prodbar {
	background-color: #1b1b1b!important;
}
.shop__a, .WcWt5e {
	color: #3296c8!important;
}
#pp-section-links, .LS81yb, .spons-res#os-sellers-content, .os-grid-hover-last, .os-grid-hover-first, .ESCbSb, .os-main-table td, .UwNDwc, ._-jX, ._-jl, .VtUh7b, .mGutte a, #bb-os-list li, .vs-image, ._-jk._-ji .sh-va__vp-inner-color, .gDcsOd.s4ihlb .LXZCld, .AMbILe, .l8TH0e, .HJKaGb {
	border-color: #333!important;
}
.CX5tRe .LXZCld, .ONmnr:hover .LXZCld {
	border-color: #555!important;
}
.os-main-table th {
	background-color: #222!important;
	border-color: #333!important;
}
#os-sellers-information {
    background-color: #252525!important;
}
.os-grid-hover, .os-grid-hover-first, .os-grid-hover-last {
	border-color: #333!important;
    box-shadow: 0 0 16px #171717!important;
}
.jfk-button-standard.jfk-button-disabled .jfk-button-img, .jfk-button-standard.jfk-button-disabled {
	cursor: default!important;
}
.jfk-button-standard.jfk-button-disabled .jfk-button-img {
	opacity: .1!important;
}
.l7AxXb, .section-inner h3, .qW8nDe, .rwZNDd, .cuLox b, .hWE0y {
	color: #ccc!important;
}
.HLIorb {
    border-left-color: #333!important;
    background-color: #333!important;
}
.shop__secondary, .shop__secondary:link, .shop__secondary:visited, .e2q0ib {
	color: #8e8e8e!important;
}
.jfk-button-standard .jfk-button-img {
	filter: invert(.9)!important;
}
.NA0ooc {
	background-color: #000!important;
}
.pYBuhc .NYCmxf:hover {
	background-color: #333!important;
	color: #ccc!important;
}
#bb-os-list {
	background-color: #252525!important;
	border-color: #333!important;
}
.bb-shop-link:link, .bb-shop-link:visited, .bb-shop-link:hover, .bb-shop-link:focus, .bb-shop-link:active {
	color: #fff!important;
	cursor: pointer!important;
}
.bb-offer:hover {
	background-color: #333!important;
	box-shadow: 0 0 7px 0 #111!important;
}
.bb-offer:hover .bb-price {
	color: #fff!important;
}
.Y7cTJe.s4ihlb {
	background-color: #252525!important;
	border-color: #333!important;
}
.Y7cTJe.CX5tRe, .Y7cTJe:hover, .Fz4Yrd {
	background-color: #333!important;
}
.pYBuhc.IVdU7b .NYCmxf {
    border-color: #555!important;
    opacity: .25!important;;
}
.thWgNb, .thWgNb a, ._-fw, ._-fw a, .bb-seller {
	color: #3eb05e!important;
}
.gb_je {
	background-color: #252525!important;
}
.FWhH7, .qGLKQ, .Bgqawf, .eEcGhd, .zLYYOe {
	color: #999!important;
}
.e2CuFe {
    border-color: #ffffff4d transparent!important;
}
/* Finance */
.Uo6gve {
	background-color: transparent!important;
}
g-tabs, .vCQYxb {
	background-color: #252525!important;
}
.mMbopd, .QEsAKd, .EEmK6c, .KIdUu, .gstl_50 .sbdd_b, .gstl_50.sbdd_a, .ChlgHf .HnYYW {
	background-color: #1b1b1b!important;
}
.jtEFhd .KYeOtb, .jtEFhd .KYeOtb:link, .jtEFhd .KYeOtb:visited, .PyJv1b, .ojzJac, .CCb0ac, .CCb0ac a, .azqZUd, .iF8z4d td, .fw-price-nc.IsqQVc, .ChlgHf .HnYYW, .knowledge-finance-wholepage__compare-item, .KIdUu, .doAFBe, .aZa4J, .qfx13b, .RNiAwf, .eskLAf {
	color: #ccc!important;
}
.wx62f, .wfbQZb, .kVLSDc, .TNcMZc, .E4K4Td, .knowledge-finance-wholepage__compare-item .knowledge-finance-wholepage__additional-info, .WuDkNe {
	color: #8e8e8e!important;
}
.QOsNac, .tiM5gc, .iF8z4d td, .BBHxge, .gstl_50.sbdd_a, .gstl_50 .sbsb_b li .fisb_c, .BwZUW, .yW8WD {
	border-color: #333!important;
}
#sh_uid_0 > g-tabs > div > div > a {
	border-color: #3296c8!important;
}
.VDl3z, .JwgTNb, .LTTD0 {
	color: #3296c8!important;
}
.u8H8Fd {
    box-shadow: 0 1px 0 #333;
	border-color: #333!important;
}
/* Topics */
.bKi57NPaiJ5__standalone-carousel {
    background-color: #1b1b1b!important;
    border-color: #333!important;
}
.px4tKd, .amFhOb {
    color: #ccc!important;
}
.fHujJ {
    color: #3eb05e!important;
}
/* Scores */
.YPgUJe {
	box-shadow: none!important;
}
.imspo_mt__match-sc, .YIikAd, .gnhc, .st-hc, .imspo_mt__pm-inf, .imso_mh__tm-nm, .imso_mh__vs-at-sep, .qJnhT, .imspo_mt__lg-st-c-np, .imspo_mt__lg-st-c, .nGqo8b, .Oo683d, .imso-btst, .imso-btte.imso-btttbd, .imso_mh__l-tm-sc, .imso_mh__r-tm-sc, .imso_gf__fh-ttl, .imso_gf__pl-nm, .imso_gf__pl-info, .liveresults-sports-immersive__lr-imso-ss-wp, .ss-ms-cs, .imso_mh__ft-mtch, .imso_mh__post-match-status, .tsp-lgh, .imso_scr_sum__nm-cell, .imso_scr_sum__score-summary-table, a:link .mrtk8YeO1fr__container, a:visited .mrtk8YeO1fr__container, .imspo_tps__pnm, .imspo_tps__stat-val, .S7TGef, .BpGBNe {
	color: #ccc!important;
}
.imspo_mt__cmd, .escM3kbeJJz__dlg-c, .SXBRcc, .SXRxaf, .imso_gf__xtxt, .liveresults-sports-immersive__lr-imso-ss-wp-dp, .lr-imso-ss-wdt, .ss-ms-gn, .gnUJCb, .imso_gf__lbl-na, .tsp-ftlg, .imso_scr_sum__ttl-cell, .imspo_tps__hc, .imspo_tps__pnb, .g6Emdf, .BslMec {
	color: #8e8e8e!important;
}
.imspo_mt__dt-t, .section-title, .liveresults-sports-immersive__tabless-title, #sports-app > div.iDYYme.iwDak14M0E6Y-WJhYXr2KTgo.OiT5Ue.r-i3edUuRKC0IU > div.imso-loa.imso-lhof.QMSMXe.Wrsj9b > div > div > div.GLbw8e.imso-ani > div > div.S9Uogc > div.ofy7ae, #sports-app > div.iDYYme.iwDak14M0E6Y-WJhYXr2KTgo.OiT5Ue.r-i3edUuRKC0IU > div.imso-loa.imso-lhof.QMSMXe.Wrsj9b > div > div > div.S2ILnf.nCzB3b > span, .imso_mh__tm-wlr, .imspo_tps__st {
	color: #fff!important;
}
.imspo_mt__lt-t, .AqEFvb, .SNooqf, .sQjzEd, .HA4Wwf, .R1ZKVe {
	color: #888!important;
}
.str-dc, .imso_mh__mh-bd {
	color: #999!important;
}
.eGNEZ, .MoyuKc, .st-hc, .str-dc, .nkwcCf, .stGnAf, .lr-imso-ss-bb, .liveresults-sports-immersive__lr-imso-ss-wp, .tsp-lbh, .tsp-lacs {
	border-color: #333!important;
}
.st-ic {
    background-color: #202020!important;
}
.imspo_mt__vs-c {
    background: linear-gradient(to bottom,#333 0%,#333 12.5%,rgba(0,0,0,0.05) 12.5%,rgba(0,0,0,0.05) 87.5%,#333 87.5%,#333 100%)!important;
}
.jTw2d, .imso-fpm, .tb_c, .QV2qd, .v3Iwj88yxmA__leaderboard, .imso_gf__gf-itm, .CIGBuc, .fAwjXaCTMo5__content {
	background-color: #1b1b1b!important;
}
.m114nf.fAwjXaCTMo5__visible {
    background-color: #000000b3!important;
}
.tsp-dht {
    box-shadow: 0px 3px 2px #141414!important;
}
.tsp-dht .tb_st {
    border-bottom-color: #555;
}
.str-rs-cl {
  background: #252525!important;
}
.nGzje, .qJnhT, .jjcxe, .imso_gf__bg-on {
	background-color: #252525!important;
}
.imso-hov:hover, .imso_gf__bg-off, .aPv3Gd, .gnUJCb[data-s="1"], .tsp-hbd:hover, .tsp-dht .tb_l:hover, .hfQmnb {
    background-color: #333!important;
}
td.imspo_mt__rg > svg > polygon {
	fill: #ccc!important;
}
div.imso_mh__pre-m-stts.imso-hide-overflow > jsl > span > jsl > span > span > jsl, .imspo_mff__mff-fv-lc, .imso-loa {
	color: #00aeee!important;
}
.imspo_mff__mff-fk {
    color: #75ff39!important;
}
.imspo_mff__mff, .ci5JwCXEOqA__menu-item, .ci5JwCXEOqA__menu-item:visited {
	background-color: #252525!important;
	color: #ccc!important;
}
.Z8r5Gb, .Qx67ob, .hMYuh, .LyicNe, .lvBKV, .ArtaNd, .C3jFOe, div > div > div.imso-ani.tb_cbg > div {
    background-color: #252525!important;
}
.zDBTmf>div, .tsp-led, .tsp-lbh, .tsp-lacs, .tsp-ldt, .hvDKEe {
	background-color: #1b1b1b!important;
}
.gx824b, .Bgg9M, .mbWiBb, #ires .Hr51pb .tb_l {
	color: #ccc!important;
}
.Z8r5Gb {
    box-shadow: 0 1px 3px #0a0a0a;
}
.tb_c {
	box-shadow: none!important;
}
.Q90CF, .stGnAf, .lr-imso-ls-wodt, .imso-shw, .XpE13c {
    background-color: #1b1b1b!important;
}
.Hr51pb.tb_h.TbbqEc {
    border-color: #333!important;
    background: #252525!important;
}
.Hr51pb .tb_st {
    border-bottom-color: #00aeee!important;
}
.lr-imso-ls-wodti, .DzwRh {
    filter: invert(0.9)!important;
}
.Hr51pb .tb_l:hover {
    background-color: #333!important;
}
.imso_gf__pl-hd-tl {
	background-color: transparent!important;
}
.CIGBuc, .XpE13c {
	border-color: #333!important;
}
.gnUJCb[data-s="1"] {
    box-shadow: 0 0 0 1px #333!important;
	color: #ccc!important;
}
.VbpWle {
	fill: #ccc!important;
}
.imso_gf__bg-to-off, .imso_gf__bg-to-on {
    background: #444!important;
}
.imso_gf__fdiv-hr {
    background: rgba(255, 255, 255, 0.05)!important;
}
.imso_gf__hdr-div {
    background: rgba(150, 150, 150, 0.1)!important;
}
.umKbnSRcB4Q__section-league-selector {
    background-color: #222!important;
    border-bottom-color: #333!important;
}
/* Mathematical functions */
#div_for_graph {
	color: #ccc!important;
	stroke: #999!important;
}
#div_for_graph > div > div > svg {
	background: #2d2d2d!important;
}
#div_for_graph > div > div > svg > g > g > g > rect{
	fill: #555!important;
	stroke: #ccc!important;
}
#div_for_graph > div > div > svg > g > g > rect {
	fill: #555!important;
}
#div_for_graph > div:nth-child(2) > div > div:nth-child(3) {
    background-color: #333!important;
	border: none!important;
    color: #ccc!important;
}
#div_for_graph > div > div > div > table > tbody > tr > td {
	background-color: #2d2d2d!important;
	border-color: #444!important;
}
#div_for_graph > div > div > div > table > tbody > tr:nth-child(1) > td {
	color: #ccc!important;
}
#div_for_graph > div > div > div > table > tbody > tr:nth-child(2) > td {
	color: rgb(255, 120, 120)!important;
}
#div_for_graph > div > div > div > table > tbody > tr:nth-child(3) > td {
	color: rgb(120, 255, 120)!important;
}
#div_for_graph > div > div > div > table > tbody > tr:nth-child(4) > td {
	color: rgb(120, 120, 255)!important;
}
#div_for_graph > div > div > div {
	box-shadow: #555 0px 0px 0px 2px inset!important;
}
#div_for_graph > div > div > div > img, #div_for_graph > div > div > div > div > img {
	filter: invert(.8)!important;
}
/* Ngram Viewer */
.axis text, .tips {
    fill: #ccc;
}
input.query {
	background: #1b1b1b!important;
	color: #ccc!important;
	border-color: #1b1b1b!important;
}
a.options, #query > div.query_dcs_line > select {
	background-color: #1b1b1b!important;
	border-color: #1b1b1b!important;
}
div.bubble, .ci5JwCXEOqA__content {
	background-color: #333!important;
}
div.bubble p, #query > div.query_dcs_line > select, .ci5JwCXEOqA__content-text {
	color: #ccc!important;
}
div.bubble .pointer, input.checkbox:checked::after {
    filter: invert(0.799)!important;
}
input.checkbox {
	border-color: #555!important;
}
div#about, h1 {
	border-color: #333!important;
}
.info_warning {
    background-color: #ffcccc4d!important;
}
#container > center:nth-child(42) > table > tbody > tr > td, #container > center:nth-child(75) > table > tbody > tr > td, #container > center:nth-child(112) > table > tbody > tr > td {
	background-color: #252525!important;
	border: 1px solid #333!important;
}
/* Speedtest */
.p83fR, .Loxgyb, .bYhoud, .lAqhed, .spiqle, .NC4yhe, .Dto7td, .QKLM0d {
	color: #e8e8e8!important;
}
.B7A8m, .MGCMLc, .pTGxbb, .kp-blk a {
	color: #8e8e8e!important;
}
.Km0Gdb, .hHVcJ {
    fill: #e8e8e8!important;
}
.Loxgyb, .hHVcJ, .QKLM0d {
    cursor: pointer!important;
}
.oGE0Pb {
	background-color: #1b1b1b!important;
}
.bYhoud, .cbjjnc {
	background-color: #222!important;
}
.iD3Ij, .xbKDQe, .oyUhj, .knowledge-verticals-internetspeedtest__status-indicator, .apRX7, .p83fR {
	border-color: #333!important;
}
/* Saved */
.gb_ce, .g3VIld {
    background-color: #252525!important;
}
.CMzTNd {
	border-color: #333!important;
}
.gb_Ta, .fDYku, .DPLgS, .g3VIld .qRUolc, .g3VIld .oJeWuf, .g3VIld .whsOnd, .g3VIld .AxOyFc {
	color: #ccc!important;
}
.gb_Ta svg, .gb_lc svg {
    color: #fff;
}
.F7Z4id {
	color: #8e8e8e!important;
}
.Rj2Mlf:not(:disabled), .gwGW9e {
    border-color: #333!important;
	background-color: #333!important;
}
.VfPpkd-LgbsSe-OWXEXe-INsAgc:disabled {
    border-color: rgba(85, 85, 85, 0.35);
	color: rgba(85, 85, 85, 0.35);
}
.KT6Tgd .CxtIIb[aria-selected=true] {
    background-color: #ddd!important;
	filter: invert(.8)!important
}
/* Voting */	/* Removed
._hbv, ._IQt, ._FCr, ._Gpi, ._bfj {
    background-color: #1b1b1b!important;
}
._ZIr, ._Cou, ._xAu, g-expandable-container, ._mcu, ._UDr {
    background-color: #252525!important;
}
._TPt, ._Osr, ._Ebu {
    color: #e8e8e8!important;
}
._tAr {
    fill: #e8e8e8!important;
}
._ibv, ._ZIr, ._Gbu, ._Nbu {
    color: #8e8e8e!important;
}
._AEr, ._Gpi {
    border-color: #333!important;
}
/* Footer */
.fmulti #fsl, .b2hzT {
	display: none!important;
}
#fbar {
	border-color: transparent!important;
	background: transparent!important;
}
#footer a {
    color: #666!important;
}
#fsett {
    background: #1b1b1b!important;
    border-color: #333!important;
}
/* Advanced Search */
.gb_Qf, .gb_Of {
	background-color: #252525!important;
}
.appbar_b, div.Qy8Xkb {
    border-color: #333!important;
}
div.lOTAE, body > div.bottom-wrapper > div.Mza7yc > form > div:nth-child(3) > div:nth-child(5) > div.jYcx0e > div > div:nth-child(2) {
	color: #8e8e8e!important;
}
div.otByu div.cwqNnb span.BFlQMb {
	color: #ccc!important;
}
/*** Games ***/
/*Snake */
#LbWifd, #YVHI4d, .LbWifd, .YVHI4d {
	background-color: #1b1b1b!important;
    color: #ccc!important;
}
/* Solitaire */
.cih3D .mhPjTc {
    background-color: #1b1b1b!important;
    color: #3eb05e!important;
}
#solitaire-mode-dialog .container {
	background-color: #252525!important;
}
#solitaire-mode-dialog .option {
	color: #ccc!important;
}
/* Tic Tac Toe */
.qLf5y {
	background-color: #1b1b1b!important;
}
.qLf5y, .uBQC5b g-raised-button {
	color: #ccc!important;
}
.dLXLrf .byDAwb {
    border-color: #ccc transparent!important;
}
.R1smN {
    background: #333!important;
}
.qLf5y .hFJ9Ve {
	stroke: #ccc;
}
.oLMvxj8HcwN__selected {
    filter: invert(0.9)!important;
}
/* Images */
#rg_s > div > a {
	background-color: transparent!important;
}
.Mw2I7 {
	background-color: #333!important;
	border-color: #333!important;
}
.Mw2I7.LPW6zd {
	background-color: #555!important;
}
.Mw2I7 span.dtviD {
	color: #ccc!important;
}
.Mw2I7.LPW6zd .a4prAd {
    filter: brightness(2)!important;
}
/* New design fix */
.sbibod {
  border-color: transparent!important;
}
li.sbsb_c:first-child, .kp-blk {
  border-color: #333!important;
}
.gb_fa {
  border-color: #222!important;
}
.sbdd_b {
  background: #1b1b1b!important;
}
.gb_Nb, .gb_de {
  background-color: #252525!important;
}
/* Flights */
.lDtMlf .flt-input, .W0Rk3, .lBTQKc, .etbnYc {
	border-color: #333!important;
}
.lDtMlf .flt-input {
	background-color: #252525!important;
	color: #ccc!important;
}
.Kibyc, #flt-sponsored-link {
	filter: invert(.9)!important;
}
.Sjzt1b, a.Sjzt1b {
	background-color: transparent!important;
}
.kFX8M {
	background-color: #1b1b1b!important;
}
.WyBc1 {
	background-color: #252525!important;
}
.t70XDb.uji8Lzn94dn__unselected, .UbmFK {
	color: #ccc!important;
}
.ZCLkpe {
	color: #fff!important;
}
.ndq6eb, .uL1L0 {
	background-color: #333!important;
}
.t70XDb {
	border-left-color: #333!important;
}
div.kFX8M > div > table.ts > tbody > tr > td > div > div > span > svg {
	background: #252525!important;
}
/* Metronome */
.Yhekq {
    background-color: #1b1b1b;
    border-color: #333;
}
[class*='gws-csf-metronome__mtn-bar'] {
	background: transparent!important;
}
/* Timer */
#act-timer-section > div > div > div, .act-tim-fs-cnt:-webkit-full-screen {
	background-color: #1b1b1b!important;
}
.act-tim-txt-cnt, .act-tab-link.act-inactive-tab:hover {
	color: #fff!important;
}
.act-timer-section .act-tim-paused .act-tim-txt-cnt {
	border-bottom-color: #333!important;
}
.act-tim-fs-cnt {
	border-color: #333!important;
}
.act-btn-row.act-tim-btn-cnt {
	border-color: #666!important;
}
.act-inactive-tab .act-inactive-timer-icon, .act-inactive-tab .act-inactive-stopwatch-icon, .act-tim-mute-lbl img, .act-tim-unmute-lbl img, .act-tim-fullscreen-lbl img, .act-tim-cancel-fullscreen-lbl img {
	filter: invert(.9)!important;
}
.fE5Rge, .Ak3kIe {
    background-image: -moz-linear-gradient(top,#3a3a3a,#313131)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#3a3a3a,#313131)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#3a3a3a,#313131)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#3a3a3a,#313131)!important; /* IE10+ */
	background-image: linear-gradient(top,#3a3a3a,#313131)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1b1b1b',GradientType=0 ); IE6-9 */
    border: none!important;
    color: #8a8a8a!important;
    cursor: pointer!important;
}
.fE5Rge:hover, .Ak3kIe:hover {
    background-image: -moz-linear-gradient(top,#313131,#3a3a3a)!important; /* FF3.6+ */
	background-image: -webkit-linear-gradient(top,#313131,#3a3a3a)!important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,#313131,#3a3a3a)!important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,#313131,#3a3a3a)!important; /* IE10+ */
	background-image: linear-gradient(top,#313131,#3a3a3a)!important; /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#3a3a3a',GradientType=0 )!important; IE6-9 */
    cursor: pointer!important;
}
/* Login */
.whsOnd {
	color: #ccc!important;
}
.fKz7Od {
	filter: invert(.9)!important;
}
.i9lrp {
	background-color: #333!important;
}
/* Conversion */
.dDoNo.vk_bk, .vk_bk.sol-tmp, .wob_t {
	color: #8e8e8e !important;
}
.LUnGP, .rzb2cc {
	color: #ccc;
}
/* Remove */
.sbdd_a[dir=ltr] .sbsb_j, .sbdd_a[dir=ltr] .sbpqs_b, .sbsb_c[dir=ltr] .sbfl_a, div._hWr, .irc_ft, .rmd_ft, td:last-of-type .irc_but, #ab_ctls, .exycls, .cdr_cls, .cdr_ttl, #_x9b, .nwd, ._vOc, .kno-ftr.rhsvw, .kno-ftr, #pnnext > span:nth-of-type(2), .duf3, ._vpj, ._jjk, #gt-ft-res, .gt-ft-promos, #select_document, #gt-res-edit, #gt-res-undo, #topstuff .sh-sp__list, .shpd, .stp, ._mCh, #irl_r_a, ._RWp, .gt-hats, .gsc_b, ._RMl .flt-actionblock, #topstuff .sh-sp__pswtr, ._Pdv, #rhs .commercial-unit-desktop-rhs.rhsvw {
    display: none!important;
}
/* Scrollbar */
::-webkit-scrollbar {
	width: 10px!important;
	height: 10px!important;
}
::-webkit-scrollbar-button {
	width: 0px!important;
	height: 0px!important;
}
::-webkit-scrollbar-thumb {
	background: #4b4b4b!important;
	border: none!important;
	border-radius: 0px!important;
}
::-webkit-scrollbar-thumb:hover {
	background: #5a5a5a!important;
}
::-webkit-scrollbar-thumb:active {
	background: #5a5a5a!important;
}
::-webkit-scrollbar-track {
	background: #333333!important;
	border: none!important;
	border-radius: 0px!important;
}
::-webkit-scrollbar-track:hover {
	background: #333333!important;
}
::-webkit-scrollbar-track:active {
	background: #333333!important;
}
::-webkit-scrollbar-corner {
	background: transparent!important;
}
