 /* ==UserStyle==
@name Google Calendar Redesigned (Dark Mode)
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Google-Calendar-Redesigned-(Dark-Mode).user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
/* https://github.com/EvHaus/google-redesigned/ */

/* COLOR PALETTE */

:root {
	--GR0: #0F1112; /* Background */
	--GR1: #17191B;
	--GR2: #1E2224;
	--GR3: #252A2D;
	--GR4: #2D3236;
	--GR5: #343A3F;
	--GR6: #3B4348;
	--GR7: #434B51;
	--GR8: #4A535A;
	--GR9: #515B62;
	--GR10: #606970;
	--GR11: #70787E;
	--GR12: #80878C;
	--GR13: #90969B;
	--GR14: #A0A5A9;
	--GR14: #AFB4B7;
	--GR15: #BFC3C5;
	--GR16: #CFD2D4; /* Text/Icons */
	--GR17: #DFE1E2;
	--GR18: #EFF0F0; /* Text/Icons Hover */
	--GRSELECTED: #c671ff;
}

/* GLOBAL */

	body { background: var(--GR0) !important }

/* ICONS */

	.gb_sa svg, /* Header Hamburger Menu */
	.rF3YF span, /* Header/Sidebar Arrows, Search */
	.gb_Wa.gb_xe svg, /* Header Settings, Apps, Bell */
	.xmVoP, /* Header "2 weeks" Button Arrow */
	.gb_ne.gb_oe button svg, /* Header Search Icons */
	.xJ65bd, /* Event Popover Header */
	.d29e1c, /* Event Popover Three Dots */
	.cjq2Db, /* Event Popover Close */
	.kMp0We .DPvwYc, /* Event Popover Rows */
	.QusFJf, /* Create Event Popover Icons */
	.aStPEd, /* Create Event Popover Out of Office Visibility Help Icon */
	.uSx8Od svg, /* Create Event Page Location/Conferencing */
	.uSx8Od, /* Create Event Page Calendar */
	.fKz7Od, /* Create Page RTE Toolbar Icons */
	.SlHBnb,  /* Create Page Rooms Search */
	.rF3YF svg /* Trash Row Hover */
	{
    	color: var(--GR16) !important;
    	fill: var(--GR16) !important;
	}

	.OQPTvb /* Header "Help" Icon */
	{
    	filter: invert(1) !important;    
	}

/* HEADER */

	/* Google keeps changing the class name for the header, so
 	* to prevent it from breaking. This specific descended
 	* selector is used */
	header > div {
    	background: var(--GR4) !important;
    	color: var(--GR16) !important;
	}

    	/* "Calendar" */
    	.gb_0c .gb_9d { color: var(--GR16) !important }

	/* Square Buttons */
	.GXlaye.qRI4pc, /* Today */
	.Cd9hpd /* 2 Weeks */
	{
    	background: var(--GR6) !important;
    	border-color: var(--GR8) !important;
	}

    	/* Square Buttons Text */
    	.GXlaye .snByac, /* Today */
    	.Cd9hpd .snByac /* 2 Weeks */
    	{
        	color: var(--GR16) !important;
    	}

    	/* Square Buttons Hover */
    	.GXlaye.qRI4pc:hover,
    	.Cd9hpd:hover {
        	background: var(--GR7) !important;
        	border-color: var(--GR9) !important;
    	}

    	/* Square Buttons Selected */
    	.Cd9hpd:hover .mAozAc.u3bW4e,
    	.Cd9hpd .mAozAc.iWO5td {
        	background: var(--GR8) !important;
        	border-color: var(--GR10) !important;
    	}

	/* Circle Button Hover */
	.rF3YF:hover { background-color: var(--GR7) !important }

	/* "Calendar" title */
	.gb_Zc .gb_5d { color: var(--GR16) !important }

	/* Calendar Range */
    .rSoRzd { color: var(--GR16) !important }

/* GENERIC DROPDOWNS */

	/* Body */
	.JPdR6b { background: var(--GR6) !important }

    	/* Row Text */
    	.z80M1, /* Settings Dropdown */
    	.QA0Szd-xl07Ob .uyYuVb /* "Add Calendar" Dropdown */
    	{
        	color: var(--GR16) !important
    	}

    	/* Row (disabled) Text */
    	.z80M1.RDPZE { color: var(--GR10) !important }

    	/* Keyboard Shortcut Key */
    	.mdj4H { color: var(--GR12) !important }

    	/* Row Hover */
    	.z80M1.FwR7Pc {
        	background: var(--GR8) !important;
        	color: var(--GR18) !important;
    	}

    	/* Checkmark Icon */
    	.z80M1.N2RpBe::before {
        	border-bottom-color: var(--GR16) !important;
        	border-right-color: var(--GR16) !important;
    	}

/* SEARCH HEADER */

	/* "Search" header title */
	.NkK3Fc span[role=heading] {
    	color: var(--GR16) !important;
	}

	/* Input Wrapper Focused */
	.gb_ne.gb_la {
    	background: var(--GR6) !important;
    	border-color: var(--GR8) !important;
	}

    	/* Input */
    	.gb_Ie { color: var(--GR16) !important }
    	.gb_Ie::placeholder { color: var(--GR12) !important }
  	 
	/* Search Options Dropdown */
	.BYXlo {
    	background: var(--GR6) !important;
    	color: var(--GR16) !important;
	}

/* SEARCH DROPDOWN */

	.gssb_e {
    	background: var(--GR6) !important;
    	border-color: var(--GR8) !important;
	}
    
    	/* Row */
    	.gssb_m {
        	background: transparent !important;
        	color: var(--GR16) !important;
    	}
   	 
        	/* Row Color */
        	.asor_x { color: var(--GR16) !important }
   	 
        	/* Row Hover */
        	.gssb_i {
            	background: var(--GR8) !important;
            	cursor: pointer;
        	}
       	 
        	/* Group Separator */
        	.gssb_l { background: var(--GR8) !important }
       	 
        	/* Row Details */
        	.gstq_c, .asor_e { color: var(--GR14) !important }

/* SEARCH RESULTS PAGE */

	/* Left-side border */
	.Gxjp0b { border-color: var(--GR8) !important }

/* MAIN CONTENT */

.SGWAac { border-color: var(--GR6) !important }

/* LEFT SIDEBAR */

.QQYuzf { background: var(--GR2) !important }

	/* Weird line */
	.hEtGGf::after { display: none !important }

	/* Create Button */
	.VfPpkd-BIzmGd { background: var(--GR6) !important }
   	 
    	/* Text */
    	.u5sQsb { color: var(--GR16) !important }

	/* MINI CALENDAR */

    	/* Month */
    	.MSZkRb .r4nke { color: var(--GR16) !important }

    	/* Day of the Week */
    	.SoBqBf { color: var(--GR10) !important }

    	/* Day Circle */
    	.W0m3G .r4nke { background: var(--GR1) !important }

        	.W0m3G .r4nke:hover { background: var(--GR7) !important }

    	/* Day (out of month) */
    	.W0m3G { color: var(--GR10) !important }

    	/* Day (in month) */
    	.iMprOe { color: var(--GR14) !important }

    	/* Day (today) */
    	.TUH0Sd .r4nke { color: var(--GR18) !important }

    	/* Day (selected) */
    	.W0m3G.i8dSE .r4nke { color: var(--GRSELECTED) !important}

	/* MEET WITH */

    	/* "Meet with" */
    	.qISYgf { color: var(--GR12) !important }
   	 
    	/* Selected Person Pill */
    	.cnTo8e.FYQzvb::before { background: var(--GR4) !important }

        	/* Avatar */
            	/* Circle */
            	.EzBbpc path[fill="#E0E0E0"] { fill: var(--GR0) !important }

            	/* Person Icon */
            	.EzBbpc path[fill="#BDBDBD"] { fill: var(--GR12) !important }

        	/* Remove Icon */
        	.RpN9Ve { color: var(--GR16) !important }

            	.RpN9Ve:hover { background: var(--GR10) !important }

	/* ADD CALENDAR */

    	/* Input Wrapper */
    	.IIB0tc .ULpymb { background: var(--GR6) !important }

        	/* Input */
        	.ULpymb .zHQkBf { color: var(--GR16) !important }

        	/* Input Placeholder */
        	.ULpymb .snByac { color: var(--GR12) !important }

        	/* Input Focus Animated Underline */
        	.OabDMe { background: var(--GRSELECTED) !important }
   	 
    	/* ... Button */
    	div.oFBMuc { margin-left: 8px !important }
   	 
        	div.oFBMuc:hover { background: var(--GR6) !important}

	/* CALENDARS */

    	/* Calendars Group Title */
    	.uQ1ixe .snByac { color: var(--GR12) !important }

        	.I2LGc:hover { background: var(--GR4) !important }
       	 
            	.uQ1ixe .CeoRYc { background: transparent !important }

    	/* Calendar Name */
    	.DYTqTd .NI2kfb { color: var(--GR16) !important }

        	.kMp0We.Wm6kRe:hover { background: var(--GR4) !important }
   	 
    	/* Color Box Center */
    	.uHMk6b { border-color: var(--GR2) !important }
   	 
/* DAY VIEW */

	/* Body */
	.OCQPo { background: transparent !important }

	/* Day Abbr. */
	.qAeuG.F262Ye { color: var(--GRSELECTED) !important }

	/* Day Number Circle */
	.KSxb4d.F262Ye {
    	background: var(--GR7) !important;
    	color: var(--GR18) !important;
	}

	/* Calendar Author */
	.mdzkGf { color: var(--GR14) !important }

	/* Scroll Indicator (Left) */
	.T8M5bd .sx5BGe::before {
    	background-image: linear-gradient(to left, rgba(0,0,0,0), var(--GR5)) !important;
	}

	/* Scroll Indicator (Right) */
	.T8M5bd .qmFsL::after {
    	background-image: linear-gradient(to left, var(--GR5), rgba(0,0,0,0)) !important;
	}

	/* Time Column */
	.Gk2izd, .GENA3c { background: transparent !important }
   	 
    	/* Text */
   	 .pCoqfc, .MANBAf { color: var(--GR12) !important }

    	/* Grid Borders */
    	.MVMVEe, /* Left-side Header */
    	.EdAri, /* Left-side Content */
   	 .yEkOpe, /* Header */
   	 .YvjgZe, /* Days */
   	 .mmsF1c::after /* Rows */
    	{
        	border-color: var(--GR3) !important
   	 }

/* WEEK VIEW */

	/* Header/Body Divider */
	.J2aUD.T8M5bd .qmFsL::before,
	.SGFqbe.T8M5bd .qmFsL::before {
    	box-shadow: inset var(--GR12) 0 1px 3px !important;
	}

	/* Body */
	.v83gc { background: transparent !important }

	/* Non-current Day */
	.KSxb4d, .KSxb4d.N4XV7d { color: var(--GR12) !important }

    	.KSxb4d.RKLVef:hover {
        	background: var(--GR4) !important;
        	color: var(--GR14) !important;
    	}

	/* Current Day Highlight */
	.SU7tYb.F262Ye, .yEkOpe.F262Ye  { background: var(--GR3) !important }

	/* Crossed-out area when using "Meet with" feature */
	.eh9LUb .PKtsjf, .sphSn .PKtsjf, .mjwRo .PKtsjf, .s4ZaLd.GIIru {
    	filter: invert(1) brightness(3) grayscale(1) !important;    
	}

	/* Selected Time when using "Meet With" feature */
	.EfQccc.pZRd0d {
    	background: var(--GR12) !important;
    	border: 1px solid var(--GR18) !important;
	}

/* MONTH VIEW */

	/* Body */
	/* Cannot be transparent due to animation */
	.tNDBE { background: var(--GR0) !important }

	/* Grid Lines */
    .tNDBE:not(.Wyo4Qe), /* Left-most */
	.CIFHgc, /* Left-most in Business */
	.PhLhOd, /* Header */
	.t8qpF, /* Vertical */
	.QIadxc /* Horizontal */
	{
    	border-color: var(--GR3) !important
	}

	/* Day Number */
	.YK7obe .yzYBvd { color: var(--GR12) !important }

	/* Non-current Day */
    .wy3aMe { color: var(--GR12) !important }

	/* Current Day Circle */
	.yzYBvd.F262Ye {
    	background: var(--GR7) !important;
    	color: var(--GRSELECTED) !important;
	}

	/* Current Day Highlight */
	.ef2wWc { background: var(--GR1) !important }

	/* Time Event */
	.g3dbUc.smECzc { color: var(--GR16) !important }
    
    	.g3dbUc.smECzc:hover {
        	background: var(--GR6) !important;
        	color: var(--GR18) !important;
    	}
    
	/* Time Event (Past) */
	.g3dbUc.UflSff { color: var(--GR12) !important }
    
	/* Time Event (Selected) */
	.g3dbUc.smECzc.KKjvXb { background: var(--GR10) !important }

	/* "x more" row */
	.g3dbUc.KCIIIb { color: var(--GR12) !important }

    	.g3dbUc.smECzc:hover, .g3dbUc.KCIIIb:hover {
        	background: var(--GR6) !important;
        	color: var(--GR16) !important
    	}

	/* "x more" Popover */
    
    	/* Day of the Week */
    	.QJLQUd { color: var(--GR14) !important }

    	/* Day Number */
    	.ebs3Ne { color: var(--GR16) !important }

        	.ebs3Ne:hover { background: var(--GR2) !important }

/* YEAR VIEW */

	/* Row */
	.W0m3G::before { background: transparent !important }

/* SCHEDULE VIEW */

	/* Grid Lines */
	.d3Ig7c, /* Left-most */
	.L1Ysrb /* Day Separator */
	{
    	border-color: var(--GR3) !important
	}

	/* Day Circle */
	.O3EOA {
    	background: var(--GR1) !important;
    	color: var(--GR18) !important;
	}

    	.O3EOA:hover { background: var(--GR7) !important }

    	/* Today */
    	.OmwDud.F262Ye .O3EOA {
        	background: var(--GR7) !important;
        	color: var(--GRSELECTED) !important;  
    	}

	/* Month, Day of the Week */
	.OmwDud  { color: var(--GR12) !important }

    	/* Today */
    	.OmwDud.F262Ye { color: var(--GRSELECTED) !important }
    
	/* Event */
	.dtaVuc { color: var(--GR16) !important }

    	.dtaVuc:hover { background: var(--GR6) !important }

/* RIGHT SIDEBAR */

	/* Body */
	.Kk7lMc-DWWcKd-OomVLb-haAclf {
    	background: var(--GR2) !important;
    	border-color: var(--GR6) !important;
	}

	/* Divider */
    .Kk7lMc-DWWcKd-OomVLb-hgDUwe { border-color: var(--GR6) !important }

	/* Buttons */
	.DWWcKd-OomVLb-LgbsSe-Bz112c-haAclf:hover {
    	background-color: var(--GR7) !important;
	}

    	/* "Get Addons" icon */
    	.DWWcKd-OomVLb-LgbsSe-Bz112c-haAclf[style*="add_black_24dp"] {
        	background-image: url(https://www.gstatic.com/images/icons/material/system/1x/add_white_24dp.png) !important
    	}

/* EVENT POPOVER */

	/* Body */
	.JtukPc { background: var(--GR6) !important }

	/* Title & Labels */
	.agOyMd .JAPzS, .NI2kfb { color: var(--GR18) !important }

	/* Dividers (appear when setting description) */
	.AZLU4c.gUZKAc:not(.sMVRZe):not(.dBA1M),
	.AZLU4c:not(.gUZKAc).sMVRZe:not(.dBA1M) {
    	border-color: var(--GR12) !important
	}

	/* Links in the Description */
	.S4zwaf a { color: var(--GR16) !important }
   	 
    	.S4zwaf a:focus,
    	.S4zwaf a:hover {
        	color: var(--GR18) !important
    	}

	/* "Outside working hours" */
	.bjNu9b { background: var(--GR2) !important }

    	/* Icon */
    	.bjNu9b .Kww6bc { fill: var(--GRSELECTED) !important }

	/* Date & Address */
	.DN1TJ { color: var(--GR16) !important }

	/* RTE for Description */
	.XOE24 { background: var(--GR4) !important }

    	/* Toolbar Dividers */
    	.XOE24 .AMBzld { border-color: var(--GR8) !important}

    	/* Toolbar Button Hover */
    	.XOE24:not(.W1ZWq) .gHlG4 .Erb9le:not(.Hcv3ye) .qmMNRc:hover {
        	background: var(--GR2) !important
    	}
    
	/* Close Icon Circle */
	.XsU8xf { background-color: var(--GR3) !important }

	/* "Going?" Footer */
	.NAFvr { background: var(--GR5) !important }

    	/* Divider */
    	.mKdssd { background: var(--GR10) !important }

    	/* "Propose a new time" buttons */
    	.ZGVUP {
        	background: var(--GR8) !important;
        	border: 1px solid var(--GR10) !important;
    	}

        	/* Text */
        	.ZGVUP .snByac { color: var(--GR16) !important }
        	.ZGVUP:hover .snByac { color: var(--GR18) !important }

    	/* "Add Note" dialog */

        	/* RSVP Select */
        	.HLI7qf { background: var(--GR4) !important }

            	/* Text */
            	.HLI7qf .c7fp5b { color: var(--GR16) !important }

	/* Email Guests */
    
    	/* List of invitees */
    	.J09ahd { background: transparent !important }

        	/* Invitee pill */
        	.cnTo8e { background: var(--GR4) !important }
	 
	/* GoToMeeting Links */
	.goktNc { color: var(--GR16) !important }
	 
    	.goktNc:hover { color: var(--GR18) !important }

	/* "Everyone else declined the event" footer */
	.U0vptb {
    	background: var(--GR4) !important;
    	border-color: var(--GR8) !important;
	}

/* TASK POPOVER */

	/* Footer */
	.YWILgc { border-color: var(--GR10) !important }

	/* "Mark Complete" button */
	.xPejqf { color: var(--GR16) !important }

/* CREATE POPOVER */

	/* Name Input */
	.shdZ7e .zHQkBf { color: var(--GR16) !important }

    	/* Placeholder Text */
    	.shdZ7e .snByac { color: var(--GR12) !important }

    	/* Underline */
    	.shdZ7e .mIZh1c { background: var(--GR12) !important }

	/* Type Button */
	.qmv2fc.kaAt2 {
    	background: var(--GR8) !important;
    	border: 1px solid var(--GR10) !important;
    	color: var(--GR16) !important;
	}

    	.qmv2fc.kaAt2:hover {
        	background: var(--GR9) !important;
        	border: 1px solid var(--GR11) !important;
        	color: var(--GR17) !important;
    	}

    	/* Selected */
    	.qmv2fc.KKjvXb {
        	background: var(--GR10) !important;
        	border: 1px solid var(--GRSELECTED) !important;
        	color: var(--GR18) !important;
    	}

	/* Time Select */
	.BvQsje, /* Row */
	.Kb2sf /* Start/End Time */
	{
    	background: var(--GR4) !important;
	}

    	/* Start/End Time Text */
    	.WpDZC { color: var(--GR16) !important }

    	/* Hyphen */
    	.NtP29 { color: var(--GR12) !important }

    	/* Active Underline */
    	.DSC0Mc { background: var(--GRSELECTED) !important }

    	/* Add Time Button */
    	.e3UiQ {
        	border-color: transparent !important;
        	color: var(--GR16) !important;
    	}

        	.e3UiQ:hover {
            	color: var(--GR17) !important;
        	}

    	/* Dropdowns */
    	.gHQcAb {
        	background: var(--GR6) !important;
        	color: var(--GR16) !important
    	}

    	/* Time Dropdown */
    	.gHQcAb { background: var(--GR6) !important }

        	.VKy0Ic[aria-selected="true"] {
            	background: var(--GR8) !important;
            	color: var(--GR18) !important;
            	cursor: pointer;
        	}

	/* "Suggested times" Button */
	.tDiQl { border-color: var(--GR12) !important }

    	.tDiQl:hover { border-color: var(--GRSELECTED) !important }
    
    	.tDiQl .snByac { color: var(--GR16) !important }

	/* Calendar Select */
	.jZ0DTb { background: var(--GR4) !important }

    	/* Text */
    	.jT5e9 { color: var(--GR16) !important }

    	/* Dropdown */
    	.ncFHed { background: var(--GR6) !important }

        	/* Hover Row */
        	.ncFHed .MocG8c.KKjvXb { background: var(--GR8) !important }

            	/* Text */
            	.ncFHed .MocG8c.KKjvXb .jT5e9 { color: var(--GR18) !important }

	/* Reminder Repeat Select */
	.MocG8c { color: var(--GR16) !important }

	/* Reminder "All Day" */
	.ETkhPe, /* On Create */
	.JtukPc /* On Edit */
	{
    	color: var(--GR16) !important
	}

	/* Task "Add Description" */
	.Qfwgwb { background: var(--GR4) !important }

    	/* Textarea */
    	.LV4Pme { color: var(--GR16) !important }
    	.DuZZ2b { color: var(--GR12) !important }

    	/* Active Underline */
    	.FaGtTe { background: var(--GRSELECTED) !important }

	/* Out of office "Decline message" label */
	.OOp5xb { color: var(--GR12) !important }

	/* Out of office Visibility Help Tooltip */
	.EmURbc { background: var(--GR6) !important }

	/* Appointment slots duration row */
	.FXZz0b { background: transparent !important }

	/* "More options" Button */
	.nYqxP { color: var(--GR16) !important }
   	 
    	.nYqxP:hover { color: var(--GR18) !important }

	/* "Save" Button */
	.Y5sE8d {
    	background: var(--GR10) !important;
    	color: var(--GR18) !important;
	}

/* EDIT POPOVER */

	/* Task Title Input */
	.cu6vzc .zHQkBf { color: var(--GR18) !important }

	/* Task Time Row */
	.AouyCd { background: transparent !important }

/* CUSTOM RECURRENCE DIALOG */

.I7OXgf {
	background: var(--GR6) !important;
	color: var(--GR16) !important
}

	/* "Repeat On" circles */
	.IuSHYd {
    	background: var(--GR4) !important;
    	color: var(--GR16) !important;
	}

    	.IuSHYd:hover { background: var(--GR2) !important }

    	/* Selected */
    	.IuSHYd.N2RpBe:not(.RDPZE) .dobRbb { border-color: var(--GRSELECTED) !important }

	/* "Ends" radio buttons */
	.BHE4Yb .Id5V1 { border-color: var(--GR12) !important }

    	/* Selected */
    	.BHE4Yb .nQOrEb { border-color: var(--GRSELECTED) !important }

	/* Occurences Row */
	.GY2CZb { background: transparent !important }

	/* "Cancel" / "Done" Buttons */
	.UQuaGc { color: var(--GR16) !important }

    	.UQuaGc:hover { color: var(--GR18) !important }

/* CREATE EVENT PAGE */

.p9lUpf { background: var(--GR4) !important }

	/* Checkboxes */
	.dRjtd .i6LVBe, /* "All Day" */
	.kMp0We .wimXt,  /* Guests Can */
	.WefNYe .uVccjd, /* Settings Page */
	.Lzfnue .uVccjd /* Trash Page */
	{
    	border-color: var(--GRSELECTED) !important
	}

    	/* Checkmark */
    	.dRjtd .i6LVBe .MbUTNc,
    	.dRjtd .i6LVBe .Ii6cVc,
    	.kMp0We .wimXt .MbUTNc,
    	.kMp0We .wimXt .Ii6cVc,
    	.WefNYe .uVccjd .MbUTNc,
    	.WefNYe .uVccjd .Ii6cVc,
    	.Lzfnue .uVccjd .MbUTNc,
    	.Lzfnue .uVccjd .Ii6cVc
    	{
        	border-color: var(--GR0) !important
    	}
   	 
	/* Tab */
	.r5F2ye .VZhFab { color: var(--GR12) !important }
    
    	/* Active */
    	.DvZJme.KKjvXb .VZhFab { color: var(--GR16) !important }

    	/* Active Underline */
    	.w7qIhd, .WwvKTc { background: var(--GRSELECTED) !important }

	/* Backgrounds for events you've been invited to */
	.sGOxme.W1ZWq,
	.DyOaYd,
	.DyOaYd.W1ZWq .lR3h6d {
    	background-color: transparent !important;
	}

	/* Location Dropdown */
	.VOEIyf .jBmls {
    	background: var(--GR6) !important;
    	color: var(--GR16) !important;
	}
    
    	/* Row Hover */
    	.oKubKe[aria-selected="true"] {
        	background: var(--GR8) !important;
        	cursor: pointer;
    	}

	/* Join Hangsout Meet */
	.cBVkjf { border-color: var(--GR12) !important }

    	/* Links & Accents */
    	.Q30cfe,
    	.Fjbmi a {
        	color: var(--GRSELECTED) !important;
    	}

        	.Q30cfe:hover,
        	.Fjbmi a:hover {
            	color: var(--GR18) !important;
        	}

	/* Notification "Before at" text */
	.j3nyw { color: var(--GR16) !important }
   	 
	/* "Add Notification" Button */
	.rhtYVe .snByac { color: var(--GR16) !important }
    
	/* Color Select */
	.FpmPAb { background: var(--GR6) !important }
    
	/* "Learn more about event visibility" */
	.HvbOJ { color: var(--GRSELECTED) !important }
   	 
    	.HvbOJ:focus, .HvbOJ:hover { color: var(--GR14) !important }
    
	/* Description Textbox */
	.DyOaYd { background: var(--GR6) !important }
    
    	/* Toolbar Dividers */
    	.PqAscf { border-color: var(--GR10) !important }
   	 
    	/* Toolbar Selected Button */
    	.Erb9le:not(.RDPZE) .qmMNRc.y7OZL { background: var(--GR4) !important }
   	 
    	/* Placeholder Text */
    	.lR3h6d .snByac { color: var(--GR12) !important }
   	 
    	/* File Attachment */
    	.Vq3YLb { color: var(--GR16) !important }
   	 
    	/* Links */
    	.lR3h6d .iuaqab a {
        	color: var(--GRSELECTED) !important;
        	cursor: pointer !important;
    	}
   	 
        	.lR3h6d .iuaqab a:focus, .lR3h6d .iuaqab a:hover {
            	color: var(--GR14) !important;
        	}
    
	/* "Calendar cannot be shown" message */
	.srd2n { color: var(--GR14) !important }
    
	/* "Guests Can" */
	.hGcgEd { color: var(--GR16) !important }
    
	/* "Find a Time" date range */
	.oPF3Ce { color: var(--GR16) !important }
    
	/* Rooms Icon Row */
	.qTH1m { background: transparent !important }
    
    	/* Placeholder */
    	.bojM1c { color: var(--GR12) !important }
   	 
	/* Rooms Search Results */
	.pwzJje { border-color: var(--GR10) !important }

	/* Event Tooltip on Hover */
	.VmTz5c {
    	background: var(--GR6) !important;
    	color: var(--GR16) !important;
	}

	/* "Calendar cannot be shown" */
	.GEhdLd,	/* Text */
	.EmURbc 	/* Help Popup Text */
	{
    	color: var(--GR16)
	}

/* "FIND A TIME" AREA */

	/* Header */
	.TxuuLc {
    	background: var(--GR4) !important;
    	border-color: var(--GR10) !important;
    	color: var(--GR16) !important;
	}

	/* Left Sidebar */
	.eQHds { border-color: var(--GR4) !important}
    
    	/* Text */
    	.yP0bV { color: var(--GR16) !important }

        	/* Proposal Time Row */
        	.qrLqp .SmCjzc { background: transparent !important }

	/* Calendar */

    	/* Header */
    	.Xo3rO { border-color: var(--GR8) !important}

    	/* Outside of work week area */
    	.SJbruc { background: var(--GR3) !important }

    	/* Find a time block */
    	.BoaG2d {
        	background-color: var(--GR18) !important;
        	border-color: var(--GR18) !important
    	}

/* SETTINGS */

	/* Sidebar */
	.xWId8e { background: var(--GR2) !important }

    	/* Current Page Highlight */
    	.cAYGed.KKjvXb .Ioup7e, .cAYGed.KKjvXb .BMQm1d { background: var(--GR6) !important }
   	 
    	/* Breadcrumb */
    	.DaQ2rc::before { background: var(--GR6) !important }
   	 
    	/* Breadcrumb Active */
    	.DaQ2rc.KKjvXb .Oxnkef { border-color: var(--GRSELECTED) !important }
   	 
    	/* Category */
    	.nxPHec { color: var(--GR10) !important }
   	 
   /* Scroll Indicator (Left) */
   .a0xMze.T8M5bd::after {
   	background-image: linear-gradient(to left, rgba(0,0,0,0), var(--GR8)) !important;
   }
   
   /* Sections */
   .MDfQ7 {
   	background: transparent !important;
   	color: var(--GR16) !important;
   }
   
    	/* Title */
    	.O1gyfd { color: var(--GR16) !important }
   	 
    	/* Select Field Labels */
    	.LGMdbc { color: var(--GR12) !important }
   	 
	/* Browse calendars of interest */
    
    	/* Row */
    	.jxUZDd { border-color: var(--GR8) !important }
   	 
        	.jxUZDd:hover { background: var(--GR2) !important }
    
        	/* Row label */
        	.Ccr7Rb { color: var(--GR12) !important }

	/* Working Hours */

    	/* "To" block */
    	.aJRNHb { background: transparent !important }

/* TRASH */

	/* Sidebar */
	.pljXM { background: transparent !important }
    
    	/* Calendar Header */
    	.aDCdzb { color: var(--GR10) !important }

    	/* Selected Calendar */
    	.LOewLb.KKjvXb { background: var(--GR6) !important }
    
	/* Lister */
	.NekIXe, .Lzfnue { background: transparent !important }
    
    	/* Table Headers */
    	.M1ZIGd { color: var(--GR16) !important }
   	 
    	/* Content */
    	.ETUnje > * { color: var(--GR14) !important }
   	 
    	/* Row Hover */
    	.v9Riof:hover, .ETUnje:hover { background: var(--GR4) !important }
    	.ETUnje { border-color: var(--GR6) !important }

/*RSVP BY LAUREN*/
	.l3F1ye {
    	color: var(--GRSELECTED)!important
	}

