 /* ==UserStyle==
@name Google Calendars Left Column Tighter
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Google-Calendars-Left-Column-Tighter.user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
/* Shrink Create button  */

.LXjtcc {
    height: auto;
    min-height: 50px;
}

.SaBhMc .VfPpkd-Q0XOV {
    width: 26px;
    height: 26px;
    font-size: 26px;
}

.wJGlHe.SaBhMc:not(.jVwmLb) {
    border-radius: 12px;
    height: 28px;
    margin-top: 2px;
    width: auto;
}

/* fit more text onto the My Calendars list in Google Calendar  */

body {
    font-size: .65rem;
}

.cr5Gle {
    padding-top: 0;
}

.NI2kfb {
    font-size: .65rem;
    line-height: .75rem;
    padding-bottom: 0;
    padding-top: 0;
    }

/* Trying to make check boxes smaller */

.DB71Ge [aria-checked="true"]>.rq8Mwb, .DB71Ge [aria-checked="mixed"]>.rq8Mwb {
    clip: rect(0,14px,14px,0);
}
.rq8Mwb {
    clip: rect(0,14px,14px,0);
    height: 14px;
    width: 14px;    
}

.PkgjBf {
    height: 14px;
    width: 14px;
}

/*   Shrinks space between checkboxes and text   */

.OLw7vb {
    width: 28px;
}

/*   Compressing boundary space around each calendar name in list (mixed success due to inline styling)  */

.rF3YF.uRguKd, .rF3YF.uRguKd>.TpQm9d {
    height: 26px;
    width: 26px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    min-height: 20px;
}

/*  makes scrollbars bigger (depending on browser) */

::-webkit-scrollbar {
    background: transparent;
    height: 18px;
    width: 18px;
}


