 /* ==UserStyle==
@name JIRA Dark (NightShift - DeepDark recolor)
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/JIRA-Dark-(NightShift---DeepDark-recolor).user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
body,
html {
	min-height: 100%!important;
}
html,
body {
	background-color: #111!important
}
body > *:not(:empty) {
	background-color: #222!important
}
body > * > *:not(:empty) {
	background-color: #222!important
}
body > * > * > *:not(:empty) {
	background-color: transparent
}
body > * > * > * > *:not(:empty) {
	background-color: #212121!important
}
body > * > * > * > * > *:not(:empty) {
	background-color: #282828!important
}
body > * > * > * > * > * *:not([class^="tm-label-circle"]):not([class^="tm-status-dropdown"]):not([class^="ghx-grabber"]):not([class*="ghx-active"]):not([class*="aui-icon"]):not([type*="checkbox"]):not([class*="dashboard-item"]) {
	background-color: #282828!important
}
body table:not(:empty) {
	background-color: #212121!important
}
body table > tbody > tr:nth-child(even) {
	background-color: rgba(0, 0, 0, .2)!important
}
body table > tbody > tr > td:nth-child(odd) {
	background-color: rgba(0, 0, 0, .1)!important
}
body *:empty:not([class*="icon"]):not([class^="tm-"]):not([class^="ghx-grabber"]) {
	background-color: #111!important
}
body p:not(:empty),
body p *,
body h1,
body h1 *:not([class*="aui-header-logo"]),
body h2,
body h2 *,
body h3,
body h3 *,
body h4,
body h4 *,
body h5,
body h5 *,
body strong > *,
body b > *,
body em > *,
body i > *,
body span > *:not(img) {
	background: transparent none!important
}
body h1,
body h1 *,
body h2,
body h2 *,
p > strong:only-of-type,
p > b {
	color: #269ed9!important
}
body h3,
body h3 *,
body h4,
body h4 * {
	color: #aaa
}
/*Lauren: I'm commenting this out because it's more trouble than it's worth. Got the context buttons back on Dasboard gadgets now.
*:not([onclick]):not(input):not(a):not(img):not([class^="UI"]):not([class^="tm-"]):not([class*="icon"]):not([class*="aui-header-logo"]):not([type*="checkbox"]):not([class*="gadget-menu"]),
body a:not(:empty):not([class^="inplace_"]):not([class*="tempo-actions-trigger"]):not([id*="logo"]),
div:not([onclick]):not([class^="tm-"]):not([class*="icon"]):not([url]) {
	background-image: none;
}*/

*[onclick] {
	color: #79a!important
}
*[onclick]:hover {
	color: #0af!important
}
body hr {
	background: #666 none!important;
	color: #666!important;
	border: 1px solid #666!important;
	height: 1px!important;
	overflow: hidden!important;
	display: block!important
}
* {
	color: #c0c0c0!important;
	border-color: #60666a!important;
	box-shadow: 0 0 0 #333!important
}
* body a,
body a * {
	color: #40a1d0!important;
}

/* (Lauren: turns out I didn't want this) body a:visited, body a:visited *{color: #666!important;} */
body a:hover,
body a:hover * {
	color: #0af!important;
	text-decoration: underline!important
}
body img,
a[href] img,
a[href] button,
input[type="image"],
*[onclick]:empty,
body a:empty {
	opacity: .9!important
}
body img:hover,
a[href]:hover img,
a[href]:hover button,
*[onclick]:empty:hover,
body a:empty:hover {
	opacity: 1!important
}
body span > img {
	visibility: visible!important
}
body input[type]:not([type*="checkbox"]),
input:not([type*="checkbox"]),
body textarea,
body select {
	-moz-appearance: none!important;
	color: #bbb!important;
	border-radius: 4px !important;
	border-width: 1px!important;
	border-color: rgba(100, 100, 100, .5)!important;
	border-style: solid!important;
	background: -moz-linear-gradient(top, #202020 40%, #282828, #242424) #222 !important;
	box-shadow: inset 1px 1px 1px #111!important
}
body input[type="submit"],
body input[type="button"],
body input[type="image"],
body input[type="reset"],
body button {
	-moz-appearance: none!important;
	color: #bbb!important;
	border-radius: 4px !important;
	border-width: 1px!important;
	border-color: rgba(100, 100, 100, .5)!important;
	border-style: solid!important;
	background: -moz-linear-gradient(top, #303030 45%, #181818 55%) #222 !important;
	box-shadow: 1px 1px 1px #111!important
}
body input[type]:not([type*="checkbox"]) > *,
body textarea > * {
	-moz-appearance: none!important;
	background: transparent none !important;
	color: #bbb!important;
	border-style: solid!important;
	border-width: 0px!important;
}
body select * {
	background-color: transparent !important;
	color: #bbb!important;
	border-style: solid!important;
	border-width: 0px!important;
}
pre:not(:empty),
code:not(:empty),
cite:not(:empty),
pre:not(:empty) *,
code:not(:empty) *,
cite:not(:empty) * {
	background-image: url(data:image/gif;base64,R0lGODlhBAAEAIAAABERESIiIiH5BAAAAAAALAAAAAAEAAQAAAIGTACXaHkFADs=)!important;
	color: #bcc8dc!important;
}
.aui-toolbar .toolbar-group .toolbar-trigger,
.aui-toolbar .aui-dd-parent a.aui-dd-trigger {
	text-shadow: 0 0px 0 white;
}
.aui-inline-dialog .buttons-container.content-footer input.cell-add {
	background: #000!important;
}
.aui-sidebar .aui-nav > li > .aui-nav-item > .aui-icon,
.aui-sidebar-submenu .aui-nav > li > .aui-nav-item > .aui-icon {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}
a.js-quickfilter-button.last.ghx-active,
a.js-quickfilter-button.first.ghx-active,
a.js-quickfilter-button.ghx-active,
.ghx-controls-filters dd a.ghx-active {
	background: #3572b0!important;
}
.editable-field .overlay-icon {
	color: transparent!important;
}
.tm-wc-item:hover .editable-field .overlay-icon:after,
.tm-description:hover .editable-field .overlay-icon:after {
	content: "\f142";
	color: #7bb4b6;
	font-family: "Atlassian Icons";
	left: 10px;
	position: absolute;
	top: 10%;
}
.ghx-swimlane-header:after,
.ghx-swimlane-header.ghx-selected:after {
	visibility: hidden;
}
.ghx-grabber {
	filter: brightness(60%);
	-webkit-filter: brightness(60%);
}
.tm-label-circle {
	filter: brightness(60%) contrast(300%);
	-webkit-filter: brightness(60%) contrast(300%);
}
.tm-status-dropdown {
	filter: brightness(60%) contrast(150%);
	-webkit-filter: brightness(60%) contrast(150%);
}
::-webkit-scrollbar {
	width: 12px;
	/* This is more usable for users trying to click it. */
	background-color: rgba(0, 0, 0, 0);
	-webkit-border-radius: 100px;
}

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
	/* This is the EXACT color of Mac OS scrollbars.
 	Yes, I pulled out digital color meter */
	background: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(0, 0, 0, 0.61);
	/* Some darker color when you click it */
	-webkit-border-radius: 100px;
}

svg[class="svg-icon checked"], input[type="checkbox"]:checked:not(.slider) + .svg-icon.checked {fill: #0af}

.piechart-center-secondary {fill:#fff!important}

/*For Gadget Headers*/
h3 {color:#fff!important}

/*You may notice all the exceptions for checkboxes. This is because this theme eats checkboxes for breakfast if you let it.*/

/*Fixing wrapper on access requests*/
.custom-portal-layout-flag #content-wrapper {background-color: #111}