 /* ==UserStyle==
@name Miscellaneous Additions
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Miscellaneous-Additions.user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
/*Fix for tables - Android Developer Dark Theme*/
td {
	background: #111;
	color: #ddd
}
tr {
	background: #2f4e16
}
td code {
	color: #48a320
}



/*RSVP (Lauren) - Google Calendar Redesigned. Changed 12-28*/
	.l3F1ye {
    	color: var(--GRSELECTED)!important
	}




/*Slack Night Mode (Black) changes by Lauren, updated 2020-08-28*/
/*Lauren's Edits to make the nav menu readable and also bluetext*/
nav#site_nav ul a:link {color:#7ab}
nav#site_nav ul a:visited {color:#069}
nav#site_nav span#user_menu_name {color:#0af}
nav#site_nav .ts_icon {color:#0af}
a:link {color:#7ab}
a:hover {color:#0af!important}
i:hover {color:#0af}
.widescreen:not(.nav_open) nav#site_nav h3, .widescreen:not(.nav_open) nav#site_nav ul a, .widescreen:not(.nav_open) nav#site_nav ul a:link {color: #aaa}
/*Lauren's Edits to make status.slack.com readable*/
.bg_white {background-color: #222}
.bg_lighter_gray {background-color: #545454}
#nav_bar_section.general_scope {background-color: #545454}
.logo {background-color: #fff}
.black_licorice {color: #7ab}
p {color: #fff}
#services_legend .header {background-color: #363636!important}
.c-tooltip__content {background-color: #222}
#nav_bar a {color: #7ab}
span.menu_item_label, li[role=menuitem], a.overflow_ellipsis, a[target=new_1537286425085] {color: #fff !important}
/*Lauren's Edit to make profile preview readable*/
#member_preview_web_container {background: #222}
/*Lauren's edits to make Preferences menu readable*/
div.c-fullscreen_modal__header {background: #363636}
.c-fullscreen_modal__body {background: #343434}
.c-sidebar_menu__list_item {color: #fff}
.c-link--button.c-sidebar_menu__list_item:hover {color: #7ab}
.p-prefs_modal__radiogroup label.p-prefs_modal__radiogroup--selected {background: #1a5568}
/*Lauren's edits to make About page readable*/
a[class*=p-team_site_tabs__tab--selected], div[class=p-team_site_tab_pane] {background: #2a2a2a; border-color: transparent}
span.sk_foreground_max {color: #ddd}

/*Lauren's Styles for Admin pages*/
div#page {background: #111; color: #fff}

/*Nav Menu*/
.widescreen:not(.nav_open)  nav#site_nav ul a:visited, a:visited {color:#68a}

/*Tabs and Panes*/
.tab_set a.selected, .tab_pane {background: #2a2a2a; border-color: transparent}
.tab_set a, .tab_set a.selected {color: #ccc} /*tabs*/
/*Headers in selected pane*/
.ent_callout__title {color: #d1d1d1}
.ent_graph_header--primary {color: #d1d1d1}
div[class *= "selected_seafoam_green"] {color: #007a5a}
div[class *= "selected_fill_blue"] {color: #1d9bd1}
div[class *= "selected_ent_violet"] {color: #7f5ac8}
/*help question marks*/
.sk_foreground_max {color: rgba(198, 186, 198, 0.7)}

/*Settings and Permissions*/
/*Headers*/
.accordion_section h4, .accordion_section h4 a, .plastic_row h4 a {color: #ccc}
html.no_touch .plastic_row:hover {background: #1c1c1e; border-color: transparent}

/*Members page*/
#page, .p-admin_table_wrapper--contents, .p-admin_table-wrapper__header_background {background: #1c1c1c; border-bottom: 2px solid #000}
.p-admin_member_table__page.widescreen:not(.nav_open) nav#site_nav {background: #1a1a1a}
.p-admin_table_wrapper__table {background: #1e1e1e}
.c-table_view_row:not(.c-table_view_hover_disabled):hover, .c-table_view_header_item:not(.c-table_view_hover_disabled):hover {background: #10101f!important}
.p-admin_table_wrapper--contents .p-admin_member_table {padding-bottom: 30px}

/*Analytics Section*/
/*Analytics graph legends*/
.ent_graph__legend_text {fill: #d1d1d1}
/*Analytics chart*/
.ent_data_table__row, .ent_data_table__cell--header, .ent_data_table__thead {background: #222}
.ent_data_table__cell:not([class *="--positive"]) {color: #d1d0d1}
.ent_data_table__row--hovered, .ent_data_table__cell--sortable:hover {background: #1c1c1e}
/*The private channels info was too dark, changed to cyan*/
*[style*="fill: rgb(29, 28, 29)"] {fill: #0ab!important}
*[style*="stroke: rgb(29, 28, 29)"] {stroke: #0ab!important}
*[style="background-color:#1d1c1d"] {background-color: #0ab!important}