 /* ==UserStyle==
@name Paylocity Dark Theme
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Paylocity-Dark-Theme.user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
/*Dark theme for Paylocity by Lauren Birnhak*/
/*GNU General Public License*/

/*Main color variables*/
:root
{
	/*User colors*/
    	--main-color: #f61;
    	--main-background: #111111;
    	--second-background: #181818;
    	--hover-background: #df5135;
    	--main-text: #EFF0F1;
    	--dimer-text: #CCCCCC;
    	--shadow: 0 1px 0.5px rgba(0,0,0,0.13);
	}

/*Changed text highlight*/
	::selection
	{
    	background: #df5135;
    	color: #EFF0F1 ;
	}
	::-moz-selection
	{
    	background: #df5135;
    	color: #EFF0F1;
	}

/*Body*/
	body
	{
    	background-color: #111111 !important;
	}

/*Cards, written for self service portal first*/
	div[class*="card"] {
    	background: #181818;
    	color: #CCC
	}
	div.card-header i {
    	color: #ccc
	}
	div.card-header h2 {
    	color: #ccc
	}
	section.clearfix {
    	background: #181818
	}
	.card {
    	border: 1px solid #090909!important
	}
	.citrus .card .table th, .citrus .card .table td{
    	border-color: #181818
	}
	.citrus .table tbody tr, .citrus .table th{
    	background: #111;
    	color: #EFF0F1
	}
	.citrus .table th img{
    	filter: invert()
	}
	.citrus .table tbody tr:nth-child(2n) {
    	background: #1d2324
	}
	.citrus .card div, .citrus .banner-message.reminder{
    	background-color: #181818;
    	color: #CCC;
    	border-color: #111
	}
    
	/*Mobile callout banner*/
	.citrus .pcty-responsive-callout {
    	color: #DFF4F8;
    	background: #085A7E
	}
	.citrus .pcty-responsive-callout i{
    	background-image: url("data:image/svg+xml,%3Csvg width='128' height='128' viewBox='0 0 128 128' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eregular/info-circle%3C/title%3E%3Cpath fill='%23DFF8' d='M64 128C28.654 128 0 99.346 0 64 0 28.654 28.654 0 64 0c35.346 0 64 28.654 64 64 0 35.346-28.654 64-64 64zm0-8c30.928 0 56-25.072 56-56S94.928 8 64 8 8 33.072 8 64s25.072 56 56 56zm.5-96.25c3.333.167 6.125 1.375 8.375 3.625s3.375 5.083 3.375 8.5-1.125 6.25-3.375 8.5-5.083 3.375-8.5 3.375-6.25-1.125-8.5-3.375-3.375-5.083-3.375-8.5 1.125-6.25 3.375-8.5S61 23.917 64.5 23.75zm20 67.49c0 .558-.23 1.383-.546 1.842 0 0-.954 1.918-5.329 5.293S69 104 61 104c-4 0-7.75-1.125-10-3s-3.506-4.752-2.75-8.75C50 83 54.5 65 54.5 65c.333-2.5-.667-4.083-3-4.75l-4.275-1.018c-.538-.128-.975-.675-.975-1.231v-1.002c0-.552.45-.999 1-.999H71c1 0 1.792.417 2.375 1.25s.708 1.75.375 2.75c0 0-4.75 22-5.75 26-1.461 5.846.833 7.75 4 7.75 4-.167 7.083-1.083 9.25-2.75s2.512-2.066 2.512-2.066c.408-.378.738-.24.738.325v1.982z'  fill-rule='evenodd'/%3E%3C/svg%3E")
	}
	.citrus .pcty-responsive-callout a{
    	background-image: url("data:image/svg+xml,%3Csvg width='128' height='128' viewBox='0 0 128 128' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eregular/x%3C/title%3E%3Cpath fill='%23DFF8' d='M68.95 63.293l45.25-45.25a2 2 0 0 0 .006-2.832l-2.831-2.831a1.997 1.997 0 0 0-2.832.005l-45.25 45.251-44.544-44.543a2 2 0 0 0-2.83-.006l-2.832 2.831a1.997 1.997 0 0 0 .006 2.831l44.543 44.544-45.25 45.25a2 2 0 0 0-.006 2.832l2.831 2.83a1.997 1.997 0 0 0 2.831-.005l45.25-45.25 45.959 45.957a2 2 0 0 0 2.83.006l2.832-2.831a1.997 1.997 0 0 0-.006-2.831L68.95 63.293z' fill-rule='evenodd'/%3E%3C/svg%3E")
	}

/*Login Screen*/
	/*Text*/
	.pcty-h2 {
    	color: White
	}
	.pcty-input-label {
    	color: #CCC
	}
	.pcty-input-checkbox {
    	background: #111
	}
	input {
    	color: #f61;
    	background-color: black!important;
    	border-color: #181818!important    
	}
	/*Challenge Question*/
	.pcty-background-white {
    	background: #111
	}
	.pcty-title {
    	color: White
	}
	.pcty-content {
    	color: #CCC
	}
	.pcty-checkbox-label {
    	color: #CCC
	}

/*Main Menu*/
	.unav-menu {
    	background: #111;
    	border-color: #333
	}
	.unav-menu a {
    	color: White
	}
	li.company-logo, .logo-area img {
    	filter: brightness(160%) grayscale(60%)
	}
	.citrus .header-nav, #wpss_wrapperlayer div.header div.bottom-bar-area,  #wpss_wrapperlayer div.header div.bottom-bar-area .logo-area,  #wpss_wrapperlayer .icon-links {
    	background: #181818;
    	border-color: #333;
    	color: #CCC
	}
#wpss_wrapperlayer > div.header > div.bottom-bar-area .icon-link-area > .icon-links li.selected {
	background: #111!important;
	border-color: #333;
	color: #FFF
}
	.citrus .header-nav .sub-menu li {
    	border-color: #333
	}
	.citrus .header-nav .sub-menu li a,  .citrus .header-nav .sub-menu li a i, .citrus .header-nav .sub-menu g, .icon-links li a g, .icon-links li.selected{
    	color: #ccc;
    	fill: #ccc;
	}
	.citrus.header-nav .sub-menu li a:hover i, .citrus .header-nav .sub-menu li a:hover i, .citrus.header-nav .sub-menu li a:active i, .citrus .header-nav .sub-menu li a:active i, .citrus .header-nav .sub-menu li a:hover, .citrus .header-nav .sub-menu li a:hover g, .icon-links li a:hover span, .icon-links li a:hover g, .icon-links li a:hover, .icon-links li:hover {
    	color: #f61!important; fill: #f61;
    	background-color: #181818;
	}
.icon-links li.teams a, .icon-links li.home a, .icon-links li.directory a, .icon-links li.impression a, .icon-links li.community a {
	filter: brightness(400%)
}
	.unav-menu a {
    	background-color: #181818
	}
	.unav-application-menu-area:hover > a {
    	color: #f61
	}
	.unav-application-menu-item a:hover {
    	color: #181818;
    	background-color: #f61;
	}
	.citrus a:active {
    	color: #f81
	}

/*Directory*/
	.bounce1, .bounce2, .bounce3 /*Not sure how well this will work, hard to test*/ {
    	background-color: #111;
    	color: #f61
	}
	.citrus .row-float-fill .col-fluid .background, .citrus .bounding-box .content-area {
    	background: #111;
    	color: #fff;
    	border-color: #333;
	}
	.citrus .background-gray-lighter {
    	background-color: #181818;
	}
	.citrus .table, .citrus .border-left, .citrus .border-bottom, .citrus .border-top, .citrus .border-right {
    	border-color: #333
	}
	.citrus.table.style-list tbody tr:hover, .citrus .table.style-list tbody tr:hover {
    	background-color: #170f0a
	}
	.employee-profile-container {
    	background-color: #181818
	}
	.grey-hr {
    	border-color: #333
	}
	.citrus .profile-content {
    	background-color: #181818; color: #CCC
	}
	html, body {
    	background-color: #111
	}
	.citrus div#profile {
    	background-color: #111}

/* Edit Employee Profile*/
	div.social-container.profile, #editEmployeeProfileContent {
    	background-color: #181818
	}
	.pcty-tabs-inset {
    	background-color: #1d1d1d
	}
	body h1 {
    	color: #EFF0F1
	}
	div.social-container.profile > .tabcontent .character-count {
    	color: #C0C0C0
	}
	.resume-control {
    	color: #c0c0c0
	}
	#editEmployeeProfileContent .resume-control h1 {
    	color: #EFF0F1
	}
	div.k-header {
    	background-color: #181818!important
	}
	div.k-upload .k-upload-button {
    	box-shadow: #000 2px 3px 3px
	}
    
	div.social-container.profile > div.tabcontent article > div label {
    	color: #ccc
	}
	input[type="checkbox"]:checked {
    	box-shadow: #1588af 2px 1px 10px !important
	}
	div.icon-tabs > ul > li a span{
    	color: #EFF0F1;
	}
	div.icon-tabs > ul > li a.activities{background-image: url("https://login.paylocity.com/Escher/Escher_WebUI/Shared/Css/Portal/Images/InterestsIcons/ActivitiesOn.png"); filter: grayscale(100%)}
	div.icon-tabs > ul > li a.hobbies{background-image: url("https://login.paylocity.com/Escher/Escher_WebUI/Shared/Css/Portal/Images/InterestsIcons/HobbiesOn.png"); filter: grayscale(100%)}
	div.icon-tabs > ul > li a.travel{background-image: url("https://login.paylocity.com/Escher/Escher_WebUI/Shared/Css/Portal/Images/InterestsIcons/TravelOn.png"); filter: grayscale(100%)}
	div.icon-tabs > ul > li a.music{background-image: url("https://login.paylocity.com/Escher/Escher_WebUI/Shared/Css/Portal/Images/InterestsIcons/MusicOn.png"); filter: grayscale(100%)}
	div.icon-tabs > ul > li a.movies{background-image: url("https://login.paylocity.com/Escher/Escher_WebUI/Shared/Css/Portal/Images/InterestsIcons/MoviesTVOn.png"); filter: grayscale(100%)}
	div.icon-tabs > ul > li a.sports {background-image: url("https://login.paylocity.com/Escher/Escher_WebUI/Shared/Css/Portal/Images/InterestsIcons/SportsOn.png"); filter: grayscale(100%)}
	div.icon-tabs > ul > li a:hover, div.icon-tabs > ul > li.selected a {filter: grayscale(0%)!important}
	#editPersonalInformationContent, #ajxPersonalInfoForm.track-changes div, .content-column.halves.social.tiles fieldset, #editUserPreferencesContent.tabcontent.form-area, #ajxPreferenceForm.track-changes div{background-color: #181818; border-color: #222}
	.content-column.halves.social.tiles legend {color: #EFF0F1}
	.content-column.halves.social.tiles label {color: #ccc}
	.content-column.halves.social.tiles label.required {color: #3b8c03}
	.content-column.halves.social.tiles label.error {color: #f20}
	.sbOptions a:link, .sbSelector {color: #ccc!important}
	.sbSelector, .medium.sbHolder, .short.sbHolder, .long.sbHolder {color: #ccc}
	.sbOptions li {background: #000}
	.sbOptions li:hover, .sbOptions a.sbFocus, .sbOptions li:hover, .sbOptions li.selected, .sbOptions:hover li.selected:hover {background: #3b8c03}
	input.zipCode_value {color: #f61!important}
	ul.list-box.thick li, select, div#divSchool span.k-header {background: #181818; border-color: #333}
	ul.list-box.thick li span  {color: #EFF0F1}
	span.k-autocomplete.k-state-default, ul.list-box li {background: #181818; border-color: #333; color: #eff0f1}
	span.command{filter:invert(80%)}
	input.k-input {background: #181818; color: #f61}
	.k-group[data-role="popup"], li.k-item {background: #181818; color: #EFEFEF; border-color: #333}
    
/*Impressions*/
	.citrus .overview-control li h4 {
    	color: #EFF0F1
	}
	.filter-sidebar {
    	background-color: #181818;
    	border-color: #333
	}
	/*Calendar pop-out*/
	.datepicker {
    	background-color: #181818;
    	color: #EFF0F1
	}
	.datepicker table tr td.day:hover, .datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover {
    	background: #ff9633;
    	color: #000
	}
	.citrus.form-group > select:not([multiple]), .citrus .form-group > select:not([multiple]) {
    	background: #181818; border-color: #333
	}
    	/*User profile*/
	div.content-area {
    	background: #181818;
    	color: #EFF0F1;
    	border-color: #333
	}
	.k-pager-wrap {
    	color: #CCC
	}
	.alpha-filter ul li span {
    	color: #555!important;
    	background-color: #111; border-color: #333
	}
	.k-widget {
    	background-color: #181818;
    	color: #EFF0F1
	}
	div.impression-list > ul > li > div.top-tier > div > h1 span.title {
    	color: #EFF0F1
	}
	div.impression-list > ul > li > div.low-tier ul li p > span.header {
    	color: #EFF0F1
	}
	/*Search bar*/
	#wpss_wrapperlayer > div.header > div.bottom-bar-area .rightmost-area.search > input[type="text"] {
    	box-shadow: #000 4px 4px 5px inset
	}
	a.button.magnifier{
    	filter: sepia(80%)
	}
	#wpss_wrapperlayer > div.header > div.bottom-bar-area .rightmost-area.search > div.quicksearch-set > table {
    	background-color: #111
	}
    
/*Teams*/

/*Community*/

/*Current Check*/
	table.workspacetable, .workspacetable td, tr.datarow td, tr.datarowselected td{
    	background-color: #181818; color: #EFF0F2; border-color: #333
	}
	tr.datarowalt td{
    	background-color: #182424; border-color: #333
	}
	tr.colheadrow td, tr.colheadrow, table.table.compact tbody tr.theadrowfix th {
    	background-image: none; background-color: #183030
	}
/*Personnel File*/
	.workspacetable  .tabsdiv, .workspacetable .tabmenusdiv {background-color: #181818}
	.tabsel a, .tabsel a:link, .tab a, .tab a:link {
    	background-color: #181818; border-left: 1px solid ; border-right: 1px solid; border-top: 1px solid
	}
	.tab a, .tab a:link {border-bottom: 1px solid white}
	.tabsel a:visited, .tab a:visited {background-color: #222}
	div.row.lhfix {color: #eff0f2}
	div.row.lhfix div.col-sm-5 {color: #666}
	.workspacetable td select{background: #181818}
	.citrus .form-group select{color: #eff0f2}
	.workspacetable td label {color: #eff0f2}
	.workspacetable td input {color: #f61}
	#basicDatePickerPopUp .bdpWrapper tbody, td.bdpDay {
	background-color: #181818;
	}
	td.bdpDay a.bdpDayItem, .bdpWrapper span, div.bdpFooter input[type="button"]{
        	color: #EFF0F1
    	}
	div.bdpFooter input[type="button"]:hover {background-color: #f61!important}
    	table.bdpCalendar td.bdpDay:hover{
        	background: #ff9633;
        	color: #000
    	}
	.bdpWrapper img {filter: invert(100%)}
	td input.formnowidth, td > input[type="text"]:not([title="Quick Nav Company Id"]):not([name="companyId"]):not(.rcbInput) {color: #f61}


/*Time and Labor*/
	.header-nav-14 {
    	background: #111;
    	border-color: #333
	}

	.citrus .sub-menu li  {
    	filter: brightness(160%) grayscale(40%)
	}
	.citrus .header-nav-14 .sub-menu li a:focus, .citrus .header-nav-14 .c-header .unav-menu a:focus {
    	color: #f61
	}

	.citrus .content-area div.p-section-header {
    	background: #111;
	}
	.citrus .content-area .p-section-header span {color: #EFF0F1}
	.citrus .ui-dropdownchecklist label {
    	color: #f51
	}
	.citrus .bounding-box .content-area #calBody div#DateNavigation{
    	background: #111
	}
	.citrus td button#btnToggleDateExpansion, .citrus td form button#btnDownloadRequests {
    	border: 1px solid #1588af;
    	color: #1588af
	}
	.citrus td button#btnToggleDateExpansion:hover, .citrus td form button#btnDownloadRequests:hover {
    	background-color: #41a8d2;
    	border-color: #41a8d2;
    	color: #fff
	}
	.citrus li.pillbox {
    	color: #1588af
	}

	/*Time Off Calendar*/
	/*Modal for month selection*/
	.t-picker-wrap {background-color: #111}
	.t-calendar th, .t-calendar .t-header, .t-calendar td {
    	background-color: #181818
	}
	.t-calendar thead tr th {
    	background: -webkit-gradient(linear,left top,left bottom,from(#333),to(#181818));
    	background: linear-gradient(to bottom,#333 0%,#181818 100%);
    	background: -webkit-gradient(linear,left top,left bottom,from(#333),to(#181818));
    	background: -moz-linear-gradient(top,#333,#181818)
	}
	.t-calendar th, .t-calendar .t-header .t-link, .t-calendar .t-link, .t-calendar thead {
    	color: #EFF0F1
	}
	.t-calendar .t-content .t-other-month .t-link {
    	color: #A0A0A0
	}
	.t-calendar .t-state-hover, .t-calendar .t-state-hover .t-link {background-color: #000; color: #f61}
	.t-calendar .t-header .t-link:hover {color: #ff9633}
	/*Full calendar table*/
	#calEmpTable .calDaysofWeekRow .weekDayNames {
    	background: -webkit-gradient(linear,left top,left bottom,from(#333),to(#181818));
    	background: linear-gradient(to bottom,#333 0%,#181818 100%);
    	background: -webkit-gradient(linear,left top,left bottom,from(#333),to(#181818));
    	background: -moz-linear-gradient(top,#333,#181818);
    	color: #EFF0F1;
    	border: #111
	}
	.calEmpTable .calWeekRow td.normal, .calEmpTable .calWeekRow td.normal div.calEmpHeaderNums, .calEmpTable .calWeekRow td.normal div.calEmpDetails {
    	background-color: #181818
	}
	.calEmpTable .calWeekRow td.closedPP, .calEmpTable .calWeekRow td.closedPP div.calEmpHeaderNums, .calEmpTable .calWeekRow td.closedPP div.calEmpDetailsClosedPP {
	background-color: #333;
	}
	.calEmpHeaderNums, .calEmpHeaderNumsToday, .calEmpHeaderNumsClosedPP {
    	color: #EFF0F1
	}
	.calEmpTable .calWeekRow td.today, .calEmpTable .calWeekRow td.today div.calEmpHeaderNumsToday, .calEmpTable .calWeekRow td.today div.calEmpDetailsToday {
    	background-color: #000
	}
	.calEmpTable .calWeekRow div.calTORDayDetailEntryApproved, .calEmpDayDetailEntryApproved {
    	background-color: #3dc270
	}
	.calEmpTable .calWeekRow div.calTORDayDetailEntryPending, .calEmpDayDetailEntryPending {
    	background-color: #cca40c
	}
	.calEmpTable .calWeekRow div.calTORDayDetailEntryCancelled, .calEmpDayDetailEntryCancelled {
    	background-color: #595959
	}
	.calEmpTable .calWeekRow div.calTORDayDetailEntryDenied, .calEmpDayDetailEntryDenied {
    	background-color: #ce1f27
	}
	#calBody span.p-expanded-view-link-embed {
    	background-color: #111;
    	border: none
	}
	/*Time off request widget*/
	div#AddNewRequest {
    	background-color: #111
	}
	div#AddNewRequest .t-header, div#AddNewRequest .t-close {
    	color: #EFF0F1
	}
	div#AddNewRequest .t-window-content.t-content {
    	background: #111; border: none
	}
	div#AddNewRequest .t-window-content.t-content div#timecardSettingsContainer, div#AddNewRequest .t-window-content.t-content div{
    	background: #181818
	}
	div#AddNewRequest label, div#AddNewRequest label.p-navactivetext, #EENav .p-navactive input[type="checkbox"] + label::after {
    	color: #EFF0F1
	}
	div.t-picker-wrap .t-input, div#EENav .t-autocomplete.t-input {
    	color: #f61
	}
	div#AddNewRequest .t-content {
    	color: #999
	}
	.p-animation-container div#EENav-employeeddg-popuppanel, div#EENav-employeeddg-popuppanel.p-popup.p-group.p-content .t-grid-header {
    	background: #111; border: none
	}
	div#EENav-employeeddg-popuppanel .t-grid-header .t-header.eenav-sort-column {
            	background: -webkit-gradient(linear,left top,left bottom,from(#333),to(#181818));
        	background: linear-gradient(to bottom,#333 0%,#181818 100%);
        	background: -webkit-gradient(linear,left top,left bottom,from(#333),to(#181818));
        	background: -moz-linear-gradient(top,#333,#181818);
        	color: #EFF0F1;
        	border: #111
	}
	div#EENav-employeeddg-popuppanel tr {
    	background-color: #181818; border: none; color: #CCC
	}
	div#EENav-employeeddg-popuppanel .t-alt {
    	background-color: #222
	}
	div#EENav-employeeddg-popuppanel .t-state-hover {
    	background: #170f0a; color: #f61
	}
	div#EENav-employeeddg-popuppanel .t-grid-pager.t-grid-bottom {
    	background: #111; border: #111; color: #ccc
	}
.citrus .card {
	background: #181818;
	color: #EFF0F1
}
.citrus .quickview-button.data-overview.active {
	background: #000
}

/* Top bar*/
.c-header .c-header-bar, webtime-header .header-top.c-header-bar, div#headerBar, .c-header-bar {
	background: #000
}
.c-header .c-header-company-id, webtime-header .header-top.c-header-bar .company-id, div#headerBar .pcty-c-header-company-id, .c-header-bar .c-header-company-id {
	color: #EFF0F1;
	position: absolute;
	text-align: left;
	padding: 1.143rem 1.429rem 0;
	width: auto;
	height: 28px;
	height: 2rem;
	left: 0;
	z-index: 1
}
.c-header-logo {
	display: block;
	background-image: linear-gradient(90deg, rgb(0, 0, 0) 25%,  rgba(223,81,53,1) 0%,  rgba(233,124,59,1) 82%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 92px 24px;
}

/*PEAK*/
/*Navbar*/
.navbar-brand img {
	background: linear-gradient(90deg, rgb(0, 0, 0) 23%,  rgba(223,81,53,1) 0%,  rgba(233,124,59,1) 100%)
}
#egain-selfservice-header-small {
	background: #000
}
#egain-selfservice-background-banner input, #egain-selfservice-background-banner textarea {
	color: #f61
}
#egain-selfservice-background-banner div.user-menu-dropdown button {
	background-color: rgb(233, 122, 59, .75)
}
/*Background*/
.egain-selfservice-body div.block-one {
	background: #181818;
	color: #EFF0F1
}
.egain-selfservice-body .block-three {
	background: #111;
	border: 1px solid #111
}
/*What's Trending*/
.egain-selfservice-body h3 {
	color: #FFF
}
.egain-selfservice-body a.list-group-item span {
	color: #EFF0F1
}
/*Topic Blocks*/
#egain-selfservice-topic-blocks-with-articles .egain-selfservice-topic-block {
	background-color: #222;
	color: #EFF0F1;
	border: 1px solid #000
}
#egain-selfservice-topic-blocks-with-articles .egain-selfservice-topic-block h3 {
	color: #FFF
}
#egain-selfservice-topic-blocks-with-articles .egain-selfservice-topic-block a span{
	color: #EFF0F1
}
#egain-selfservice-popular-articles-list a.linked-list-item:hover, .egain-selfservice-body a.list-group-item:hover span {
	color: #f61;
	background: #282828
}
#egain-selfservice-topic-blocks-with-articles .egain-selfservice-topic-block .linked-list-item:hover, #egain-selfservice-topic-blocks-with-articles .egain-selfservice-topic-block .linked-list-item:hover a, #egain-selfservice-topic-blocks-with-articles .egain-selfservice-topic-block .linked-list-item:hover span {
	color: #f61;
	background: #2d2d2d
}
/*Focus*/
a:focus, a:focus span, a:focus p, span:focus, div:focus, button:focus, div:focus, buttoN:focus span, .citrus a:focus {
	border-block-color: #2eab73!important;
	border-block-style: solid!important;
	border-block-width: 1px;
	color: #FFF
}
/*Browse Topics and All Topics menus*/
#egain-selfservice-header-small .menuTree li:hover {
	background-color: #111
}
#egain-selfservice-header-small .menuTree .view-all-topics a.menulink, #egain-selfservice-header-small .menuTree .go-to-topics a.menulink
{
	color: #f91
}
#egain-selfservice-header-small .menu-popover .list-group-item:hover {
	background-color: #eee
}
/*Article View: Q&A*/
#egain-selfservice-gh-questions-list .heading, #egain-selfservice-gh-questions-list .sub-heading, #egain-selfservice-gh-questions-list .list-group-item-primary h3 {
   	color: #FFF
}
.list-group, .list-group .list-group-item, #egain-selfservice-gh-questions-list .list-group-item {
	background: #181818;
	border-color: #080808;
}
#egain-selfservice-gh-questions-list .list-group-item a {
	color: #EFF0F8;
	background-color: transparent
}
#egain-selfservice-gh-questions-list .list-group-item a:hover, #egain-selfservice-gh-questions-list .list-group-item a:focus {
	color: #f91;
	background-color: transparent
}
#egain-selfservice-gh-questions-list .list-group-item {
	color: #59a2bf
}
/*Article View: Search Topic*/
div#egain-selfservice-topic-breadcrumb.ng-scope {
	background-color: #000
}
div.panel-body, #egain-selfservice-topic-search-bar .form-group {
	background: #111;
	border: #000
}
div.ng-scope {
	border: #000
}
#egain-selfservice-topic-search-bar .form-group .input-group, #egain-selfservice-topic-search-bar .form-group .input-group input {
	color: #f61;
	border-color: #f61
}
#egain-selfservice-topic-featured-articles-list .list-group-item-primary h3, #egain-selfservice-topic-more-articles-list .list-group-item.item-heading h3 {
	color: #FFF
}
#egain-selfservice-topic-featured-articles-list .media-list li, #egain-selfservice-topic-more-articles-list .list-group-item.item-heading {
	background-color: #181818;
	background-image: none;
	border-top-color: #444
}
#egain-selfservice-topic-featured-articles-list .media-list, div.ui.list-group.ng-scope {
	border-color: #444
}
#egain-selfservice-topic-featured-articles-list .list-group-item a {
	color: #59a2bf
}
#egain-selfservice-topic-featured-articles-list .list-group-item.linked-list-item:not(:last-child) div{
	border-bottom-color: #444
}
#egain-selfservice-topic-more-articles-list .linked-list-item {
	background-color: #181818
}
#egain-selfservice-topic-more-articles-list .linked-list-item:hover {
	background-color: #222
}
#egain-selfservice-topic-more-articles-list .linked-list-item a {
	color: #59a2bf
}
/*Article View: Search Results*/
#egain-selfservice-header-small .input-group input {
	color: #f61
}

#egain-selfservice-search-results-list li.list-group-item-primary, #egain-selfservice-search-results-list .linked-list-item {
	background-image: none;
	background-color: #181818;
	border-top-color: #333
}
#egain-selfservice-search-results-list li.list-group-item-primary b, #egain-selfservice-search-results-list li.list-group-item-primary span.search-term {
	color: #FFF
}
#egain-selfservice-search-results-list li.list-group-item-primary span.pull-right {
	color: #DDD
}
#egain-selfservice-search-results-list .linked-list-item b, #egain-selfservice-search-results-list .linked-list-item p {
	color: #59a2bf
}
#egain-selfservice-search-results-list .linked-list-item:hover {
	background-color: #000
}
/*Article View: Article*/
#egain-selfservice-view-article {
	background-color: #080808
}
.egain-selfservice-body .article-container .panel-body {
	border-color: #333
}
#egain-selfservice-article-breadcrumb {
	background-color: #000
}
#egain-selfservice-article-content-window blockquote {
	background-color: #181818
}
#egain-selfservice-article-content-window .content-heading b {
	background-color: #181818;
	color: #FFF!important
}
#egain-selfservice-article-content-window {
	color: #EFF0F1
}
#egain-selfservice-article-feedback-stars, #egain-selfservice-article-feedback-stars .feedback-question {
	background-color: #181818
}
#egain-selfservice-article-related-list, #egain-selfservice-article-related-list .list-group-item {
	background-color: #181818;
	border-color: #444;
	background-image: none
}
#egain-selfservice-article-related-list .linked-list-item:hover {
	background-color: #282828
}
#egain-selfservice-article-content-window .article-content a, #egain-selfservice-article-content-window .article-content a:link, #egain-selfservice-article-content-window .article-content a:visited, #egain-selfservice-article-content-window .article-content a:active, #egain-selfservice-article-content-window .article-content a:hover, #egain-selfservice-article-content-window .article-content a:link:hover, #egain-selfservice-article-content-window .article-content a:visited:hover, #egain-selfservice-article-content-window .article-content a:active:hover {
	background-color: transparent
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #282828;
	color: #aeaeae
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #282828;
	color: #59a2bf
}