@-moz-document url-prefix("https:/performyard.com"),
{


root {
	--main-color: #00ADEE
}
input[type*="checkbox"] {
	border: thin!important;
	padding: 7px!important;
	color: var(--main-color)!important;
	margin: 0px!important;
	border-color: #333!important;
	background-color: #222!important;
	display: inline-flex!important;
}
.sidebar-button {
	background: #000!important
}
body,
html {
	min-height: 100%!important;
}
html,
body {
	background-color: #111
}
body > *:not(:empty) {
	background-color: #222!important
}
body > * > *:not(:empty) {
	background-color: #222!important
}
body > * > * > *:not(:empty) {
	background-color: transparent
}
body > * > * > * > *:not(:empty):not([class*="content-header"]) {
	background-color: #212121
}
body > * > * > * > * > *:not(:empty):not([class*="content-header"]) {
	background-color: #282828
}
body > * > * > * > * > * *:not([class^="tm-label-circle"]):not([class^="tm-status-dropdown"]):not([class^="ghx-grabber"]):not([class*="ghx-active"]):not([class*="aui-icon"]):not([class*="chart"]):not([class*="status"]):not([class*="content-header-title"]):not([class*="Selected"]):not([class*="step-index"]):not([type*="checkbox"]):not([style]):not([class="dot"]) {
	background-color: #282828;
	text-shadow: none!important
}
body table:not(:empty) {
	background-color: #212121!important
}
body table > tbody > tr:nth-child(even) {
	background-color: rgba(0, 0, 0, .1)
}
body table > tbody > tr > td:nth-child(odd) {
	background-color: rgba(0, 0, 0, .1)
}
/*body *:empty:not([class*="icon"]):not([class^="tm-"]):not([class^="ghx-grabber"]):not([class*="chart"]):not([class*="checkbox"]):not([class="filler"]):not([class="dot"])  {
	background-color: #111!important
}*/
body p:not(:empty),
body p *,
body h1,
body h1 *,
body h2,
body h2 *,
body h3,
body h3 *,
body h4,
body h4 *,
body h5,
body h5 *,
body strong > *,
body b > *,
body em > *,
body i > *,
body span > *:not(img) {
	background: transparent none!important
}
body h1,
body h1 *,
body h2,
body h2 *,
p > strong:only-of-type,
p > b:only-of-type {
	color: #269ed9!important
}
body h3,
body h3 *,
body h4,
body h4 * {
	color: #aaa!important
}

/**:not([onclick]):not(input):not(a):not(img):not([class^="UI"]):not([class^="tm-"]):not([class*="icon"]), body a:not(:empty):not([class^="inplace_"]):not([class*="tempo-actions-trigger"]), div:not([onclick]):not([class^="tm-"]):not([class*="icon"])*/
*[onclick] {
	color: #79a!important
}
*[onclick]:hover {
	color: #0af!important
}
body hr {
	background: #666 none!important;
	color: #666!important;
	border: 1px solid #666!important;
	height: 1px!important;
	overflow: hidden!important;
	display: block!important
}
*:not([class*="status"]):not([class^="content-header-title"]) {
	color: #c0c0c0;
	border-color: #60666a!important;
}

strong, .chart-bar-circle-title, .chart-bar-circle-description {color:#0af!important}

* body a:not([class*="status"]),
body a *, .content-header-title {
	color: #94cae3!important;
	background-color: #333333c9
}

/* body a:visited, body a:visited *{color: #666!important;} */
body a:hover,
body a:hover * {
	color: #0ae!important;
	text-decoration: underline!important
}
body img,
a[href] img,
a[href] button,
input[type="image"],
*[onclick]:empty,
body a:empty {
	opacity: .9!important
}
body img:hover,
a[href]:hover img,
a[href]:hover button,
*[onclick]:empty:hover,
body a:empty:hover {
	opacity: 1!important
}
body span > img {
	visibility: visible!important
}
body input[type]:not([type="checkbox"]),
body textarea,
body select,
input:not([type="checkbox"]),
body input:not([type="checkbox"]) {
	-moz-appearance: none!important;
	color: #bbb!important;
	border-radius: 4px !important;
	border-width: 1px!important;
	border-color: rgba(100, 100, 100, .1)!important;
	border-style: solid!important;
	background: -moz-linear-gradient(top, #303030 40%, #383838, #343434) #333 !important;
	box-shadow: inset 1px 1px 1px #111!important
}
body input[type="submit"],
body input[type="button"],
body input[type="image"],
body input[type="reset"],  
body button{
	-moz-appearance: none!important;
	color: #bbb!important;
	border-radius: 4px !important;
	border-width: 1px!important;
	border-color: rgba(100, 100, 100, .1)!important;
	border-style: solid!important;
	background: -moz-linear-gradient(top, #404040 45%, #282828 55%) #333;
	box-shadow: 1px 1px 1px #111!important
}
body input[type] > *,
body textarea > * {
	-moz-appearance: none!important;
	background: transparent none !important;
	color: #bbb!important;
	border-style: solid!important;
	border-width: 0px!important;
}
body select * {
	background-color: transparent !important;
	color: #bbb!important;
	border-style: solid!important;
	border-width: 0px!important;
}
pre:not(:empty),
code:not(:empty),
cite:not(:empty),
pre:not(:empty) *,
code:not(:empty) *,
cite:not(:empty) * {
	background-image: url(data:image/gif;base64,R0lGODlhBAAEAIAAABERESIiIiH5BAAAAAAALAAAAAAEAAQAAAIGTACXaHkFADs=)!important;
	color: #bcc8dc!important;
}

.aui-inline-dialog .buttons-container.content-footer input.cell-add {
	background: #000!important;
}
a.js-quickfilter-button.last.ghx-active,
a.js-quickfilter-button.first.ghx-active,
a.js-quickfilter-button.ghx-active,
.ghx-controls-filters dd a.ghx-active {
	background: #3572b0!important;
}
.editable-field .overlay-icon {
	color: transparent!important;
}
.tm-wc-item:hover .editable-field .overlay-icon:after,
.tm-description:hover .editable-field .overlay-icon:after {
	content: "\f142";
	color: #7bb4b6;
	font-family: "Atlassian Icons";
	left: 10px;
	position: absolute;
	top: 10%;
}
.ghx-swimlane-header:after,
.ghx-swimlane-header.ghx-selected:after {
	visibility: hidden;
}
.ghx-grabber {
	filter: brightness(60%);
	-webkit-filter: brightness(60%);
}
.tm-label-circle {
	filter: brightness(60%) contrast(300%);
	-webkit-filter: brightness(60%) contrast(300%);
}
.tm-status-dropdown {
	filter: brightness(60%) contrast(150%);
	-webkit-filter: brightness(60%) contrast(150%);
}
::-webkit-scrollbar {
	width: 12px;
	/* This is more usable for users trying to click it. */
	background-color: rgba(0, 0, 0, 0);
	-webkit-border-radius: 100px;
}

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
	/* This is the EXACT color of Mac OS scrollbars.
 	Yes, I pulled out digital color meter */
	background: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(0, 0, 0, 0.1);
	/* Some darker color when you click it */
	-webkit-border-radius: 100px;
}
.oddSelected,
.evenSelected {
	background-color: #025!important
}
.content-header-default{background-color: #057}
.content-header-default[style="background: #c1edc1"] {background-color: #071!important}
.content-header-default[style="background: #e06969"] {background-color: #700!important}
.content-header-default[style="background: #c9d8f0"] {background-color: #007!important}
span.step-index-inner {font-weight:bold; color:#000!important}

.step-content, .content-sticky {background: #282828!important}
.chzn-container-multi .chzn-choices .search-choice {background-image: linear-gradient(#101010 20%,#202020 50%,#080808 52%,#0e0e0e 100%)!important}

div {color: #bbb}
div.detail {color: #bbb!important}
text, g {fill: #aaa!important}
div.is-active {background-color: #025!important}
.dropdown-content, .feedback-slideout, .slideout-button-container {background: #000!important}
p.val {color: #999!important}
p.lbl {color: #bbb!important}

/*Reviews*/
p.ans, p.info {color: #bbb!important}
span.lbl, div.lbl {color: #aaa!important}
p.text_truncate {color: #3572b0!important}
/*Goals*/
.goal-progress {background-color: #999!important}
.goal-progress-filler, .filler, div.filler[style*="background-color: #404041"] {background-color: #3572b0!important}
p.goal-status.active, div.completion-percent, td.status {color: #bbb!important}
p.tbl-cell {color: #bbb!important}
div.value, div.content {color: #bbb!important}
/*Feedback menu*/
div.control-button {background-color: #303030!important}
div.control-button.active {background-color: #025!important}
div.control-button:focus, div.control-button:hover {background-color: #035!important}
p.feedback-date {color: #aaa!important}
a.active, a.selected {background-color: #025!important}
a:hover {background-color: #035!important}
/*Text plz*/
div.label, div.main-label, div.sub-content, div.text_truncate, div.select-label, p.user-name, label {color: #bbb!important}
/*I like hover visibility*/
div.employee-box:hover {background-color: #035!important}
/*Settings sidebar*/
section#sidebar {background-color: #010101!important}
/*Context menus*/
._py-employee-box, .basic-content, .secondary-content, .tertiary-content {background-color: #222!important}
.secondary-content p, .tertiary-content p {color: #aaa!important}

/*Login screen fixes*/
div#login-box {background-color: #282828}
img.logo {background-color: #000}
img[src="/static/img/logo-blue-blue.png"] {filter: brightness(200%)}
}
