 /* ==UserStyle==
@name Teampass
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Teampass.user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
div.items_tree {background-color: #282828; color: #d8d8d8}
a.jstree-hovered:hover {background-color: #181818}
a.jstree-clicked {background-color: #181848!important}
div#item_details_scroll {background-color: #282828; color: #d8d8d8}
i.fa-link {color: #d8d8d8}
div#main {background-color: #282828; color: #d8d8d8}
td {background-color: #181818}
/*Pulled from JIRA Dark theme to format table headers*/
th.tooltipstered {-moz-appearance: none!important;
	color: #93a7c6;
	border-radius: 4px;
	border-width: 1px;
	border-color: rgba(100, 100, 100, .5);
	border-style: solid;
	background: -moz-linear-gradient(top, #303030 45%, #181818 55%) #222 ;
	box-shadow: 1px 1px 1px #111}
/*Content Header*/
div.ui-widget-content.ui-corner-all {background: #242424; border: 1px solid #222; color: #c8c8c8}
div.ui-widget-header {background: #242424; border: 1px solid #222; color: #c8c8c8}
label, div#t_items_info.dataTables_info, p.tooltipstered, div#div_dialog_message_text {color: #c8c8c8}
.fg-button:focus, .ui-button:focus {color: rgb(51,131,187)}
/*Buttons*/
button.button, i.fa-cogs {border: 1px solid #000;
	background: -moz-linear-gradient(top, #303030 45%, #181818 55%) #222 ;
	box-shadow: 1px 1px 1px #111}
button.button:hover, button.button:focus, i.fa-cogs:hover, i.fa-cogs:hover {border: 1px solid rgb(51, 131, 187)!important}

/*Login page*/
div.ui-state-highlight {
	background-color: #333;
	color: #c8c8c8;
	background-image: none;
	border-color: #222}
input {border: 1px solid #000;
	background: -moz-linear-gradient(bottom, #303030 45%, #181818 55%) #222;
	box-shadow: 1px 1px 1px #111;
	color: #a6a6a6}
input:focus {border: 1px solid rgb(51, 131, 187)}
.ui-state-default, button[type="button"][role="button"] {border: 1px solid #000;
	background: -moz-linear-gradient(top, #303030 45%, #181818 55%) #222;
	box-shadow: 1px 1px 1px #111;
	color: #a6a6a6}
span.ui-button-text:not([class*="tooltipstered"]) {color: #a6a6a6} /*Why does this affect the non-text UI buttons when I leave out the not class tooltipstered part? What was the logic in giving those buttons the class "ui-button-text"?*/
.ui-state-default:hover, button[type="button"][role="button"]:hover {border: 1px solid rgb(51, 131, 187);
	color: rgb(51, 131, 187)!important}
.ui-state-default:active, button[type="button"][role="button"]:active {background: -moz-linear-gradient(bottom, #303030 45%, #181818 55%) #222}
.ui-widget-content {color: #c8c8c8}
.ui-widget-content {background-image: none; background-color: #222}
