 /* ==UserStyle==
@name TestRail Tighter
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/TestRail-Tighter.user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
/* Very much a work in progress my Michael Ashburne */






html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{   line-height: .9rem; 
    font-size: .9rem;   
}
​
.markdown ol li { line-height: 1rem; }


