 /* ==UserStyle==
@name Timeclock Dark
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Timeclock-Dark.user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
 /*Heavily modified from theme made by RaitaroH @https://github.com/RaitaroH/Userstyles-DeepDark*/
/*Modifications by Lauren Birnhak*/
/*GNU General Public License v3.0*/
/*1.1.9*/
	/*Main color variables*/
	:root
	{
    	/*User colors*/
    	--main-color: #E2B05A;
    	--main-background: #111111;
    	--second-background: #181818;
    	--hover-background: #2B6497;
    	--main-text: #EFF0F1;
    	--dimer-text: #CCCCCC;
    	--shadow: 0 1px 0.5px rgba(0,0,0,0.13);
	}
	/*Changed text highlight*/
	::selection
	{
    	background: #2B6497 !important;
    	color: #EFF0F1 !important;
	}
	::-moz-selection
	{
    	background: #2B6497 !important;
    	color: #EFF0F1!important;
	}
	/*Outline for links*/
	a
	{
    	outline-color: #2B6497 !important;
    	text-decoration: none !important;
	}
	/*Body*/
	body
	{
    	background-color: #111111 !important;
	}
	/*Header*/
	td[bgcolor*="#E6FFE6"]
	{
    	background-color: #00294e !important;
	}
	td[bgcolor*="#FFE6E6"]
	{
    	background-color: #573f13 !important;
	}
	/*Buttons*/
	.small-button
	{
    	background-color: #181818;
    	color: #EFF0F1;
    	border: 1px solid  #2B6497 !important;
	}
	.small-button:hover
	{
    	background-color: #2B6497;
    	color: #E2B05A
	}
	/*Sidebar*/
	div.sidebar
	{
    	background: #111111
	}
	p, ul, i, body
	{
    	color: #CCCCCC !important;
	}
	a, a:visited, .sub-title
	{
    	color: #E2B05A !important;
    	opacity: .9 !important;
	}
	a:hover, a:visited:hover
	{
    	color: #E2B05A!important;
    	opacity: 1 !important;
	}
	/*login*/
	.btn-auth, input#login-existing, input#password-existing, input[type="submit"]
	{
    	background-color: #181818 !important;
    	border-color: #2B6497 !important;
    	color: #CCCCCC !important;
	}
	.btn-auth:hover, input[type="submit"]:hover
	{
    	background-color:  #2B6497 !important;
    	border-color: #2B6497 !important;
    	color: #E2B05A!important;
	}
	input#remember-normal
	{
    	filter: invert(100%);
	}
	a.btn-auth:visited
	{
    	color: #CCCCCC !important;
	}
	/*Input Fields*/
	input:not([class*="color"]), textarea
	{
    	background-color: #181818 !important;
    	border: 1px solid #2B6497 !important;
    	color: #CCCCCC!important;
	}
	/*Search*/
	input.DateBox, input.InputBox, input.SmallInput, textarea
	{
    	background-color: #181818 !important;
    	color: #EFF0F1 !important;
	}
	#search_input input
	{
    	border: none !important;
	}
    
	/*Tables*/
	table, td
	{
    	background-color: #181818;
	}
	th
	{
    	background-color: #2B6497 !important
	}
	/*Red to Yellow*/
	font[color="red"]
{
	color: #E2B05A!important
}
	/*Blue to Main*/
	font[color="blue"]
{
	color: #2B6497 !important
}
	/*Red background to Brown*/
	td[bgcolor="red"]
{
	background-color: #573f13
}

	/*Fixing the highlight color*/
	.hilite
{
	background-color: #00294e
}