 /* ==UserStyle==
@name TimeClock Tighter (and highlighting less bright)
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/TimeClock-Tighter-(and-highlighting-less-bright).user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
/*
/*  Is your display of middling resolution? Just want more Time Clock data to show on your screen at a time?
/*  Michael Ashburne did. Now you can too!
/*
*/

body { font-size: .65rem; line-height: .7rem; }

h1 { font-size: 1.0rem; }
h2 { font-size: 0.9rem; }
h3 { font-size: 0.8rem; }

.small-button { font-size: .6rem; padding: 2px 4px; }

.button { font-size: .7rem; padding: 5px 10px; }

.dropdown { font-size: .7rem; padding: 5px 10px; }

dropdown { font-size: .7rem; }

option { font-size: .7rem; }

table { border-spacing: 1px; }

.tbody { font-size: .65rem;}

th { font-size: .65rem; }

.td { padding: 2px; }

outline-1, outline-2 {
    font-size: .7rem;
}

.hilite {
    background-color: #ffff003d;
    border: 1px solid #000;
    padding: 1px;
}

