 /* ==UserStyle==
@name When I Work
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/When-I-Work.user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
 /*Heavily modified from theme made by RaitaroH @https://github.com/RaitaroH/Userstyles-DeepDark*/
/*Modifications by Lauren Birnhak*/
/*GNU General Public License v3.0*/
/*1.1.9*/
 	/*Site colors
    	--gray: #6c757d;
    	--gray-dark: #343a40;
    	--primary: #51a33d;
    	--secondary: #fff;
    	--success: #28a745;
    	--info: #17a2b8;
    	--warning: #c59a27;
    	--danger: #d0404b;
    	--light: #999;
    	--dark: #666;
    	--mid-gray: #666;
    	--dark-gray: #333;
 	*/
	/*Changed text highlight*/
	::selection
	{
    	background: #51a33d ;
    	color: #EFF0F1 ;
	}
	::-moz-selection
	{
    	background: #51a33d ;
    	color: #EFF0F1;
	}
	/*Outline for links*/
	a
	{
    	outline-color: #51a33d ;
    	text-decoration: none ;
	}
	/*Body*/
	body
	{
    	background-color: #333 ;
	}
	/*Logo*/
 
	/*Header*/
	td[bgcolor*="#E6FFE6"]
	{
    	background-color: #00294e !important;
	}
	td[bgcolor*="#FFE6E6"]
	{
    	background-color: #573f13 !important;
	}
	/*Buttons*/
	.button-kit, .button, .btn:not([class*="btn-danger"]):not([class*="btn-primary"]):not([class*="btn-warning"])
	{
    	background-color: #222!important;
    	color: #999!important;
    	text-shadow: none!important
	}
	.button-kit:hover, .button:hover, .btn:focus, .btn:hover, .btn.btn-secondary:focus, .btn.btn-secondary:hover
	{
    	background-color: #181818!important;
    	color: #51a33d!important;
    	outline: #51a33d!important;
    	border: 1px solid #51a33d!important
	}
	/*Sidebar*/
	div.sidebar
	{
    	background: #111111
	}
	ul
	{
    	color: #CCCCCC !important;
	}

	a:hover, a:visited:hover
	{
    	color: #51a33d!important;
    	opacity: 1 !important;
	}
	/*login*/
	.btn-auth, input#login-existing, input#password-existing, input[type="submit"]
	{
    	background-color: #181818 !important;
    	border-color: #2B6497 !important;
    	color: #CCCCCC !important;
	}
	.btn-auth:hover, input[type="submit"]:hover
	{
    	background-color:  #2B6497 !important;
    	border-color: #2B6497 !important;
    	color: #E2B05A!important;
	}
	input#remember-normal
	{
    	filter: invert(100%);
	}
	a.btn-auth:visited
	{
    	color: #CCCCCC !important;
	}
	/*Input Fields*/
	input:not([class*="color"]):not([class*="css-rsyb7x"]), textarea
	{
    	background-color: #343a40!important ;
    	border: 1px solid #51a33d ;
    	color: #CCCCCC!important;
	}
	/*Search*/
	input.DateBox, input.InputBox, input.SmallInput, textarea
	{
    	background-color: #181818 !important;
    	color: #EFF0F1 !important;
	}
	#search_input input
	{
    	border: none !important;
	}
    
	/*Tables*/
	table, td
	{
    	background-color: #343a40;
    	border-bottom: 1px solid #333!important;
    	border-color: #333!important
	}
	th
	{
    	background-color: #51a33d !important;
    	text-shadow: none !important
	}
	div.column
{
	color: #d7d7d7!important;
	text-shadow: none!important
}
	li.title
{
	background-color: #51a33d!important;
	text-shadow: none !important
}
	/*Schedule*/
	.card-section
{
	background-color: #343a40!important;
}
	.header, div.container-header
{
	color: #AFAFAF!important
}
	div.user-col, .small-col
{
	text-shadow: none !important; color: #ddd!important
}
	/*Weekly vs Actual*/
	.weekly-scheduled-vs-actual-container
{
	background-color: #343a40!important;
}
	span.labor-forecast-text, span.date-range-text, span.updated-text, div.float-fix, div.number
{  
	color: #A9A9A9!important
}
	/*Scheduler*/
	div.panel, .mx-0, .sidebar
{
	background-color: #343a40!important
}
	div.modal-content
{
	background-color: #333;
}
	h5.modal-title
{
 	color: #d7d7d7!important
}
	.schedule-row-container, .schedule-cell
{
	border-color: #444!important
}
	div.schedule-header, div.header-date-col
{
	background-color: #51a33d!important;
	text-shadow: none!important
}
	/*Requests page*/
	strong
{
	color: #A9A9A9!important
}

	/*Tomorrow Column*/
	span.hour-col.tomorrow
{
 	background-color: #121212!important
}
	/*Scheduler: Date*/
	div.date
{
	color: #d7d7d7!important
}
	/*Scheduler: Today*/
	.schedule-cell.today
{
	background-color: #434724!important
}
	/*Scheulder: OpenShifts*/
	div.openshift, div#user-row-0
{
	background-color: #22371d
}
	/*Scheduler: Office Closed backgrounds*/
	div.col[style="background-color: rgb(251, 235, 233);"]
{
	background-color: #5f332f!important
}
	div.col[style="background-color: rgb(255, 248, 235);"]
{
	background-color: rgb(104, 88, 57)!important
}
	div.col[style="background-color: rgb(255, 255, 255);"]
{
	background-color: rgb(118, 118, 118)!important
}
	div.col[style="background-color: rgb(237, 245, 245);"]
{
	background-color: rgb(55, 102, 102)!important
}
	div.col[style="background-color: rgb(238, 246, 252);"]
{
	background-color: rgb(39, 67, 89)!important
}
	div.col[style="background-color: rgb(240, 235, 255);"]
{
	background-color: rgb(81, 71, 109)!important
}
	div.col[style="background-color: rgb(249, 255, 235);"]
{
	background-color: rgb(46, 65, 29)!important
}
	div.col[style="background-color: rgb(235, 238, 255);"]
{
	background-color: rgb(47, 53, 84)!important
}
/*Scheduler: Sidebar*/
	div.col-2.sidebar-container-new-filters
{
	background-color: #333!important
}
	li.list-group-item, .sidebar-container-new-filters, .schedule-sidebar, label, span.list-title
{
	background-color: #343a40!important;
	color: #d7d7d7!important;
}
	h5.show-cursor:hover, h5.show-cursor:focus
{
	color: #51a33d!important
}
	div.entity-name
{
	color: #d7d7d7!important
}
	div.entity-name:hover, div.entity-name:focus
{
	color: #51a33d!important
}
	div.css-1aya2g8, div.css-1rtrksz, div.Select__control
{
	background-color: #333!important;
}
	div.Select__single-value
{
	color: #d7d7d7!important
}
	div.css-rsyb7x
{
	border: none;
	background: none
}
/*Background*/
	body.bg-white
{
	background-color: #333!important
}
/*Time Off Requests*/
	i.fa.fa-caret-left
{
	color: #333!important
}
	div.request-name, div.type-col, div.col-2.request-col, div.request.request-on-col, div.request-date, div.user-details,  h1
{
	color: #d7d7d7!important
}
	section.detailed-request-head, section.time-off-totals, section.conversations
{
	background-color: #343a40!important;
	color: #d7d7d7;
}
	div.message.user-created, .message div
{
	background-color: #333!important;
	color: #eee
}
	div.request-list-header
{
	background-color: #51a33d!important;
	color: #fff!important
}
/*Settings: Job Sites, Positions*/
	div.col-md-auto, div.panel-title
{
	color: #eee
}
	div.panel-list-header.site-row, div.panel-list-header.position-row
{
	background-color: #51a33d!important;
	color: #fff!important
}
	li.site-row.panel-list-item, li.position-row.panel-list-item, div.header
{
	background-color: #343a40!important
}
	.controller-employees .table-list li.user-row.checked .column
{
	background-color: #51a33d!important
}
	div.search
{
	background-color: #333
}
	div.documentation-reminder, div.info-row
{
	background: #333!important
}
/*Availability*/
	span.title
{
	color: #d7d7d7
}
	div.header .flexColumn
{
	background-color: #51a33d!important;
	color: #eee!important
}
	.day.past
{
	background-color: #555!important
}
	div.popover, h3.popover-header
{
	background-color: #333!important;
	color: #d7d7d7!important
}
	.DayPicker-Day, .DayPicker-Week
{
	color: #d7d7d7
}
	.DayPicker-Day--today
{
	color: #5d8d52!important
}
	.DayPicker-Day:hover:not([aria-disabled="true"])
{
	color: #105300!important
}
/*App Settings*/
	h4.mb-0.text-uppercase.text-dark-gray
{
	color: #d7d7d7!important
}