 /* ==UserStyle==
@name Workast Dark Theme
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Workast-Dark-Theme.user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
root {
	--main-color: #00ADEE
}
body > * > *:not(:empty) {
	background-color: #222
}
body > * > * > * > *:not(:empty):not([class*="header"]) {
	background-color: #212121!important
}
body > * > * > * > * > *:not(:empty):not([class*="content-header"]) {
	background-color: #282828!important
}
body > * > * > * > * > * *:not([class*="Selected"]):not([type*="checkbox"]):not([style]) {
	background: #2828287a;
	text-shadow: none!important
}
.content-header-default{background-color: #057}
.my-tasks__background-green {background-color: #071!important}
.my-tasks__background-red {background-color: #700!important}
.my-tasks__background-blue {background-color: #007!important}
body a:hover,
body a:hover * {
	color: #f05152!important;
	text-decoration: underline!important
}
body h1,
body h1 *,
body h2,
body h2 *,
p > strong:only-of-type,
p > b:only-of-type {
	color: #f05152!important
}
.task-list__item:focus, .task-list__item:hover {background: #001; color: #bdf}
.material-icons {color:#fff}
.task-list__item {background: #322}
.task-list__item, zlp-task {color: #ccc}
span {color: #fff!important}
button {color: #fff!important}
button:hover {color: #f05152!important}
header, nav.navbar {background: #f05152!important}