 /* ==UserStyle==
@name Zebra TDMS tighter + easier to read
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Zebra-TDMS-tighter-+-easier-to-read.user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
 /* !!!  fits more of Zebra’s internal test management system (TDMS) on screen  !!! */
/*                                                                                 */
/*  Updated for TDMS Version 7 (work in progress)                                  */

Html, body {
    font-size: .8rem;
}    

/*  ‘webkit-scrollbar’ is not supported by Firefox, IE or Edge (V44)   */
/*  the default scrollbars are very thin and their colors are not      */
/*  accessibility-compliant (low contrast), presuming all users to be  */
/*  wielding mice equipped with scroll-wheels (and not, for example,   */
/*  a trackpad). This tweak enlarges the scrollbars & boosts contrast. */

::-webkit-scrollbar {
    width: 20px;
    height: 10px;
    background: #777;
}

::-webkit-scrollbar-thumb { 
    background: #029312;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb:hover {
    background: #0dfb28;
}



/*  Shrinking and compacting fonts tables and line heights to fit more info on screen  */

#main {
    font-family: Arial !important;
}

.nav-primary li {
	Line-height: 1.0;
	
}

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
    -webkit-border-horizontal-spacing: 1px;
    -webkit-border-vertical-spacing: 1px;
    border-color: grey;
}

.leftBlock {
    padding: 1px;
}


.RadComboBoxDropDown_Material .rcbItem>label, .RadComboBoxDropDown_Material .rcbHovered>label, .RadComboBoxDropDown_Material .rcbSelected>label, .RadComboBoxDropDown_Material .rcbDisabled>label, .RadComboBoxDropDown_Material .rcbCheckAllItems>label, .RadComboBoxDropDown_Material .rcbCheckAllItemsHovered>label { 
    padding: 2px 4px!important;
}

.RadGrid .t-font-icon {
    height: .8rem;
    width: 1rem;
    min-width: 1rem;
}

.RadGrid_Material { 
    padding: 1px 1px;
    font-size: .8rem;
}


.RadGrid_Material .rgRow .t-button {
    font-size: .8rem;
    line-height: .8rem;
}


.RadGrid_Material .t-button {
    padding: 1px;
    border-radius: 50px;
}


.RadGrid_Material .rgHeader { padding: 1px 1px; }

.RadGrid_Material .rgRow>td { 
    padding: 1px 1px; 
    font-size: .8rem;
    line-height: .8rem;
}

.RadGrid_Material .rgAltRow>td {  
    padding: 1px 1px; 
    font-size: .8rem;
    line-height: 1.0;
    background: #efefef;
}

.RadGrid_Material .rgCommandCell .t-button {
	padding: 3px;
}	

t-text rgButtonText {
	Font-size: .8rem;
}




/*  Enables alternate row shading in tables for ease of use  */

.RadGrid_MetroTDMS .rgAltRow {background: #eeeeee;}





/*  Fixes "disappearance" of Test Areas on mouseover when   */
/*  copying Test Cases From Another Project/Platform        */


.RadTreeView_Metro .rtIn { color: #222;}

.RadTreeView_Metro .rtHover .rtIn { color: #25a0da;}




/* Sadly, ctl00_ContentPlaceHolder1_chkProjectTests, ctl00_ContentPlaceHolder1_cbScopeSelection, and ctl00_ContentPlaceHolder1_cbNewTests are ALSO styled INLINE and cannot be tightened. */

/*  The following were tweaks for TDMS prior to V7 and do not apply as well now.
/*  Keeping them here for future reference.  

ctl00_ContentPlaceHolder1_RadGridTest .RadGrid RadGrid_MetroTDMS {
    line-height: 10px;
}


.TileTitle { font-size: 1.1rem; }

.RadAjaxPanel {
    font-size: .8rem !important;
    line-height: .8em !important;
    overflow: visible;
}


.RadTreeView .rtIn {
    padding: 1px;
}


.RadTreeView_MetroTDMS {
    font-size: .65rem !important;
    font-family: Arial !important;
}

.RadGrid_MetroTDMS .rgMasterTable, .RadGrid_MetroTDMS .rgDetailTable, .RadGrid_MetroTDMS .rgGroupPanel table, .RadGrid_MetroTDMS .rgCommandRow table, .RadGrid_MetroTDMS .rgEditForm table, .RadGrid_MetroTDMS .rgPager table {
    font-size: 9px;
    line-height: 1.0rem;
}

.RadGrid_MetroTDMS .rgRow > td, .RadGrid_MetroTDMS .rgAltRow > td, .RadGrid_MetroTDMS .rgEditRow > td {
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    font-family: Ubuntu Light;
    font-size: 10px;
}

.RadDropDownList{
   width: 130px;
   line-height: 1.0;
   text-align: center;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   cursor: default;
}

.RadDropDownList .rddlInner {
    padding: 1px;
}

.RadDropDownList .rddlFakeInput {
   margin: 0;
   padding: 0;
   width: 100%;
   font-size: 9px;
   display: block;
   overflow: hidden;
}

th.rgHeader {
    padding-left: 2px;
}

.RadGrid .rgHeader {
    padding: 1px;
    text-align: center;
}

.RadGrid_MetroTDMS .rgHeader:first-child, .RadGrid_MetroTDMS th.rgResizeCol:first-child, .RadGrid_MetroTDMS .rgFilterRow > td:first-child, .RadGrid_MetroTDMS .rgRow > td:first-child, .RadGrid_MetroTDMS .rgAltRow > td:first-child {
    Padding-left: 2px;
}

.RadGrid_MetroTDMS .rgHeader {
    font-size: 10px;
}

.RadGrid .rgFilterRow>td {
    padding: 1px;
}
.RadDropDownList {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 13px;
    display: block;
    overflow: hidden;
}

.rddlPopup .rddlItem {
    margin: 0;
    padding: 0;
    min-height: 11px;
}

.rddlPopup_MetroTDMS {
    border-color: #cdcdcd;
    color: #000;
    background-color: #fff;
    font-size: 10px;
    font-family: Ubuntu Light;
}


.rtIn {
    padding: 1px;
    line-height: .6rem;
    font-size: .6rem !important;
}

*/

/* this tweak is great but it messes up the bottom-most row, unfortunately; leaving it here to improve in the future...   
/* tbody td {width:90%;} */

