 /* ==UserStyle==
@name Zebra Jira Smaller and Tighter
@namespace gitlab.com/JasonAspire/Style
@homepageURL https://gitlab.com/JasonAspire/Style
@version 1.0.8
@updateURL https://www.gitlab.com/JasonAspire/Style/-/blob/master/Stylus%20CSS/Zebra-Jira-Smaller-and-Tighter.user.css
@description Todo 
@author Lauren Birnhak
@license GNU-V3.0
==/UserStyle== */
/*
/*   Fit more of Zebra's Jira pages on your display!
/*   (a work in progress by MAshburne)
*/

body {  font-size: .8rem;
        line-height: 1rem;
}

/*
/*   This is bug title in the 3rd pane
*/

.adg3 .aui-page-header #summary-val {
        font-size: 1rem;
        line-height: 1.2rem;
}

/*
/*   Shrinks the Issues and filters in the 2nd pane
*/

.css-1t5na7c.css-1t5na7c {
        height: 1.5rem;
        padding-left: 6px;
        padding-right: 6px;
}

.css-e1qto2 {
        line-height: 1rem;
}

